<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PlanoDeAcaoEntities" connectionString="metadata=res://*/PAEfContext.csdl|res://*/PAEfContext.ssdl|res://*/PAEfContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERGRT\MSSQLSERVER2014;initial catalog=PlanoDeAcao;persist security info=True;user id=sa;password=1qazmko0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlanoConnection" connectionString="metadata=res://*/PaEfConenction.csdl|res://*/PaEfConenction.ssdl|res://*/PaEfConenction.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERGRT\MSSQLSERVER2014;initial catalog=PlanoDeAcao;persist security info=True;user id=sa;password=1qazmko0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--HML--><!--
    <add name="SgqDbDev" connectionString="data source=10.255.0.41;initial catalog=dbGQualidadeTeste;persist security info=True;user id=UserGQualidade;password=grJsoluco3s;" providerName="System.Data.SqlClient" />
    --><!--PROD--><!--
    <add name="SgqDbDev" connectionString="data source=10.255.0.16;initial catalog=dbGQualidade;persist security info=True;user id=UserGQualidade;password=grJsoluco3s;" providerName="System.Data.SqlClient" />-->

    <!--CONNEXOES SERVIDORES BRASIL-->
    <add name="SgqDbDev" connectionString="data source=SERVERGRT\MSSQLSERVER2014;initial catalog=SgqDbDev;persist security info=True;user id=sa;password=1qazmko0;" providerName="System.Data.SqlClient" />
    <add name="PlanoDeAcao" connectionString="data source=SERVERGRT\MSSQLSERVER2014;initial catalog=PlanoDeAcao;persist security info=True;user id=sa;password=1qazmko0;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>