@{
    Layout = "Index.cshtml";
}

<strong>Lista de status dos dados gerados por unidade (Comunicação com o Tablet)</strong>

<table class="table" id="tableAllUnitTelaTablete">

    <tr>
        <th></th>
        <th>ID</th>
        <th>Nome</th>
        <th>Data Inicial</th>
        <th>Data final</th>
        <th>Status</th>
    </tr>
    <tr data-unit-id="7">
        <td><input type="checkbox" value="7" name="unitId"></td>
        <td>7</td>
        <td>Água Boa</td>
        <td>21/02/2018 15:19</td>
        <td></td>
        <td>PROCESSANDO</td>
    </tr>
    <tr data-unit-id="8">
        <td><input type="checkbox" value="8" name="unitId"></td>
        <td>8</td>
        <td>Alta Floresta</td>
        <td>21/02/2018 15:19</td>
        <td></td>
        <td>PROCESSANDO</td>
    </tr>
    <tr data-unit-id="9">
        <td><input type="checkbox" value="9" name="unitId"></td>
        <td>9</td>
        <td>Amargosa</td>
        <td>21/02/2018 15:19</td>
        <td></td>
        <td>PROCESSANDO</td>
    </tr>
    <tr data-unit-id="10">
        <td><input type="checkbox" value="10" name="unitId"></td>
        <td>10</td>
        <td>Anastácio</td>
        <td>21/02/2018 15:19</td>
        <td></td>
        <td>PROCESSANDO</td>
    </tr>
    <tr data-unit-id="11">
        <td><input type="checkbox" value="11" name="unitId"></td>
        <td>11</td>
        <td>Andradina</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="12">
        <td><input type="checkbox" value="12" name="unitId"></td>
        <td>12</td>
        <td>Araguaína</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="13">
        <td><input type="checkbox" value="13" name="unitId"></td>
        <td>13</td>
        <td>Araputanga</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="14">
        <td><input type="checkbox" value="14" name="unitId"></td>
        <td>14</td>
        <td>Barra do Garças</td>
        <td>21/02/2018 15:19</td>
        <td></td>
        <td>PROCESSANDO</td>
    </tr>
    <tr data-unit-id="2">
        <td><input type="checkbox" value="2" name="unitId"></td>
        <td>2</td>
        <td>Barretos</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="15">
        <td><input type="checkbox" value="15" name="unitId"></td>
        <td>15</td>
        <td>Cachoeira Alta</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="4">
        <td><input type="checkbox" value="4" name="unitId"></td>
        <td>4</td>
        <td>Campo Grande I</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="5">
        <td><input type="checkbox" value="5" name="unitId"></td>
        <td>5</td>
        <td>Campo Grande II</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="49">
        <td><input type="checkbox" value="49" name="unitId"></td>
        <td>49</td>
        <td>Campo Grande II Supergelados</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="16">
        <td><input type="checkbox" value="16" name="unitId"></td>
        <td>16</td>
        <td>Cassilândia</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="17">
        <td><input type="checkbox" value="17" name="unitId"></td>
        <td>17</td>
        <td>Colider</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="18">
        <td><input type="checkbox" value="18" name="unitId"></td>
        <td>18</td>
        <td>Confresa</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="19">
        <td><input type="checkbox" value="19" name="unitId"></td>
        <td>19</td>
        <td>Coxim</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="20">
        <td><input type="checkbox" value="20" name="unitId"></td>
        <td>20</td>
        <td>Cuiabá</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="21">
        <td><input type="checkbox" value="21" name="unitId"></td>
        <td>21</td>
        <td>Diamantino</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="52">
        <td><input type="checkbox" value="52" name="unitId"></td>
        <td>52</td>
        <td>Empresa Padrão</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="22">
        <td><input type="checkbox" value="22" name="unitId"></td>
        <td>22</td>
        <td>Goiânia</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="23">
        <td><input type="checkbox" value="23" name="unitId"></td>
        <td>23</td>
        <td>Iguatemi</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="24">
        <td><input type="checkbox" value="24" name="unitId"></td>
        <td>24</td>
        <td>Itapetinga</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="25">
        <td><input type="checkbox" value="25" name="unitId"></td>
        <td>25</td>
        <td>Ituiutaba</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="26">
        <td><input type="checkbox" value="26" name="unitId"></td>
        <td>26</td>
        <td>Iturama</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="27">
        <td><input type="checkbox" value="27" name="unitId"></td>
        <td>27</td>
        <td>Juara</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="28">
        <td><input type="checkbox" value="28" name="unitId"></td>
        <td>28</td>
        <td>Juína</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="1">
        <td><input type="checkbox" value="1" name="unitId"></td>
        <td>1</td>
        <td>Lins</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="29">
        <td><input type="checkbox" value="29" name="unitId"></td>
        <td>29</td>
        <td>Marabá</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="30">
        <td><input type="checkbox" value="30" name="unitId"></td>
        <td>30</td>
        <td>Matupá</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="31">
        <td><input type="checkbox" value="31" name="unitId"></td>
        <td>31</td>
        <td>Mozarlândia</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="32">
        <td><input type="checkbox" value="32" name="unitId"></td>
        <td>32</td>
        <td>Naviraí</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="33">
        <td><input type="checkbox" value="33" name="unitId"></td>
        <td>33</td>
        <td>Nova Andradina</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="34">
        <td><input type="checkbox" value="34" name="unitId"></td>
        <td>34</td>
        <td>Pedra Preta</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="35">
        <td><input type="checkbox" value="35" name="unitId"></td>
        <td>35</td>
        <td>Pimenta Bueno</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="36">
        <td><input type="checkbox" value="36" name="unitId"></td>
        <td>36</td>
        <td>Ponta Porã</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="37">
        <td><input type="checkbox" value="37" name="unitId"></td>
        <td>37</td>
        <td>Pontes e Lacerda</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="38">
        <td><input type="checkbox" value="38" name="unitId"></td>
        <td>38</td>
        <td>Porto Velho</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="39">
        <td><input type="checkbox" value="39" name="unitId"></td>
        <td>39</td>
        <td>Redenção</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="40">
        <td><input type="checkbox" value="40" name="unitId"></td>
        <td>40</td>
        <td>Rio Branco</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="41">
        <td><input type="checkbox" value="41" name="unitId"></td>
        <td>41</td>
        <td>Rolim de Moura</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="42">
        <td><input type="checkbox" value="42" name="unitId"></td>
        <td>42</td>
        <td>Santa Fé do Sul</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="43">
        <td><input type="checkbox" value="43" name="unitId"></td>
        <td>43</td>
        <td>Santana do Araguaia</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="44">
        <td><input type="checkbox" value="44" name="unitId"></td>
        <td>44</td>
        <td>São Miguel do Guaporé</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="45">
        <td><input type="checkbox" value="45" name="unitId"></td>
        <td>45</td>
        <td>Senador Canedo</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="46">
        <td><input type="checkbox" value="46" name="unitId"></td>
        <td>46</td>
        <td>Tucumã</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>
    <tr data-unit-id="47">
        <td><input type="checkbox" value="47" name="unitId"></td>
        <td>47</td>
        <td>Vilhena</td>
        <td></td>
        <td></td>
        <td>PENDENTE</td>
    </tr>

</table>

<div class="height-fix avoid-break-page">
    <table border="0" cellspacing="0" cellpadding="1" style="width:100%;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size:10px;">
        <tbody>
            <tr>
                <td><strong>Assinatura dos responsáveis pela avaliação deste relatório.</strong></td>
            </tr>
            <tr><td height="30px;"></td></tr>
            <tr>
                <td height="20px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;">
                        <tbody>
                            <tr>
                                <td height="20px" width="15%" align="center"></td>
                                <td width="30%" align="center" style="border-bottom:1px solid black"></td>
                                <td width="10%" align="center"></td>
                                <td width="30%" align="center" style="border-bottom:1px solid black"></td>
                                <td width="15%" align="center"></td>
                            </tr>
                            <tr>
                                <td height="40px" width="15%" align="center"></td>
                                <td width="30%" align="center">Monitor GQ</td>
                                <td width="10%" align="center"></td>
                                <td width="30%" align="center">Estoque Físico<br>&nbsp;</td>
                                <td width="15%" align="center"></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><td height="30px;"></td></tr>
            <tr>
                <td height="20px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;">
                        <tbody>
                            <tr>
                                <td height="20px" width="15%" align="center"></td>
                                <td width="30%" align="center" style="border-bottom:1px solid black"></td>
                                <td width="10%" align="center"></td>
                                <td width="30%" align="center" style="border-bottom:1px solid black"></td>
                                <td width="15%" align="center"></td>
                            </tr>
                            <tr>
                                <td height="20px" width="15%" align="center"></td>
                                <td width="30%" align="center">Gerente Industrial</td>
                                <td width="10%" align="center"></td>
                                <td width="30%" align="center">Garantia da Qualidade</td>
                                <td width="15%" align="center"></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><td><div id="divRodape"><table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;"></table></div></td></tr>
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $('body').on('click', '#btnPrint', function () {
            PrepararImpressao(
                'Relatório de status das Unidades',
                "Leonardo Matheus Trench",
                "Gabriel Nunes",
                "Relatório geradado: <u>22/02/2018 16:33</u>",
                'contentBody',
                "../Imagens/logo-jbs.png",
                "../Imagens/logo-gq.png");
        });
    </script>
}

