@using PlanoDeAcaoMVC.Helpers

<footer>
    <label class="pull-right">Version: @Html.AssemblyVersion()</label>
    <label class="pull-right" style="margin-right: 30px;">&copy; @DateTime.Now.Year - GRT </label>
</footer>