<!--
@{
    Layout = null;
}
    -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatorios - Plano de Ação</title>

    @*<script src="https://code.jquery.com/jquery-1.11.3.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @*<script src="https://code.highcharts.com/highcharts.js"></script>*@
    @*<script src="https://code.highcharts.com/modules/exporting.js"></script>*@
    <script src="~/Scripts/Reports/ReportsHC.js"></script>

    <link href="~/Content/Reports/Reports1.css" rel="stylesheet" />
    <script src="~/Scripts/Reports/Reports1.js"></script>

    @* <!-- Bootstrap core CSS -->
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    *@


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    @*<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Font Awesome -->
    @*<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">*@

    @*<script src="https://use.fonticons.com/ffe176a3.js"></script>*@

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>*@

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            //$('#exampleTD1').DataTable();
        });

    </script>

    <style>
        .panel-title {
            font-size: small;
        }
    </style>

</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" style="display:inline-block; padding:2px;"><img src="http://www.systems2win.com/images/illustrations/PDCA-notext-200.png" style="height:45px;" /> </div>

                <div class="navbar-brand" style="display:inline-block; margin-left:5px;"><a href="#" style="font-family:'Century Gothic'; font-size:20px; font-weight:bold; color:#080533;">Plano de Ação</a></div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!--<ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="#">By GRJ Soluções</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="margin-top:20px;">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-lg-4" style="min-height:500px;">

                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align:center;">
                        <h3 class="panel-title">Situação geral das ações no período</h3>
                    </div>
                    <div>
                        <label>Data Inicio</label>
                        <input type="text" class="datepicker" />
                        <label>Data Fim</label>
                        <input type="text" class="datepicker" />

                        <label>Outro</label>

                    </div>
                    <div class="panel-body">
                        <div id="divPie" style="height:215px;"></div>

                        <div class="col-xs-6 col-sm-6 ">

                            <div class="panel panel-default" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                                <div class="panel-body">
                                    <div style="height:98px;">
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <i class="fa fa-thumbs-up fa-3" aria-hidden="true" style="font-size:30px; color: green"></i>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span id="acoesConcluidas" style="font-size:25px; font-weight:bold; color:#444;"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span style="font-size: 10px;">Ações concluídas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="col-xs-6 col-sm-6 ">

                            <div class="panel panel-default" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                                <div class="panel-body">
                                    <div style="height:98px;">
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <i class="fa fa-thumbs-down fa-3" aria-hidden="true" style="font-size:30px; color:red"></i>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span id="acoesAtrasadas" style="font-size:25px; font-weight:bold; color:#444;"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span style="font-size: 10px;">Ações Atrasadas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6 col-sm-6 ">

                            <div class="panel panel-default" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                                <div class="panel-body">
                                    <div style="height:98px;">
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <i class="fa fa-calendar fa-3" aria-hidden="true" style="font-size:30px;"></i>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span id="acoesAVencer" style="font-size:25px; font-weight:bold; color:#444;"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span style="font-size: 10px;">Ações a vencer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-6 col-sm-6 ">

                            <div class="panel panel-default" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                                <div class="panel-body">
                                    <div style="height:98px;">
                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <i class="fa fa-users fa-3" aria-hidden="true" style="font-size:30px;"></i>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span id="pessoasEnvolvidas" style="font-size:25px; font-weight:bold; color:#444;"></span>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 " style="padding:0; text-align:center;">
                                            <span style="font-size: 10px;">Pessoas envolvidas</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-lg-8">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="divBar" style="height:250px;"></div>
                    </div>
                </div>


            </div>


            <div class="col-xs-12 col-sm-6 col-lg-8 ">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="divCol" style="height:250px;"></div>
                    </div>
                </div>


            </div>


        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 ">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Estoque de ações</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-3" id="divEstoque1" style="height:200px;"></div>
                            <div class="col-xs-12 col-md-3" id="divEstoque2" style="height:200px;"></div>

                            <div class="col-xs-12 col-md-6" id="divEstoque3" style="height:200px;"></div>
                        </div>
                    </div>


                </div>


            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 ">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Meus indicadores</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-12" id="divIndicador" style="height:300px;"></div>
                        </div>
                    </div>


                </div>


            </div>

        </div>

        <!--modallllll-->
        <div class="modal fade in" role="dialog" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;">
            <div class="modal-dialog" role="document" style="width:100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Ações Concluídas</h4>
                    </div>
                    <div class="modal-body" style="overflow-x:auto;">


                        <table id="exampleTD1" class="display" cellspacing="0" width="100%"><thead><tr><th>Name</th><th>Position</th><th>Office</th><th>Salary</th></tr></thead><tbody><tr><td>Tiger Nixon</td><td>System Architect</td><td>Edinburgh</td><td>$320,800</td></tr><tr><td>Garrett Winters</td><td>Accountant</td><td>Tokyo</td><td>$170,750</td></tr><tr><td>Ashton Cox</td><td>Junior Technical Author</td><td>San Francisco</td><td>$86,000</td></tr><tr><td>Cedric Kelly</td><td>Senior Javascript Developer</td><td>Edinburgh</td><td>$433,060</td></tr><tr><td>Airi Satou</td><td>Accountant</td><td>Tokyo</td><td>$162,700</td></tr><tr><td>Brielle Williamson</td><td>Integration Specialist</td><td>New York</td><td>$372,000</td></tr><tr><td>Herrod Chandler</td><td>Sales Assistant</td><td>San Francisco</td><td>$137,500</td></tr><tr><td>Rhona Davidson</td><td>Integration Specialist</td><td>Tokyo</td><td>$327,900</td></tr><tr><td>Colleen Hurst</td><td>Javascript Developer</td><td>San Francisco</td><td>$205,500</td></tr><tr><td>Sonya Frost</td><td>Software Engineer</td><td>Edinburgh</td><td>$103,600</td></tr><tr><td>Jena Gaines</td><td>Office Manager</td><td>London</td><td>$90,560</td></tr><tr><td>Quinn Flynn</td><td>Support Lead</td><td>Edinburgh</td><td>$342,000</td></tr><tr><td>Charde Marshall</td><td>Regional Director</td><td>San Francisco</td><td>$470,600</td></tr><tr><td>Haley Kennedy</td><td>Senior Marketing Designer</td><td>London</td><td>$313,500</td></tr><tr><td>Tatyana Fitzpatrick</td><td>Regional Director</td><td>London</td><td>$385,750</td></tr><tr><td>Michael Silva</td><td>Marketing Designer</td><td>London</td><td>$198,500</td></tr><tr><td>Paul Byrd</td><td>Chief Financial Officer (CFO)</td><td>New York</td><td>$725,000</td></tr><tr><td>Gloria Little</td><td>Systems Administrator</td><td>New York</td><td>$237,500</td></tr><tr><td>Bradley Greer</td><td>Software Engineer</td><td>London</td><td>$132,000</td></tr><tr><td>Dai Rios</td><td>Personnel Lead</td><td>Edinburgh</td><td>$217,500</td></tr><tr><td>Jenette Caldwell</td><td>Development Lead</td><td>New York</td><td>$345,000</td></tr><tr><td>Yuri Berry</td><td>Chief Marketing Officer (CMO)</td><td>New York</td><td>$675,000</td></tr><tr><td>Caesar Vance</td><td>Pre-Sales Support</td><td>New York</td><td>$106,450</td></tr><tr><td>Doris Wilder</td><td>Sales Assistant</td><td>Sidney</td><td>$85,600</td></tr><tr><td>Angelica Ramos</td><td>Chief Executive Officer (CEO)</td><td>London</td><td>$1,200,000</td></tr><tr><td>Gavin Joyce</td><td>Developer</td><td>Edinburgh</td><td>$92,575</td></tr><tr><td>Jennifer Chang</td><td>Regional Director</td><td>Singapore</td><td>$357,650</td></tr><tr><td>Brenden Wagner</td><td>Software Engineer</td><td>San Francisco</td><td>$206,850</td></tr><tr><td>Fiona Green</td><td>Chief Operating Officer (COO)</td><td>San Francisco</td><td>$850,000</td></tr><tr><td>Shou Itou</td><td>Regional Marketing</td><td>Tokyo</td><td>$163,000</td></tr><tr><td>Michelle House</td><td>Integration Specialist</td><td>Sidney</td><td>$95,400</td></tr><tr><td>Suki Burks</td><td>Developer</td><td>London</td><td>$114,500</td></tr><tr><td>Prescott Bartlett</td><td>Technical Author</td><td>London</td><td>$145,000</td></tr><tr><td>Gavin Cortez</td><td>Team Leader</td><td>San Francisco</td><td>$235,500</td></tr><tr><td>Martena Mccray</td><td>Post-Sales support</td><td>Edinburgh</td><td>$324,050</td></tr><tr><td>Unity Butler</td><td>Marketing Designer</td><td>San Francisco</td><td>$85,675</td></tr><tr><td>Howard Hatfield</td><td>Office Manager</td><td>San Francisco</td><td>$164,500</td></tr><tr><td>Hope Fuentes</td><td>Secretary</td><td>San Francisco</td><td>$109,850</td></tr><tr><td>Vivian Harrell</td><td>Financial Controller</td><td>San Francisco</td><td>$452,500</td></tr><tr><td>Timothy Mooney</td><td>Office Manager</td><td>London</td><td>$136,200</td></tr><tr><td>Jackson Bradshaw</td><td>Director</td><td>New York</td><td>$645,750</td></tr><tr><td>Olivia Liang</td><td>Support Engineer</td><td>Singapore</td><td>$234,500</td></tr><tr><td>Bruno Nash</td><td>Software Engineer</td><td>London</td><td>$163,500</td></tr><tr><td>Sakura Yamamoto</td><td>Support Engineer</td><td>Tokyo</td><td>$139,575</td></tr><tr><td>Thor Walton</td><td>Developer</td><td>New York</td><td>$98,540</td></tr><tr><td>Finn Camacho</td><td>Support Engineer</td><td>San Francisco</td><td>$87,500</td></tr><tr><td>Serge Baldwin</td><td>Data Coordinator</td><td>Singapore</td><td>$138,575</td></tr><tr><td>Zenaida Frank</td><td>Software Engineer</td><td>New York</td><td>$125,250</td></tr><tr><td>Zorita Serrano</td><td>Software Engineer</td><td>San Francisco</td><td>$115,000</td></tr><tr><td>Jennifer Acosta</td><td>Junior Javascript Developer</td><td>Edinburgh</td><td>$75,650</td></tr><tr><td>Cara Stevens</td><td>Sales Assistant</td><td>New York</td><td>$145,600</td></tr><tr><td>Hermione Butler</td><td>Regional Director</td><td>London</td><td>$356,250</td></tr><tr><td>Lael Greer</td><td>Systems Administrator</td><td>London</td><td>$103,500</td></tr><tr><td>Jonas Alexander</td><td>Developer</td><td>San Francisco</td><td>$86,500</td></tr><tr><td>Shad Decker</td><td>Regional Director</td><td>Edinburgh</td><td>$183,000</td></tr><tr><td>Michael Bruce</td><td>Javascript Developer</td><td>Singapore</td><td>$183,000</td></tr><tr><td>Donna Snider</td><td>Customer Support</td><td>New York</td><td>$112,000</td></tr></tbody></table>

                        <script type="text/javascript">
                        // For demo to fit into DataTables site builder...
                        $('#exampleTD1').DataTable();

                        $('#exampleTD1')
                            .removeClass('display')
                            .addClass('table table-striped table-bordered');
                        </script>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    @*<script>window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>*@

    <script src="~/Scripts/Reports/Rewrer.js"></script>

    @*<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>*@
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @*<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>*@

</body>

</html>

<script>

    function InitDatePiker() {
        $('.datepicker').datepicker({
            startDate: 0,
            todayBtn: "linked",
            language: "pt-BR",
            multidate: false,
            todayHighlight: true
        });
    }

    function MapeiaValorParaHC(array, prop) {
        var arrayRetorno = $.map(array, function (o, c) {
            return o[prop];
        });
        return arrayRetorno;
    }

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    dadosPie = [
                { name: 'Ativo', y: 33 },
                { name: 'Ativo (Atrasado)', y: 21 },
                { name: 'Concluído (Prazo)', y: 17 },
                { name: 'Concluído (Atrasado)', y: 8 },
                { name: 'Replanejado', y: 4 },
                { name: 'Cancelado', y: 16 }
    ];

    acoesConcluidas = 25;
    acoesAtrasadas = 21;
    acoesAVencer = 10;
    pessoasEnvolvidas = 12;

    $('#acoesConcluidas').text(acoesConcluidas);
    $('#acoesAtrasadas').text(acoesAtrasadas);
    $('#acoesAVencer').text(acoesAVencer);
    $('#pessoasEnvolvidas').text(pessoasEnvolvidas);

    tituloXBar = 'Status das Ações';
    tituloXColumn = "Status das Ações";

    tituloYBar = 'Número de ações';
    tituloYColumn = 'Número de ações';

    tituloBar = 'Status das Ações por Indicadores';
    tituloColumn = 'Status das Ações por Responsável';

    categoriesBar = ['Indicador 1', 'Indicador 2', 'Indicador 3', ];
    categoriesColumn = ['Pessoa 1', 'Pessoa 2', 'Pessoa 3', ];

    //seriesBar = [{
    //    name: 'Ativo',
    //    data: [11, 20, 2]
    //}, {
    //    name: 'Ativo (Atrasado)',
    //    data: [7, 7, 7]
    //}, {
    //    name: 'Concluído (Prazo)',
    //    data: [1, 10, 6]
    //}, {
    //    name: 'Concluído (Atrasado)',
    //    data: [0, 4, 4]
    //}, {
    //    name: 'Replanejado',
    //    data: [2, 0, 2]
    //}, {
    //    name: 'Cancelado',
    //    data: [2, 6, 6]
    //}];
    function atualizar() {
        $.post('http://localhost:59907/api/Relatorios/GetGrafico1', { dataInicio: '20170201', dataFim: '20170401' }, function (r) {
            console.log(r);

            seriesBar = [];
            categoriesBar = MapeiaValorParaHC(r, "filtro");

            r.forEach(function (o, c) {
                var objSerie = {};
                objSerie["name"] = o.status;
                objSerie["data"] = MapeiaValorParaHC(r, "filtro");
                r.forEach(function (oo, cc) {
                    objSerie["data"][cc] = oo.quantidade;
                })
                seriesBar.push(objSerie);
            })
         Highcharts.chart('divBar', {
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            chart: {
                type: 'bar'
            },
            title: {
                text: tituloBar,
                style: {
                    fontSize: '14px',
                }
            },
            xAxis: {
                categories: categoriesBar,
                labels: {
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    }
                }
            },
            yAxis: {
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1],
                        fontSize: '8px',
                        fontWeight: 'normal'
                    }
                },
                min: 0,
                title: {
                    text: tituloXBar,
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    }
                }
            },
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal',
                itemStyle: {
                    fontSize: '10px',
                    fontWeight: 'normal',
                },
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: seriesBar
        });

        });

    }
    $(document).ready(function() {
       atualizar();
    })

    seriesBar = [{
        name: 'Ativo',
        data: [11, 20, 2]
    }, {
        name: 'Ativo (Atrasado)',
        data: [7, 7, 7]
    }, {
        name: 'Concluído (Prazo)',
        data: [1, 10, 6]
    }, {
        name: 'Concluído (Atrasado)',
        data: [0, 4, 4]
    }, {
        name: 'Replanejado',
        data: [2, 0, 2]
    }, {
        name: 'Cancelado',
        data: [2, 6, 6]
    }];

    seriesColumn = [{
        name: 'Ativo',
        data: [11, 20, 2]
    }, {
        name: 'Ativo (Atrasado)',
        data: [7, 7, 7]
    }, {
        name: 'Concluído (Prazo)',
        data: [1, 10, 6]
    }, {
        name: 'Concluído (Atrasado)',
        data: [0, 4, 4]
    }, {
        name: 'Replanejado',
        data: [2, 0, 2]
    }, {
        name: 'Cancelado',
        data: [2, 6, 6]
    }];

    meses = [
                    'Jan',
                    'Fev',
                    'Mar',
                    'Abr',
                    'Mai',
                    'Jun',
                    'Jul',
                    'Ago',
                    'Set',
                    'Out',
                    'Nov',
                    'Dez'
    ];

    acoesIniciadas = [1, 4, 8, 1, 1];
    acoesEncerradas = [0, 0, 1, 1, 2];



    // Build the chart
    Highcharts.chart('divPie', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            enabled: true,
            itemStyle: {
                fontSize: '10px',
                fontWeight: 'normal',
            },
        },
        title: {
            text: false
        },
        tooltip: {
            pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                showInLegend: true,
                dataLabels: {
                    enabled: false,
                    format: '{point.name}' + ': ' + '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        fontSize: '10px',
                        fontWeight: 'normal',
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: '',
            data: dadosPie
        }]
    });

    Highcharts.chart('divBar', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        chart: {
            type: 'bar'
        },
        title: {
            text: tituloBar,
            style: {
                fontSize: '14px',
            }
        },
        xAxis: {
            categories: categoriesBar,
            labels: {
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            }
        },
        yAxis: {
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '8px',
                    fontWeight: 'normal'
                }
            },
            min: 0,
            title: {
                text: tituloXBar,
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            itemStyle: {
                fontSize: '10px',
                fontWeight: 'normal',
            },
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: seriesBar
    });

    Highcharts.chart('divCol', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        chart: {
            type: 'column'
        },
        title: {
            text: tituloColumn,
            style: {
                fontSize: '14px',
            }
        },
        xAxis: {
            categories: categoriesColumn,
            labels: {
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            },
            title: {
                text: tituloYColumn,
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            }
        },
        yAxis: {
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '8px',
                    fontWeight: 'normal'
                }
            },
            min: 0,
            title: {
                text: tituloXColumn,
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'bottom',
            layout: 'horizontal',
            enabled: true,
            itemStyle: {
                fontSize: '10px',
                fontWeight: 'normal',
            },
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: seriesColumn
    });

    Highcharts.chart('divEstoque1', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        legend: {

            enabled: false,

        },

        chart: {
            type: 'column'
        },
        title: {
            text: 'Número de ações estabelecidas',
            style: {
                color: Highcharts.getOptions().colors[0],
                fontSize: '12px',
                fontWeight: 'bold'
            }

        },
        subtitle: {
            text: false
        },
        xAxis: {
            categories: meses,
            labels: {
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            },
            crosshair: true,
            title: {
                text: 'Mes de Início',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'
                }

            },
        },
        yAxis: {
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '8px',
                    fontWeight: 'normal'
                }
            },
            min: 0,

            title: {
                text: 'Número de ações',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'

                }
            },
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Tokyo',
            data: acoesIniciadas

        }]
    });

    Highcharts.chart('divEstoque2', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        legend: {

            enabled: false,

        },
        chart: {
            type: 'column'
        },

        title: {
            text: 'Número de ações concluídas',
            style: {
                color: Highcharts.getOptions().colors[0],
                fontSize: '12px',
                fontWeight: 'bold'
            }

        },
        subtitle: {
            text: false
        },

        xAxis: {
            categories: meses,
            labels: {
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            },
            crosshair: true,
            title: {
                text: 'Mes de Término',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'
                }

            },

        },
        yAxis: {
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '8px',
                    fontWeight: 'normal'
                }
            },
            min: 0,

            title: {
                text: 'Número de ações',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            },
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Tokyo',
            data: acoesEncerradas

        }]
    });

    Highcharts.chart('divEstoque3', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        chart: {
            zoomType: 'xy'
        },

        title: {
            text: 'Estoque de Ações',
            style: {
                color: Highcharts.getOptions().colors[0],
                fontSize: '12px',
                fontWeight: 'bold'
            }

        },
        subtitle: {
            text: false
        },

        xAxis: [{
            categories: meses,
            labels: {
                style: {
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            },
            crosshair: true,
            title: {
                text: 'Meses',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'
                }

            }

        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '8px',
                    fontWeight: 'normal'
                }
            },
            title: {
                text: 'Número de ações',
                style: {
                    color: Highcharts.getOptions().colors[1],
                    fontSize: '10px',
                    fontWeight: 'normal'
                }
            }
            //opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'horizontal',
            align: 'center',
            verticalAlign: 'bottom',
            itemStyle: {

                fontSize: '10px',
                fontWeight: 'normal'
            }
        },
        series: [{
            name: 'Iniciadas',
            type: 'column',
            data: [1, 5, 13, 14, 15],
            tooltip: {
                valueSuffix: ' mm'
            },
            color: Highcharts.getOptions().colors[2],

        }, {
            name: 'Concluídas',
            type: 'column',
            data: [0, 0, 1, 2, 4],
            tooltip: {
                valueSuffix: '°C'
            },
            color: Highcharts.getOptions().colors[3],
        }, {
            name: 'Acumuladas',
            type: 'spline',
            data: [1, 5, 12, 12, 11],
            tooltip: {
                valueSuffix: '°C'
            },
            color: Highcharts.getOptions().colors[0],
        }]
    });

    Highcharts.chart('divIndicador', {
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Evolução do Resultado vs Ações executadas'
        },
        subtitle: {
            text: false
        },
        xAxis: [{
            categories: meses,
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {

                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Resultado',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'Número de Ações',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {

                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'horizontal',
            align: 'center',

            verticalAlign: 'bottom',

            floating: false,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'Número de Ações Concluídas',
            type: 'spline',
            yAxis: 1,
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],


        }, {
            name: 'Meta',
            type: 'spline',
            data: [20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20],

        }, {
            name: 'Realizado',
            type: 'spline',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],

        }]
    });

    $('body .dropdown-toggle').dropdown();


</script>
