
<div class="wrapper">
    @Html.Partial("~/Views/Shared/_FormularioQueryData.cshtml")
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <p style="margin-left: -30px;margin-top: -17px;">
                        <button type="button" class="btn btn-primary btn-xs" style="position:fixed;" id="menu-toggle"><i class="glyphicon glyphicon-chevron-left"></i></button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="display: none" class="redLabelSecTitle">@ViewBag.Title</span>
                    </p>

                    <div id="body_FormularioQueryData"></div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#formBodyContent').appendTo($('#body_FormularioQueryData'));
    });

</script>
