
@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel

<link href="~/admin-lte/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/daterangepicker-bs3.css" rel="stylesheet" />
<script src="~/admin-lte/js/app.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>

@*<div class="box box-default" style="width:50%">*@



<div class="box box-solid" style="width:50%">
    <div class="box-header with-border">

        <div class="box-header with-border" id="simpleCallendar" style="display:none">

            <h3 class="box-title">Date @*<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>*@</h3>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    @*<input type="text" class="form-control input-sm" placeholder="Search...">*@
                    @*<div id="sandbox-container">*@
                    <input type="text" class="form-control" name="datefilter" style="width:210px" />
                    @*</div>*@
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div><!-- /.box-tools -->

        </div>

        <div class="box-header with-border" id="complexCallendar" style="display:none">

            <h3 class="box-title">Date @*<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>*@</h3>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    @*<input type="text" class="form-control input-sm" placeholder="Search...">*@
                    @*<div id="sandbox-container">*@
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 210px">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                    @*</div>*@
                    @*<span class="glyphicon glyphicon-search form-control-feedback"></span>*@
                </div>
            </div><!-- /.box-tools -->

        </div>

    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="box-group" id="accordion">
            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
            <div class="panel">

                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">

                        <div class="box-header with-border" id="showUnit" style="display:none">

                            <div>

                                <h3 class="box-title">Unit</h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        @Html.DropDownList("unitId", Model.Units, "All", htmlAttributes: new { @class = "form-control required", @style = "width:210px" })
                                    </div>
                                </div><!-- /.box-tools -->

                            </div>


                        </div>

                        <div class="box-header with-border" id="showShift" style="display:none">

                            <div>

                                <h3 class="box-title">Shift</h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        @*<input type="text" class="form-control input-sm" placeholder="Search...">*@
                                        <div class="input-daterange input-group" id="datepicker">
                                            @Html.DropDownList("shift", Model.ShiftSelectList, "All", htmlAttributes: new { @class = "form-control required", @style = "width:210px" })
                                        </div>
                                        @*<span class="glyphicon glyphicon-search form-control-feedback"></span>*@
                                    </div>
                                </div><!-- /.box-tools -->

                            </div>

                        </div>

                        <div class="box-header with-border" id="showPeriod" style="display:none">

                            <div>
                                <h3 class="box-title">Period</h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        @Html.DropDownList("period", Model.PeriodSelectList, "All", htmlAttributes: new { @class = "form-control required", @style = "width:210px" })
                                        @*<span class="glyphicon glyphicon-search form-control-feedback"></span>*@
                                    </div>
                                </div><!-- /.box-tools -->
                            </div>

                        </div>

                        <div class="box-header with-border" id="showUsers" style="display:none">

                            <div>
                                <h3 class="box-title">Auditor</h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        @Html.DropDownList("auditorId", Model.UserSelectList, "All", htmlAttributes: new { @class = "form-control required", @style = "width:210px" })
                                    </div>
                                </div><!-- /.box-tools -->
                            </div>

                        </div>

                    </div>
                </div>

                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed pull-right!important">
                            Show filters
                        </a>
                    </h4>
                </div>

                <div class="box-footer with-border">
                    <button type="button" class="btn btn-primary margin-bottom" id="btnCarregaGraficoDiario" onclick="send()">Send</button>
                </div>

            </div>


        </div>
    </div>
    <!-- /.box-body -->
</div>





@*</div>*@

<div id="loading" style="display:none"> Loading. </div>
<div class="margin-top"></div>

<script type="text/javascript">

    var enviar = {};
    var start = moment();
    var end = moment();

    $(function () {

        $('#unitId').on('change', function (e) {
            enviar['unitId'] = $('#unitId option:selected').val();
        });

        $('#shift').on('change', function (e) {
            enviar['shift'] = $('#shift option:selected').val();
        });

        $('#period').on('change', function (e) {
            enviar['period'] = $('#period option:selected').val();
        });

        $('#auditorId').on('change', function (e) {
            enviar['auditorId'] = $('#auditorId option:selected').val();
        });

        enviar['level01Id'] = null;
        enviar['level02Id'] = null;
        enviar['level03Id'] = null;

        //Start config datepickerrange simple
        $('input[name="datefilter"]').daterangepicker({
            autoUpdateInput: false,
            autoApply: true,
            showDropdowns: true,
            startDate: start,
            opens: "right",
            endDate: end,
            locale: {
                cancelLabel: 'Clear'
            }
        }, function (start, end, label) {
            console.log("New date range selected: ' + start.format('MM/DD/YYYY') + ' to ' + end.format('MM/DD/YYYY') + ' (predefined range: ' + label + ')");
            enviar['startDate'] = start.format('MM/DD/YYYY');
            enviar['endDate'] = end.format('MM/DD/YYYY');
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            enviar['startDate'] = "";
            enviar['endDate'] = "";
        });
        //Start config datepickerrange simple

        //Start config datepickerrange full
        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            enviar['startDate'] = start.format('MM/DD/YYYY');
            enviar['endDate'] = end.format('MM/DD/YYYY');
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            opens: "right",
            //alwaysShowCalendars: true,
            showDropdowns: true,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);
        //End config datepickerrange full

        enviar['startDate'] = moment().format('MM/DD/YYYY');
        enviar['endDate'] = moment().format('MM/DD/YYYY');
    });

    var formControl = {
        showUsers: function () {
            $('#showUsers').show();
        },
        showPeriod: function () {
            $('#showPeriod').show();
        },
        showUnit: function () {
            $('#showUnit').show();
        },
        showShift: function () {
            $('#showShift').show();
        },
        showSimpleDate: function () {
            $('#simpleCallendar').show();
        },
        showFullCallendar: function () {
            $('#complexCallendar').show();
        },
        showCustomForRelatorioColeta() {
            formControl.showPeriod();
            formControl.showFullCallendar();
            formControl.showShift();
            formControl.showUnit();
            formControl.showUsers();
        },
        orderDdls: function() {

        }

    }

</script>
