
<!-- Modal Loader -->
<div class="modal fade modalLoader" id="modalLoader" role="dialog" style="display: none; background-color: rgba(173, 173, 173, 0.35);">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1">
                        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                    </div>
                    <div class="col-xs-11" id="modalLoaderMessage">Message </div>
                </div>
            </div>
        </div>

    </div>
</div>