@model SgqSystem.ViewModels.ParamsViewModel
@{
    ViewBag.Title = "ParLeve1";
    var url = Url.Action("AddUpdateLevel1", "api/ParamsApi"); //URL relativa
    var urlGetLevel1 = Url.Action("GetParLevel1ById", "api/ParamsApi"); //URL relativa
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

@Html.DropDownList("paramsDto.parLevel1Selected", Model.DdlparLevel1, "Selecione...", htmlAttributes: new { @class = "", @style = "padding: 2px;", @id = "parLeve1Select2" })

<script>
    var urlGetLevel1 = '@Html.Raw(@urlGetLevel1)';
    $('#parLeve1Select2').select2({
        placeholder: {
            id: "-1",
            text: "Select..." //Substituir Resources
        },
    }).on("select2:select", function (e) {
        $.get(urlGetLevel1 + '/' + e.currentTarget.value, function (obj, responseText, xhr) {

        })
    });
</script>

<div id="ParLevel1">
    @Html.Partial("~/Views/Params/_ParLevel1.cshtml", Model);
</div>



<script>

    var url1 = '@Html.Raw(@url)';

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    var indexParamsLevel1 = {

        enviarDadosParaApi: function (e) {

            var dados = $('form').serializeObject();

            $.post(url1, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                console.log(objetoReturn);
                console.log(statusmessage);
                console.log(respostaCompleta);
            });

        }

    }

</script>