@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers
@{
    ViewBag.Title = "ParLeve1";
    var url = Url.Action("AddUpdateLevel1", "api/ParamsApi"); //URL relativa
    var urlGetLevel1 = Url.Action("GetParLevel1ById", "api/ParamsApi"); //URL relativa
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js"></script>

@Html.DropDownList("paramsDto.parLevel1Selected", Model.paramsDdl.DdlparLevel1, "Selecione...", htmlAttributes: new { @class = "", @style = "padding: 2px;", @id = "parLeve1Select2" })

<div id="ParLevel1">
    @Html.Partial("~/Views/Params/_ParLevel1.cshtml", Model)
</div>

<script>

    var url1 = '@Html.Raw(@url)';

    /*
      Serializa objeto usando bind de property Name
      $('form').serializeObject();
    */
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    /*Inicio Select 2 Level1*/
    var parLevel1Empty = $('#ParLevel1 > form').clone();
    var urlGetLevel1 = '@Html.Raw(@urlGetLevel1)';
    $('#parLeve1Select2').select2({
        placeholder: {
            id: "-1",
            text: "Selecione..."
        },
    }).on("select2:select", function (e) {
        if (e.currentTarget.value == "") {
            $('#ParLevel1').empty();
            $('#ParLevel1').append(parLevel1Empty);
        } else {
            $.get('GetParLevel1ById/' + e.currentTarget.value, function (obj, responseText, xhr) {
                if (obj != null) {
                    $('#ParLevel1').empty();
                    $('#ParLevel1').append(xhr.responseText);
                }
            });
        }
    }).on("select2:unselect", function (e) {
        if (e.currentTarget.value == "") {
            $('#ParLevel1').empty()
            $('#ParLevel1').append(parLevel1Empty)
        }
    });
    /*Fim Select 2 Level1*/

    /*Inicio Submit Level1*/
    var indexParamsLevel1 = {

        enviarDadosParaApi: function (e) {

            //if (indexParamsLevel1.ValidaLevel1) {

            Cluster.UpdateCounter();
            Cabecalhos.UpdateCabecalhos()

            var dados = $('form').serializeObject();

            $.post(url1, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                console.log(objetoReturn);
                console.log(statusmessage);
                console.log(respostaCompleta);
            });

            //}

        },

        ValidaLevel1: function () {
            var isValid = true;

            if ($('#paramsDto_parLevel1Dto_Name').val().length == 0) {
                alert('Campo Nome do Indicador invalido.')
                isValid = false;
            }

            if ($('#paramsDto_parLevel1Dto_Description').val().length == 0) {
                alert('Campo Descrição do Indicador invalido.')
                isValid = false;
            }

            if ($('#selectConsolidacao option:selected').val() == -1) {
                alert('Campo Tipo de Consolidação inválido');
                isValid = false;
            }

            if ($('#selectConsolidacao option:selected').val() == -1) {
                alert('Campo Frequencia inválido');
                isValid = false;
            }
            return isValid;
        }
    }
    /*Fim Submit Level1*/

</script>