
@{
    ViewBag.Title = "_GraficoIndicadores";
}

<h2>_GraficoIndicadores</h2>
<div id="plotPrincipal"></div>
<div class="panel panel-info" id="PanelFull" style="display:none">
    <div class="panel-heading"></div>
    <div class="panel-body" id="g1">
    </div>
    *O Peso atribuído as Tarefas influenciam no resultado gráfico.
</div>

<script type="text/javascript">


    var divTemperatura = "";
    var divMonitoramento = "";
    var divTarefa = "";


    var _GraficoIndicadoresJsControl = {

        ajax_GraficoIndicadoresJsControl: function () {

            $.get('http://localhost:63128/api/RelatorioBeta/GetNcPorIndicador', { idIndicador: 1 }, function (r) {

                _GraficoIndicadoresJsControl.CriaGraficoOperacoes("plotPrincipal", "teste", r.Retorno);

                r.Retorno.forEach(function (a, b) {

                    //Clona Div Panel
                    var divClonada = $('#PanelFull').clone();
                    divClonada.attr('id', divClonada.attr('id') + b).show();
                    divClonada.find('.panel-body').attr('id', divClonada.find('.panel-body').attr('id') + b);
                    var idDivTendencia = divClonada.find('.panel-body').attr('id');
                    $('#plotPrincipal').append(divClonada);
                    divClonada.find('.panel-heading').html(a.Id_Operacao);

                    divTemperatura = DivManager.criaDiv(idDivTendencia, b, "temperatura");
                    

                    divMonitoramento = DivManager.criaDiv(idDivTendencia, b, "monitoramento");


                    divTarefa = DivManager.criaDiv(idDivTendencia, b, "tarefaIndicador");



                });


            });

        },

        CriaGraficoOperacoes: function (idDiv, titulo, obj) {

            var serie1 = valores(obj, 'NotConform');
            var serie2 = valores(obj, 'Evaluate');
            var serieX = valores(obj, 'Id');

            $('#' + idDiv).empty().highcharts({
                credits: Chart.Credits(),
                title: Chart.Titulo(titulo),
                xAxis: Chart.Xaxis(serieX),
                tooltip: Chart.ToolTip(true, true),
                legend: Chart.Legend(),
                yAxis: Chart.yAxisPadrao(),
                chart: {
                    type: 'column',
                    zoomType: 'x, y',
                    height: '350'
                },
                zones: [{
                    value: 69,
                    color: '#FF6666'
                }, {
                    value: 80,
                    color: 'Yellow'
                }, {
                    color: '#98FB98'
                }],
                series: [
                    //Chart.ProcNc(valoresY.Percentual),
                    //Chart.Meta(valoresY.meta, true),
                    Chart.SimpleSerie(serie1, "Total NC", Chart.CorTotalNc(), true, 1),
                    Chart.SimpleSerie(serie2, "Total Av", Chart.CorTotalAv(), true, 1)
                ],
            });

        },

        CriaGraficoTendencia: function (idDiv, titulo, obj) {

            var serie1 = valores(obj, 'NotConform');
            var serie2 = valores(obj, 'Evaluate');
            var serieX = valores(obj, 'Id');

            $('#' + idDiv).empty().highcharts({
                credits: Chart.Credits(),
                title: Chart.Titulo(titulo),
                xAxis: Chart.Xaxis(serieX),
                tooltip: Chart.ToolTip(true, true),
                legend: Chart.Legend(),
                yAxis: Chart.yAxisPadrao(),
                chart: {
                    type: 'column',
                    zoomType: 'x, y',
                    height: '350'
                },
                zones: [{
                    value: 69,
                    color: '#FF6666'
                }, {
                    value: 80,
                    color: 'Yellow'
                }, {
                    color: '#98FB98'
                }],
                series: [
                    //Chart.ProcNc(valoresY.Percentual),
                    //Chart.Meta(valoresY.meta, true),
                    Chart.SimpleSerie(serie1, "Total NC", Chart.CorTotalNc(), true, 1),
                    Chart.SimpleSerie(serie2, "Total Av", Chart.CorTotalAv(), true, 1)
                ],
            });

        },

    };

    var DivManager = {

        //Cria div dentro de um elemento, retorna Id da div criada.
        // Parans: idString: Id do elemento aonde sera adicionada a nova Div, por ex, uma div,
        //         Contador: Numero sequencial concatenado ao Id da Div criada, por ex "IdNovo" + 1 = IdNovo1, Idnovo2, etc...,
        //         Tag: Complemento concatenado ao IdNovo, este não é sequencial,
        //         W: Width da div.
        // Returns: Id da Div criada.
        criaDiv: function (idString, contador, tag, w) {
            var novoId = idString + contador + (tag != undefined ? tag : "");
            document.getElementById(idString).appendChild(document.createElement("div"));
            $("#" + idString).children().last().attr("id", novoId);
            if (w != undefined)
                $("#" + idString).children().last().width(w);
            return $("#" + idString).children().last().attr("id");
        },

    }

    function valores(value, paramName) {
        var valueReturn = [];
        $.each(value, function (a, b) {
            for (var key in b) {
                //console.log(' name=' + key + ' value=' + b[key]);
                if (key == paramName) {
                    valueReturn.push(parseFloat(b[key]));
                }
            }
        })
        return valueReturn;
    };


    var Chart = {
        CorTotalNc: function () { return '#F7BCB0' },
        CorTotalAv: function () { return '#ccc' },
        CorTotalPareto: function () { return '#900000' },
        CorMeta: function () { return '#67D184' },
        CorTotalProcNc: function () { return '#FF6347' },
        Legend: function () {
            return {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            };
        },
        ToolTip: function (isShared, isCrosshairs) {
            return {
                //valueDecimals: 2,
                shared: isShared,
                crosshairs: isCrosshairs
            }
        },
        Titulo: function (data) {
            return {
                text: data,
                x: -20 //center
            };
        },
        Credits: function () {
            return {
                enabled: false
            }
        },
        Zones: function () {
            return {
                enabled: false
            }
        },
        Chart: function (tipo, zoon) {
            return {
                type: tipo,
                zoomType: zoon
            }
        },
        yAxisPadrao: function (inverso, pareto, totalNC) {
            if (inverso == undefined) {
                return [{ // Primary yAxis
                    allowDecimals: false,
                    min: 0,
                    max: 100,
                    //tickInterval: 20,
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "Black"
                        }
                    },
                    title: {
                        text: (pareto == undefined || pareto == false) ? '% NC' : 'Gráfico de Pareto',
                        style: {
                            color: "Black"
                        }
                    },
                }, { // Secondary yAxis
                    allowDecimals: false,
                    gridLineWidth: 0,
                    title: {
                        text: (totalNC == undefined || totalNC == false) ? 'Numero Amostras' : 'Total NC',
                        style: {
                            color: "Black"
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: "Black"
                        }
                    },
                    opposite: true,
                }]
            } else {
                return [{ // Primary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: (totalNC == undefined || totalNC == false) ? 'Numero Amostras' : 'Total NC',
                        style: {
                            color: "Black"
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: "Black"
                        }
                    },

                }, { // Secondary yAxis
                    min: 0,
                    max: 100,
                    //tickInterval: 20,
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "Black"
                        }
                    },
                    title: {
                        text: (pareto == undefined || pareto == false) ? '% NC' : 'Gráfico de Pareto',
                        style: {
                            color: "Black"
                        }
                    },
                    opposite: true
                }]
            }
        },
        Xaxis: function (dados) {
            return [{
                categories: dados
            }];
        },

        //Series
        SimpleSerie: function (data, name, color, isVisible, axy, toolTip, hasAlign, hasEventPoint, dadosFunc) {
            return {
                name: name,
                data: data,
                color: color,
                yAxis: axy || 0,
                visible: isVisible == undefined ? false : isVisible,
                dataLabels: Chart.DataLabelPadrao(undefined, hasAlign),
                //    {
                //    format: '{y:.2f}',
                //    enabled: true,
                //    //rotation: -45,
                //    //x: -5,
                //    color: 'black', // color
                //    align: hasAlign == undefined ? 'center' : hasAlign,
                //    style: {
                //        fontSize: '10px',
                //    }
                //},
                tooltip: {
                    valueDecimals: 2,
                    valueSuffix: toolTip == undefined ? '' : toolTip,
                },
                point: {
                    events: {
                        click: function () {
                            if (!!hasEventPoint)
                                FTA.onFormAnomaliaClickedNC(dadosFunc[0], dadosFunc[1], dadosFunc[2]);
                        }
                    }
                }
            }
        },
        //Series com %
        curvaPareto: function (dados) {
            return {
                type: 'line',
                yAxis: 1,
                name: 'Gráfico de Pareto',
                color: "Red",
                data: dados,
                yAxis: 1,
                tooltip: {
                    valueDecimals: 2,
                    valueSuffix: ' %'
                },
                zones: [{
                    value: 80,
                    color: 'Red'
                }, {
                    color: 'Black'
                }],
            }
        },
        ProcNc: function (data, func, nome, id, funcParaAcumuladas) {
            //$.each(data, function(a, b){
            //    data[a] = parseFloat(b.toFixed(2));
            //});
            return {
                name: '% NC',
                color: Chart.CorTotalProcNc(),//'rgba(240,124,0,1)',
                data: data,
                yAxis: 0,
                tooltip: {
                    valueDecimals: 2,
                    valueSuffix: ' %'
                },
                //pointPadding: 0.4,
                //pointPlacement: -0.2,
                dataLabels: Chart.DataLabelPadrao('%'),
                point: {
                    events: {
                        click: function () {
                            if (!!func)
                                func(nome[this.x], id[this.x]);
                            if (!!funcParaAcumuladas && id[this.x] != '0')
                                funcParaAcumuladas(this.category, id[this.x]);
                        }
                    }
                },
                tooltip: {
                    valueDecimals: 2,
                    valueSuffix: ' % (NC * Peso)'
                }
            };

        },
        Meta: function (data, isVisible, func, nome, id, funcParaAcumuladas) {

            return {
                visible: !!isVisible,
                name: '% Meta',
                data: data,
                color: Chart.CorMeta(),//'rgba(81,207,64,1)',
                //pointPadding: 0.4,
                //pointPlacement: 0.4,
                yAxis: 0,
                dataLabels: Chart.DataLabelPadrao('%'),
                point: {
                    events: {

                        click: function () {
                            if (!!func)
                                func(nome[this.x], id[this.x]);
                            if (!!funcParaAcumuladas && id[this.x] != '0')
                                funcParaAcumuladas(this.category, id[this.x]);
                        }
                    }
                },
                tooltip: {
                    valueDecimals: 2,
                    valueSuffix: ' %'
                }
            };

        },

        DataLabelPadrao: function (affix, hasAlign) {

            return {
                format: !!affix ? '{y:.2f} ' + affix : '{y:.2f}',
                enabled: true,
                rotation: 270,
                x: 2,
                y: -25,
                align: 'center',//!!hasAlign ? 'center' : hasAlign,
                color: 'black',
                align: 'center',
                style: {
                    fontSize: '10px',
                    fontWeight: 'Arial'
                }
            };
        },
    };

    $(document).ready(function () {


    });
</script>
