

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 650px;">
        Exemplo de Máscara de Decimal: <input type="text" class="form-control inputMask" />
        <br />
        Exemplo de Máscara de DatePicker: <input type="text" class="form-control" />

    </div>
</div>

<script>

    $(document).on("ready", function () {


    });
</script>
