
@{
    ViewBag.Title = "Index";
}

@*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>*@


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">

                <li>
                    <span>Manutenção</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Manutenção</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <div id="corpo" style="margin-left: auto; margin-right:auto; padding:20px; border-left:1px solid #ccc; border-right:1px solid #ccc; z-index:99999;">

                                    <div id="balao" style="position:fixed; width:200px; height:100px; border:1px solid #000; top:100px; right:0;"> Dados filtrados</div>

                                    <div id="firstChart" style="cursor:pointer;"></div>

                                    <div id="firstTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; ">
                                    </div>

                                    <br /><br />

                                    <div id="firstTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />

                                    <div id="secoundTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%;">
                                    </div>

                                    <div id="secoundTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />
                                    <div id="SecondChart" style="display:none; cursor:pointer"></div>

                                    <br /><br />
                                    <div id="ThirdChartMeses" style="display:none; cursor:pointer">

                                        <table>
                                            <tr>
                                                <td rowspan="2"><b>ANOS</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td colspan="10"></td>
                                                <td rowspan="4"><input type="button" value=" Filtrar " /></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">2015</td>
                                                <td style="padding:5px;">2016</td>
                                            </tr>
                                        </table>

                                        <table>
                                            <tr>
                                                <td rowspan="2"><b>MESES</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">JAN</td>
                                                <td style="padding:5px;">FEV</td>
                                                <td style="padding:5px;">MAR</td>
                                                <td style="padding:5px;">ABR</td>
                                                <td style="padding:5px;">MAI</td>
                                                <td style="padding:5px;">JUN</td>
                                                <td style="padding:5px;">JUL</td>
                                                <td style="padding:5px;">AGO</td>
                                                <td style="padding:5px;">SET</td>
                                                <td style="padding:5px;">OUT</td>
                                                <td style="padding:5px;">NOV</td>
                                                <td style="padding:5px;">DEZ</td>
                                            </tr>


                                        </table>

                                    </div>

                                    <br /><br />
                                    <div id="ThirdChart" style="display:none; cursor:pointer">
                                        Meses: <input type="checkbox">Jan | <input type="checkbox">Fev | <input type="checkbox">Mar | <input type="checkbox">Abr | <input type="checkbox">Mai | <input type="checkbox">Jun | <input type="checkbox">Jul | <input type="checkbox">Ago | <input type="checkbox">Set | <input type="checkbox">Out | <input type="checkbox">Nov | <input type="checkbox">Dez
                                    </div>

                                    <br /><br />
                                    <div id="FourthChart" style="display:none; cursor:pointer"></div>
                                </div>

                                <script>

                                    function buscaCor(posicao){
            
                                        var listaCor = [];

                                        listaCor[0]  = ['#00FF00', 0, 0];
                                        listaCor[1]  = ['#11FF00', 1, 0.04];
                                        listaCor[2]  = ['#22FF00', 2, 0.08];
                                        listaCor[3]  = ['#77FF00', 3, 0.12];
                                        listaCor[4]  = ['#88FF00', 4, 0.16];
                                        listaCor[5]  = ['#99FF00', 5, 0.2];
                                        listaCor[6]  = ['#AAFF00', 6, 0.24];
                                        listaCor[7]  = ['#BBFF00', 7, 0.28];
                                        listaCor[8]  = ['#CCFF00', 8, 0.32];
                                        listaCor[9]  = ['#DDFF00', 9, 0.36];
                                        listaCor[10] = ['#EEFF00', 10, 0.4];
                                        listaCor[11] = ['#FFFF00', 11, 0.44];
                                        listaCor[12] = ['#FFEE00', 12, 0.48];
                                        listaCor[13] = ['#FFDD00', 13, 0.52];
                                        listaCor[14] = ['#FFCC00', 14, 0.56];
                                        listaCor[15] = ['#FFBB00', 15, 0.6];
                                        listaCor[16] = ['#FF9900', 16, 0.64];
                                        listaCor[17] = ['#FF8800', 17, 0.68];
                                        listaCor[18] = ['#FF7700', 18, 0.72];
                                        listaCor[19] = ['#FF6600', 19, 0.76];
                                        listaCor[20] = ['#FF5500', 20, 0.8];
                                        listaCor[21] = ['#FF4400', 21, 0.84];
                                        listaCor[22] = ['#FF3300', 22, 0.88];
                                        listaCor[23] = ['#FF2200', 23, 0.92];
                                        listaCor[24] = ['#FF1100', 24, 0.96];
                                        listaCor[25] = ['#FF0000', 25, 1];


                                        for (i = 0; i < listaCor.length; i++) {
                                            if (posicao <= listaCor[i][2]) {

                                                //alert(listaCor[i][0]);
                                                return listaCor[i][0];

                                            }
                                        }


                                        }

                                    //inicialização
                                    $(function () {
                                        MountFirstChart();
                                        firstTable("teste");

                                    });

                                    function montaTabela(id, div, altura, colunaFixa1, titulosColunasCorpo, valoresColuna1, dadosPrincipais, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal) {

                                        $(div).empty();

                                        $(div).animate({
                                            opacity: 1,
                                        }, 1500);

                                        $(div).empty();

                                        /******
                                        Todos os valores ficam aqui. Isso garante que todas as div e tables fiquem proporcionais
                                        *******/
                                        var alturaDaMatriz = altura; //Vem dos parâmetros
                                        var alturaDasCelulasDeValor = '40px';
                                        var larguraDasCelulasDeValor = '70px';
                                        var alturaDasCelulasDeMapaDeCalor = '39px';
                                        var larguraDoCorpo = '100%';
                                        var larguraDaColunaFixaEsquerda = '100%';
                                        var larguraDaColunaFixaDireita = '100%';
                                        var alturaDoTituloLinha1 = '30px';
                                        var alturaDoTituloLinha2 = '30px';
                                        var tamanhoDaLetra = '11px';
                                        var alturaDasCelulasDaColuna1 = '40px';
                                        var nivelDeTransparencia = '0.6';
                                        var corColunasAlternadas1 = '#D3D3D3';
                                        var corColunasAlternadas2 = '#DCDCDC';
                                        var corColunasAlternadas3 = '#CCCCCC';
                                        var corColunasAlternadas4 = '#DDDDDD';
                                        var colTituloERodapeFixo = '#DCDCDC';
                                        /****************************************************************************************************/

                                        /***********************************************************
                                        TABELA
                                        **************************************************/
                                        var tabela = "";
                                        tabela += "<div id=\"fixarColuna\" style=\"font-size:" + tamanhoDaLetra + "; style=\"width:100%; \">";
                                        tabela += "<style>";
                                        tabela += "#fixarcoluna table {border:none; background-color:none}";
                                        tabela += "#fixarColuna tr {border-bottom: 1px #eee solid;}";
                                        tabela += "#fixarColuna .content table {width:100%;}";
                                        tabela += "#fixarColuna .content tr {background-color: none;}";
                                        tabela += "#fixarColuna .content tr:hover {background-color: none;}";
                                        tabela += "#fixarColuna .content td {border-bottom:solid 1px #999; padding:0px;}";
                                        tabela += "#fixarColuna .contentHead td {border-bottom:solid 2px #CCC; padding:0px;}";
                                        tabela += "#fixarColuna .contentHead tr {background-color: none;}";
                                        tabela += "#fixarColuna .content" + id + " {display:block; width:100%; padding:0; margin:0; overflow-y: hidden; height:" + alturaDaMatriz + ";}";
                                        tabela += "fixarColuna .contentHead {display:block; width:98.5%; padding:0; margin:0; overflow: hidden; height:35px;}";
                                        tabela += "#fixarColuna .content div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .contentHead div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .content .contentHead .larguraP19 {width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden;}";

                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-track {";
                                        tabela += "    background-color: #FFFFFF;";
                                        tabela += "}";
                                        tabela += "  #fixBody" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                        background: #bf0d0e;";
                                        tabela += "                                    }";
                                        tabela += "";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                        background-color: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: #bf0d0e;";
                                        tabela += "                                   }";
                                        tabela += "";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                       background-color: #FFFFFF;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar {";
                                        tabela += "                                       width: 6px;";
                                        tabela += "                                       height: 6px;";
                                        tabela += "                                       background: #FFFFFF;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: #bf0d0e;";
                                        tabela += "                                   }";


                                        tabela += "</style>"

                                        tabela += "<div style=\"width:20%; height:" + alturaDaMatriz + "; float:left;\">";

                                        /***************************
                                        TITULOS ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" width=\"100%\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td height=\"" + alturaDoTituloLinha1 + "\" width=\"" + larguraDaColunaFixaEsquerda + "\" rowspan=\"" + colunaFixa1[0][1] + "\">" + colunaFixa1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "<tr>";
                                        tabela += "<td height=\"" + alturaDoTituloLinha2 + "\" width=\"" + larguraDaColunaFixaEsquerda + "\" rowspan=\"" + colunaFixa1[1][1] + "\" style=\"background-color:" + colTituloERodapeFixo + ";\">" + colunaFixa1[1][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                        COLUNA ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + ";overflow-y:hidden;overflow-x:scroll; float:left; height:" + altura + ";\" id=\"colUie" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" >";

                                        for (var i = 0; i < valoresColuna1.length; i++) {
                                            tabela += "<tr><td height=\"" + alturaDasCelulasDaColuna1 + "\" >" + valoresColuna1[i][0] + "</td></tr>";
                                        }


                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        RODAPE ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\"   width=\"100%\" >";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td style=\"background-color: " + colTituloERodapeFixo + "\" height=\"" + alturaDasCelulasDeValor + "\" rowspan=\"" + footerColumn1[0][1] + "\">" + footerColumn1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        /************************************************************************************/

                                        tabela += "<div style=\"width:50%; height:" + alturaDaMatriz + "; float:left;\">";

                                        /***************************
                                       TITULOS CORPO
                                       ***************************/
                                        tabela += "<div id=\"colHead" + id + "\" style=\"width:" + larguraDoCorpo + "; overflow-x: hidden; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < titulosColunasCorpo[0].length; i++) {
                                            var color = corColunasAlternadas3;
                                            if (i % 2 == 0) {
                                                color = corColunasAlternadas4;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha1 + "; min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titulosColunasCorpo[0][i][1] + "\"><b>" + titulosColunasCorpo[0][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < titulosColunasCorpo[1].length; i++) {
                                            
                                            if (i % 4 == 0) {                                           
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha2 + ";min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titulosColunasCorpo[1][i][1] + "\"><b>" + titulosColunasCorpo[1][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        COLUNA CORPO
                                        ***************************/
                                        tabela += "<div id=\"fixBody" + id + "\" style=\"width:" + larguraDoCorpo + ";overflow: scroll;height:" + altura + ";z-index:2; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";


                                        for (var i = 0; i < dadosPrincipais.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < dadosPrincipais[i].length; j++) {
                                                //tabela += "<td height=\"" + alturaDasCelulasDeValor + "\" onclick=\"secoundTable(this)\"align=\"center\" x=\"" + dadosPrincipais[i][j][1] + "\" y=\"" + dadosPrincipais[i][j][2] + "\"style=\"min-width:" + larguraDasCelulasDeValor + ";  background-color: " + dadosPrincipais[i][j][4] + "\">" + (dadosPrincipais[i][j][3] == '%' ? '<i>' + dadosPrincipais[i][j][0] + '<i>%' : float2moeda(Math.ceil(dadosPrincipais[i][j][0] / 1000))) + "</td>";

                                                tabela += "<td onclick=\"secoundTable(this)\"align=\"center\" x=\"" + dadosPrincipais[i][j][1] + "\" y=\"" + dadosPrincipais[i][j][2] + "\" align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                                tabela += (dadosPrincipais[i][j][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + dadosPrincipais[i][j][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + dadosPrincipais[i][j][4] + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(dadosPrincipais[i][j][0] / 1000))) + "</td>";

                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                       RODAPE CORPO
                                       ***************************/
                                        tabela += "<div id=\"footerBody" + id + "\" style=\"width:" + larguraDoCorpo + "; overflow-x: hidden; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < footerColumnsBody[0].length; i++) {

                                            if (i % 4 == 0) {
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }

                                            tabela += "<td align=\"center\" style=\"background-color: " + color + "; min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                            tabela += (footerColumnsBody[0][i][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + footerColumnsBody[0][i][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + "#ffff00" + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(footerColumnsBody[0][i][0] / 1000))) + "</td>";

                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        /************************************************************************************/

                                        tabela += "<div style=\"width:30%; " + alturaDaMatriz + "; float:left;\">";


                                        /***************************
                                        TITULOS DIREITA
                                        ***************************/
                                        tabela += "<div  id=\"headTotal" + id + "\" class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";

                                        tabela += "<tr>";
                                        
                                        for (var i = 0; i < titleTotal[0].length; i++) {
                                            var color = corColunasAlternadas3;
                                            if (i % 2 == 0) {
                                                color = corColunasAlternadas4;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha1 + "; width:" + larguraDaColunaFixaDireita + "; background-color: " + color + ";\" colspan=\"" + titleTotal[0][i][1] + "\">" + titleTotal[0][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < titleTotal[1].length; i++) {
                                            if (i % 4 == 0) {
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }
                                            tabela += "<td align=\"center\" style=\" height:" + alturaDoTituloLinha2 + "; min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titleTotal[1][i][1] + "\">" + titleTotal[1][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                        COLUNA DIREITA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + ";overflow-y:hidden; float:left;overflow-x:scroll;height:" + altura + ";\" id=\"colUieFim" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" >";


                                        for (var i = 0; i < columnsTotal.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < columnsTotal[i].length; j++) {                                                

                                                tabela += "<td align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                                tabela += (columnsTotal[i][j][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + columnsTotal[i][j][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + "#ffff00" + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(columnsTotal[i][j][0] / 1000))) + "</td>";

                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        RODAPE DIREITA
                                        ***************************/
                                        tabela += "<div id=\"footerTotal" + id + "\" class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + "; overflow-x: hidden;  float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < footerTotal[0].length; i++) {
                                            tabela += "<td height=\"" + alturaDasCelulasDeValor + "\"  align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; background-color: " + colTituloERodapeFixo + "\" colspan=\"" + footerTotal[0][i][1] + "\">" + (footerTotal[0][i][3] == '%' ? footerTotal[0][i][0] : float2moeda(Math.ceil(footerTotal[0][i][0] / 1000))) + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";
                                        /***************************************************/


                                        tabela += "</div>";

                                        $(div).append(tabela);


                                        $('#fixBody' + id).scroll(function () {
                                            $("#colHead" + id).scrollLeft($(this).scrollLeft());
                                            $("#colFoot" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerBody" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#colUieFim' + id).scroll(function () {
                                            $("#headTotal" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerTotal" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#fixBody' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUieFim' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUie' + id).scroll(function () {
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });

                                        $(div).show();

                                        

                                    }

                                    //quando clicar na primeira tabela
                                    $('#firstTableTeste').click(function () {

                                        //var regional = name.getAttribute("y");

                                        /****
                                        POST BY Celso TATO
                                        ****/
                                        //$.post('../api/Manutencao/getTabela2/' + pacote + '/' + regional + '/')
        
                                        /********************/
                                       
                                        //var loader = "carregando..."

                                        //$.post('../api/Manutencao/getGrafico2/null/null/null/null/' +  escape(regional.replace(/[/]/g, '|')) + '/', function (lista) {


                                        //});
                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);

                                        

                                    });

                                    //quando clicar na segunda tabela
                                    $('#secoundTable').click(function () {
                                    
                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);
                                    });

                                    //chamada ajax para montar primeiro gráfico
                                    function MountFirstChart() {
                                        var name = ["Reg 1 - GO/MA/BA", "Reg 1 - MS/SP", "Reg 2 - MT I/AC/RO", "Reg 2 - MT II,TO,MA,PA", "Total Geral"];
                                        var x1 = [40.975, 90.866, 77.343, 86.677];
                                        var x2 = [51.218, 85.776, 77.578, 86.076];

                                        for (i = 0; i < x1.length; i++) {
                                            if (x1[i] < x2[i]) {
                                                x2[i] = { y: x2[i], color: '#ff0000'};
 
                                            }
                                        }

                                        //var x2 = [51.218, 85.776, { y: 77.578, color: '#ff0000' }, 86.076];

                                        firstChart(name, x1, x2);
                                    }

                                    //locação primeiro gráfico
                                    function firstChart(name, x1, x2) {
                                        $(function () {
                                            var chart = Highcharts.chart('firstChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                chart: {
                                                    type: 'column'
                                                    //,backgroundColor: null
                                                },

                                                title: {
                                                    text: 'Despesas por Regional'
                                                },


                                                legend: {
                                                    align: 'center',
                                                    verticalAlign: 'bottom',
                                                    layout: 'left'
                                                },

                                                xAxis: {
                                                    categories: name,
                                                    labels: {
                                                        x: -10
                                                    },
                                                    /*
                                                    formatter: function () {
                                                            return (4 > 2 ? plotOptions.area.zones: 'red');
                                                        }
                                                    */
                                                },

                                                yAxis: {
                                                    allowDecimals: false,
                                                    title: {
                                                        text: 'R$ em milhares'
                                                    }
                                                },

                                                series: [{
                                                    name: 'Despesa Orçada',
                                                    data: x1,

                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    


                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }
                                                ],

                                                responsive: {
                                                    rules: [{
                                                        condition: {
                                                            maxWidth: 500
                                                        },
                                                        chartOptions: {
                                                            legend: {
                                                                align: 'center',
                                                                verticalAlign: 'bottom',
                                                                layout: 'horizontal'
                                                            },
                                                            yAxis: {
                                                                labels: {
                                                                    align: 'left',
                                                                    x: 0,
                                                                    y: -5
                                                                },
                                                                title: {
                                                                    text: null
                                                                }
                                                            },
                                                            subtitle: {
                                                                text: null
                                                            },
                                                            credits: {
                                                                enabled: false
                                                            }
                                                        }
                                                    }]
                                                }
                                            });
                                        });
                                    }

                                    function firstTable(name) {

                                        $('#firstTable .table').remove('table');
                                        $('#firstTableTeste').show();
                                        $('#firstTableTeste').empty();
                                        $('#firstTableTeste').html('Carregando...');
                                        $("#firstTableTeste").animate({
                                            opacity: 0.4,
                                        }, 1500);

                                        var tabela1;
                                        $.post('../api/Manutencao/getTabela1', function (lista) {

                                            // titleColumn1
                                            var titleColumn1 = [];
                                            titleColumn1[0] = ['&nbsp;', 1];
                                            titleColumn1[1] = ['Pacotes', 1];

                                            // titleColumn
                                            var titleColumn = [];
                                            var titleLine = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {

                                                titleLine.push(entry.Regional);
                                                });


                                            var x1 = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                a = [];
                                                a.push(entry.Regional);
                                                a.push(4);
                                                x1.push(a);
                                            });
                                            var x2 = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];
                                            var aux1 = ['Orçada', 1];
                                            var aux2 = ['Real', 1];
                                            var aux3 = ['Desvio %', 1];
                                            var aux4 = ['Desvio $', 1];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                x2.push(aux1);
                                                x2.push(aux2);
                                                x2.push(aux3);
                                                x2.push(aux4);
                                            });
                                            var titleColumnsBody = [];
                                            titleColumnsBody[0] = x1;
                                            titleColumnsBody[1] = x2;

                                            // column1
                                            var column1 = [];
                                            lista.forEach(function (entry) {
                                                var a = [];
                                                a.push(entry.Name);
                                                a.push(0);
                                                a.push(0);
                                                a.push(0);
                                                column1.push(a);
                                            });

                                            // dataColumn
                                            var name;
                                            var dataColumn = [];

                                            /***INI MAPA DE CALOR***/
                                            var valorMapaDeCalor = [];
                                            var orderMapaDeCalor = [];
                                            var i = 0;
                                            /***FIM MAPA DE CALOR***/

                                            lista.forEach(function (entry) {
                                                var line = [];

                                                i = 0;

                                                name = entry.Name;

                                                /****** INI GERAÇÃO DO MAPA DE CALOR *********/
                                                entry.ListaRegionais.forEach(function (valor) {

                                                    valorMapaDeCalor[i] = parseFloat(valor.DesvioPorc);
                                                    orderMapaDeCalor[i] = parseFloat(valor.DesvioPorc);
                                                    i++;

                                                });

                                                orderMapaDeCalor = orderMapaDeCalor.sort(function (a, b) { return a - b; });
                                                console.log("Mapa: " + valorMapaDeCalor);
                                                console.log("Ordem: " + orderMapaDeCalor);

                                                var minVal = orderMapaDeCalor[0];
                                                var tamanhoArray = orderMapaDeCalor.length;
                                                var maxVal = orderMapaDeCalor[tamanhoArray - 1];

                                                var corPercent = [];

                                                var i = 0;
                                                orderMapaDeCalor.forEach(function (valor) {
                                                    corPercent[i] = ((valor - minVal) / (maxVal - minVal));
                                                    i++;
                                                });

                                                

                                                var arrayCor = [];

                                                var i = 0;
                                                var j = 0;
                                                var local = 0;


                                                for (i = 0; i < valorMapaDeCalor.length; i++) {

                                                    local = 0;

                                                    for (j = 0; j < orderMapaDeCalor.length; j++) {

                                                        if (valorMapaDeCalor[i] == orderMapaDeCalor[j]) {
                                                            local = j;
                                                        }

                                                    }

                                                    arrayCor[i] = corPercent[local];

                                                }

                                                console.log(arrayCor);
                                                /****** FIM GERAÇÃO DO MAPA DE CALOR *********/

                                                //entry.ListaRegionais.forEach(function (valor, arrayCor) {
                                                for (i = 0; i < entry.ListaRegionais.length; i++ ){
                                                    var orcada = [];
                                                    var real = [];
                                                    var desvioP = [];
                                                    var desvioR = [];
                                                    orcada.push(entry.ListaRegionais[i].Orçada);
                                                    orcada.push(name);
                                                    orcada.push(entry.ListaRegionais[i].Regional);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    real.push(entry.ListaRegionais[i].Realizada);
                                                    real.push(name);
                                                    real.push(entry.ListaRegionais[i].Regional);
                                                    real.push(0);
                                                    real.push(corPercent[i]);
                                                    desvioP.push(entry.ListaRegionais[i].DesvioPorc);
                                                    desvioP.push(name);
                                                    desvioP.push(entry.ListaRegionais[i].Regional);
                                                    desvioP.push('%');
                                                    desvioP.push(buscaCor(arrayCor[i])); /****** GERAÇÃO DO MAPA DE CALOR *********/
                                                    desvioR.push(entry.ListaRegionais[i].DesvioReal);
                                                    desvioR.push(name);
                                                    desvioR.push(entry.ListaRegionais[i].Regional);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    line.push(orcada);
                                                    line.push(real);
                                                    line.push(desvioP);
                                                    line.push(desvioR);
                                                }
                                                //});
                                                dataColumn.push(line);
                                            });


                                            // columnsTotal
                                            var columnsTotal = [];

                                            lista.forEach(function (entry) {
                                                var dataColumn = [];
                                                var orcada = [];
                                                var real = [];
                                                var desvioP = [];
                                                var desvioR = [];
                                                orcada.push(entry.total.Orçada);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                real.push(entry.total.Realizada);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                desvioP.push(entry.total.DesvioPorc);
                                                desvioP.push(0);
                                                desvioP.push(0);
                                                desvioP.push('%');
                                                desvioP.push(0);
                                                desvioR.push(entry.total.DesvioReal);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                dataColumn.push(orcada);
                                                dataColumn.push(real);
                                                dataColumn.push(desvioP);
                                                dataColumn.push(desvioR);
                                                columnsTotal.push(dataColumn);
                                                
                                            });

                                        // titleTotal
                                        var titleTotal = [];
                                        titleTotal[0] = [['Total', 4]];
                                        titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];

                                        // footerColumn1
                                        var footerColumn1 = [];
                                        footerColumn1[0] = ['Total', 1];


                                        ////resultado dos totais
                                        var footerTotal = [];
                                        var lineO = [];
                                        var lineR = [];
                                        var lineDP = [];
                                        var lineDR = [];
                                        var orcada = 0;
                                        var real = 0;
                                        var desvioP = 0;
                                        var desvioR = 0;
                                        var dados = [];
                                        lista.forEach(function (entry) {

                                            orcada += entry.total.Orçada;
                                            real += entry.total.Realizada;
                                            desvioP += entry.total.DesvioPorc;
                                            desvioR += entry.total.DesvioReal;

                                        });
                                        lineO.push(orcada);
                                        lineO.push(0);
                                        lineO.push(0);
                                        lineO.push(0);

                                        lineR.push(real);
                                        lineR.push(0);
                                        lineR.push(0);
                                        lineR.push(0);

                                        lineDP.push(desvioP);
                                        lineDP.push(0);
                                        lineDP.push(0);
                                        lineDP.push(0);

                                        lineDR.push(desvioR);
                                        lineDR.push(0);
                                        lineDR.push(0);
                                        lineDR.push(0);

                                        dados.push(lineO);
                                        dados.push(lineR);
                                        dados.push(lineDP);
                                        dados.push(lineDR);
                                        footerTotal.push(dados);

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[71869051, 0, 0, 0], [59395621, 0, 0, 0], [-17, 0, 'red', '%'], [-12473430, 0, 0, 0], [109268410, 0, 0, 0], [99672114, 0, 0, 0], [-9, 0, 'yellow', '%'], [-9596296, 0, 0, 0], [92744407, 0, 0, 0], [90458420, 0, 0, 0], [-2, 0, 'green', '%'], [-2285987, 0, 0, 0], [102898593, 0, 0, 0], [98912173, 0, 0, 0], [-4, 0, 'yellow', '%'], [-3986420, 0, 0, 0]];


                                       

                                        montaTabela('1', '#firstTableTeste', '90px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);
                                        });
                                    }

                                    function secoundTable(name) {

                                        $('#secoundTableTeste .table').remove('table');

                                        $('#secoundTableTeste').show();
                                        $('#secoundTableTeste').empty();
                                        $('#secoundTableTeste').html('Carregando...');
                                        $("#secoundTableTeste").animate({
                                            opacity: 0.4,
                                        }, 1500);

                                        var pacote = name.getAttribute("x");
                                        //alert(name.getAttribute("x") + " - " + name.getAttribute("y"));
                                        var regional = name.getAttribute("y");

                                        /****
                                        POST BY Celso TATO
                                        ****/
                                        //$.post('../api/Manutencao/getTabela2/' + pacote + '/' + regional + '/')
        
                                        /********************/
                                       
                                       

                                        $.post('../api/Manutencao/getTabela2/null/null/null/null/' + escape(pacote.replace(/[/]/g, '|')) + '/' + escape(regional.replace(/[/]/g, '|')) + '/', function (lista) {
                                            // titleColumn1
                                            var titleColumn1 = [];
                                            titleColumn1[0] = [regional, 1];
                                            titleColumn1[1] = [pacote, 1];

                                            // titleColumn
                                            var titleColumn = [];
                                            var titleLine = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {

                                                titleLine.push(entry.Regional);
                                            });


                                            var x1 = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                a = [];
                                                a.push(entry.Regional);
                                                a.push(4);
                                                x1.push(a);
                                            });
                                            var x2 = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];
                                            var aux1 = ['Orçada', 1];
                                            var aux2 = ['Real', 1];
                                            var aux3 = ['Desvio %', 1];
                                            var aux4 = ['Desvio $', 1];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                x2.push(aux1);
                                                x2.push(aux2);
                                                x2.push(aux3);
                                                x2.push(aux4);
                                            });
                                            var titleColumnsBody = [];
                                            titleColumnsBody[0] = x1;
                                            titleColumnsBody[1] = x2;

                                            // column1
                                            var column1 = [];
                                            lista.forEach(function (entry) {
                                                var a = [];
                                                a.push(entry.Name);
                                                a.push(0);
                                                a.push(0);
                                                a.push(0);
                                                column1.push(a);
                                            });

                                            // dataColumn
                                            var name;
                                            var dataColumn = [];

                                            var valorMapaDeCalor = [];
                                            var orderMapaDeCalor = [];
                                            var i = 0;

                                            lista.forEach(function (entry) {
                                                var line = [];
                                                name = entry.Name;

                                                var i = 0;

                                                /*
                                                 * GERAÇÃO DO MAPA DE CALOR
                                                 */
                                                entry.ListaRegionais.forEach(function (valor) {

                                                    valorMapaDeCalor[i] = parseFloat(valor.DesvioPorc);
                                                    orderMapaDeCalor[i] = parseFloat(valor.DesvioPorc);
                                                    i++;

                                                });

                                                orderMapaDeCalor = orderMapaDeCalor.sort(function (a, b) { return a - b; });
                                                console.log("Mapa: " + valorMapaDeCalor);
                                                console.log("Ordem: " + orderMapaDeCalor);

                                                var minVal = orderMapaDeCalor[0];
                                                var tamanhoArray = orderMapaDeCalor.length;
                                                var maxVal = orderMapaDeCalor[tamanhoArray - 1];

                                                var corPercent = [];

                                                var i = 0;
                                                orderMapaDeCalor.forEach(function (valor) {
                                                    corPercent[i] = ((valor - minVal) / (maxVal - minVal));
                                                    i++;
                                                });



                                                var arrayCor = [];

                                                var i = 0;
                                                var j = 0;
                                                var local = 0;


                                                for (i = 0; i < valorMapaDeCalor.length; i++) {

                                                    local = 0;

                                                    for (j = 0; j < orderMapaDeCalor.length; j++) {

                                                        if (valorMapaDeCalor[i] == orderMapaDeCalor[j]) {
                                                            local = j;
                                                        }

                                                    }

                                                    arrayCor[i] = corPercent[local];

                                                }

                                                console.log(arrayCor);

                                                //entry.ListaRegionais.forEach(function (valor) {
                                        
                                                for (i = 0; i < entry.ListaRegionais.length; i++ ){
                                                    var orcada = [];
                                                    var real = [];
                                                    var desvioP = [];
                                                    var desvioR = [];
                                                    orcada.push(entry.ListaRegionais[i].Orçada);
                                                    orcada.push(name);
                                                    orcada.push(entry.ListaRegionais[i].Regional);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    real.push(entry.ListaRegionais[i].Realizada);
                                                    real.push(name);
                                                    real.push(entry.ListaRegionais[i].Regional);
                                                    real.push(0);
                                                    real.push(0);
                                                    desvioP.push(entry.ListaRegionais[i].DesvioPorc);
                                                    desvioP.push(name);
                                                    desvioP.push(entry.ListaRegionais[i].Regional);
                                                    desvioP.push('%');
                                                    desvioP.push(buscaCor(arrayCor[i]));
                                                    desvioR.push(entry.ListaRegionais[i].DesvioReal);
                                                    desvioR.push(name);
                                                    desvioR.push(entry.ListaRegionais[i].Regional);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    line.push(orcada);
                                                    line.push(real);
                                                    line.push(desvioP);
                                                    line.push(desvioR);

                                                }

                                                dataColumn.push(line);
                                            });


                                            // columnsTotal
                                            var columnsTotal = [];

                                            lista.forEach(function (entry) {
                                                var x = [];
                                                var orcada = [];
                                                var real = [];
                                                var desvioP = [];
                                                var desvioR = [];
                                                orcada.push(entry.total.Orçada);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                real.push(entry.total.Realizada);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                desvioP.push(entry.total.DesvioPorc);
                                                desvioP.push(0);
                                                desvioP.push(0);
                                                desvioP.push('%');
                                                desvioP.push(0);
                                                desvioR.push(entry.total.DesvioReal);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                x.push(orcada);
                                                x.push(real);
                                                x.push(desvioP);
                                                x.push(desvioR);
                                                columnsTotal.push(x);

                                            });

                                            // titleTotal
                                            var titleTotal = [];
                                            titleTotal[0] = [['Total', 4]];
                                            titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];

                                            // footerColumn1
                                            var footerColumn1 = [];
                                            footerColumn1[0] = ['Total', 1];


                                            ////resultado dos totais
                                            var footerTotal = [];
                                            var lineO = [];
                                            var lineR = [];
                                            var lineDP = [];
                                            var lineDR = [];
                                            var orcada = 0;
                                            var real = 0;
                                            var desvioP = 0;
                                            var desvioR = 0;
                                            var dados = [];
                                            lista.forEach(function (entry) {

                                                orcada += entry.total.Orçada;
                                                real += entry.total.Realizada;
                                                desvioP += entry.total.DesvioPorc;
                                                desvioR += entry.total.DesvioReal;

                                            });
                                            lineO.push(orcada);
                                            lineO.push(0);
                                            lineO.push(0);
                                            lineO.push(0);

                                            lineR.push(real);
                                            lineR.push(0);
                                            lineR.push(0);
                                            lineR.push(0);

                                            lineDP.push(desvioP);
                                            lineDP.push(0);
                                            lineDP.push(0);
                                            lineDP.push(0);

                                            lineDR.push(desvioR);
                                            lineDR.push(0);
                                            lineDR.push(0);
                                            lineDR.push(0);

                                            dados.push(lineO);
                                            dados.push(lineR);
                                            dados.push(lineDP);
                                            dados.push(lineDR);
                                            footerTotal.push(dados);

                                            

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[888888, 0, 0, 0], [3062870, 0, 0, 0], [-111, 0, 0, '%'], [-336705, 0, 0, 0],
                                        [9813657, 0, 0, 0], [7413310, 0, 0, 0], [-91, 0, 0, '%'], [-2400347, 0, 0, 0],
                                        [3658561, 0, 0, 0], [2932391, 0, 0, 0], [-79, 0, 0, '%'], [-727171, 0, 0, 0],
                                        [10407292, 0, 0, 0], [4642810, 0, 0, 0], [-61, 0, 0, '%'], [-3333876, 0, 0, 0],
                                        [5351478, 0, 0, 0], [7073416, 0, 0, 0], [-159, 0, 0, '%'], [-2854131, 0, 0, 0],
                                        [12689283, 0, 0, 0], [10186964, 0, 0, 0], [-178, 0, 0, '%'], [-2502320, 0, 0, 0],
                                        [8963011, 0, 0, 0], [7024404, 0, 0, 0], [-97, 0, 0, '%'], [-1938609, 0, 0, 0]];

      

                                        montaTabela('2', '#secoundTableTeste', '170px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);


                                        });

                                    }

                                    //locação segundo gráfico
                                    function SecondChart(name, x1, x2, x3, x4) {

                                        $('#SecondChart').show();

                                        $(function () {
                                            Highcharts.chart('SecondChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'Impacto dos Fatores Técnicos de Desvio - Regional e Conta contábil'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',
                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Destacar a fórmula de cálculo!'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }


                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }]
                                            });
                                        });
                                    }

                                    //chamada ajax terceiro gráfico
                                    function MountThirdChart(n) {

                                        //função ajax para buscar dados

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [719, 715, 781, 730, 707, 231, 891, 955, 881, 841];
                                        var x2 = [987, 1037, 990, 897, 856, 904, 687, 958, 931, 936];
                                        var x3 = [268, 322, 209, 167, 149, 673, -204, 3, 50, 94];
                                        var line = [268, 590, 799, 965, 1115, 1787, 1583, 1587, 1637, 1731];
                                        ThirdChart(name, x1, x2, x3, line);
                                    }

                                    //locação terceiro gráfico
                                    function ThirdChart(name, x1, x2, x3, line) {
                                        $('#ThirdChart').show();
                                        $('#ThirdChartMeses').show();

                                        $(function () {
                                            Highcharts.chart('ThirdChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                title: {
                                                    text: 'Evolutivo DMT'
                                                },
                                                chart: {

                                                    backgroundColor: null,
                                                    zoomType: 'x', zoomType: 'y'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: 'R$ em milhares'
                                                    },
                                                    subtitle: {
                                                        text: document.ontouchstart === undefined ?
                                                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                                                    }
                                                    ,
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },

                                                series: [{
                                                    type: 'column',
                                                    name: 'Despesa Orçada',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Desvio R$',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'spline',
                                                    name: 'Desvio R$ Acumulado',
                                                    data: line,
                                                    marker: {
                                                        lineWidth: 2,
                                                        lineColor: Highcharts.getOptions().colors[3],
                                                        fillColor: 'white'
                                                    }
                                                }]
                                            });
                                        });
                                    }

                                    //chamada ajax quarto gráfico
                                    function MountFourthChart(n) {

                                        //fazer ajax

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [30, 0, 26.9, 11.5, 11.3, 27.8, 513.4, 4.6, -3.8, 2.8, 12.6];
                                        var x2 = [21.2, 16.4, 17.4, 10.0, 2.2, 5.3, -2.4, 3.1, -5.1, -5.5];
                                        var x3 = [7.3, 9.0, -5.0, 1.2, 25.0, 482.3, 7.1, -6.7, 8.3, 19.1];
                                        var x4 = [5.6, 14.3, 13.7, 10.4, -5.2, -36.3, -26.3, 4.4, 2.8, -1.2];

                                        FourthChart(name, x1, x2, x3, x4);
                                    }

                                    //locação quarto gráfico
                                    function FourthChart(name, x1, x2, x3, x4) {
                                        $('#FourthChart').show();
                                        $(function () {
                                            Highcharts.chart('FourthChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'DMT - Evolução do impacto dos fatores de desvio (Real vs Orçado)'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',

                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Total {point.stackTotal}'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1

                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3
                                                }]
                                            });
                                        });
                                    }

                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>


<script type="text/javascript">

    function float2moeda(num) {

        x = 0;

        if (num < 0) {
            num = Math.abs(num);
            x = 1;
        }

        if (isNaN(num)) num = "0";

        num = Math.floor((num * 100 + 0.5) / 100).toString();

        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)

            num = num.substring(0, num.length - (4 * i + 3)) + '.'
                 + num.substring(num.length - (4 * i + 3));
        ret = num;

        if (x == 1) ret = ' - ' + ret;

        return ret;
    }

    $('body > div > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > div').click();

$(document).ready(function(){

});
</script>
