
@{
    ViewBag.Title = "Index";
}

@*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>*@


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">

                <li>
                    <span>Manutenção</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Manutenção</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <div id="corpo" style="margin-left: auto; margin-right:auto; padding:20px; border-left:1px solid #ccc; border-right:1px solid #ccc; ">
                                    <div id="firstChart" style="cursor:pointer;"></div>

                                    <div id="firstTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; ">
                                    </div>

                                    <br /><br />

                                    <div id="firstTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />

                                    <div id="secoundTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%;">
                                    </div>

                                    <div id="secoundTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />
                                    <div id="SecondChart" style="display:none; cursor:pointer"></div>

                                    <br /><br />
                                    <div id="ThirdChartMeses" style="display:none; cursor:pointer">

                                        <table>
                                            <tr>
                                                <td rowspan="2"><b>ANOS</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td colspan="10"></td>
                                                <td rowspan="4"><input type="button" value=" Filtrar " /></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">2015</td>
                                                <td style="padding:5px;">2016</td>
                                            </tr>

                                            <tr>
                                                <td rowspan="2"><b>MESES</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">JAN</td>
                                                <td style="padding:5px;">FEV</td>
                                                <td style="padding:5px;">MAR</td>
                                                <td style="padding:5px;">ABR</td>
                                                <td style="padding:5px;">MAI</td>
                                                <td style="padding:5px;">JUN</td>
                                                <td style="padding:5px;">JUL</td>
                                                <td style="padding:5px;">AGO</td>
                                                <td style="padding:5px;">SET</td>
                                                <td style="padding:5px;">OUT</td>
                                                <td style="padding:5px;">NOV</td>
                                                <td style="padding:5px;">DEZ</td>
                                            </tr>


                                        </table>

                                    </div>

                                    <br /><br />
                                    <div id="ThirdChart" style="display:none; cursor:pointer">


                                        Meses: <input type="checkbox">Jan | <input type="checkbox">Fev | <input type="checkbox">Mar | <input type="checkbox">Abr | <input type="checkbox">Mai | <input type="checkbox">Jun | <input type="checkbox">Jul | <input type="checkbox">Ago | <input type="checkbox">Set | <input type="checkbox">Out | <input type="checkbox">Nov | <input type="checkbox">Dez
                                    </div>

                                    <br /><br />
                                    <div id="FourthChart" style="display:none; cursor:pointer"></div>
                                </div>

                                <script>

                                    //inicialização
                                    $(function () {
                                        MountFirstChart();
                                        firstTable("teste");

                                    });

                                    function montaTabela(id, div, altura, colunaFixa1, titulosColunasCorpo, valoresColuna1, dadosPrincipais, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal) {

                                        $(div).empty();

                                        /******
                                        Todos os valores ficam aqui. Isso garante que todas as div e tables fiquem proporcionais
                                        *******/

                                        var alturaDaMatriz = altura; //Vem dos parâmetros
                                        var alturaDasCelulasDeValor = '40px';
                                        var larguraDasCelulasDeValor = '70px';
                                        var alturaDasCelulasDeMapaDeCalor = '39px';
                                        var larguraDoCorpo = '100%';
                                        var larguraDaColunaFixaEsquerda = '100%';
                                        var larguraDaColunaFixaDireita = '100%';
                                        var alturaDoTituloLinha1 = '30px';
                                        var alturaDoTituloLinha2 = '30px';
                                        var tamanhoDaLetra = '11px';
                                        var alturaDasCelulasDaColuna1 = '40px';

                                        var nivelDeTransparencia = '0.6';

                                        var corColunasAlternadas1 = '#D3D3D3';
                                        var corColunasAlternadas2 = '#DCDCDC';

                                        var corColunasAlternadas3 = '#CCCCCC';
                                        var corColunasAlternadas4 = '#DDDDDD';

                                        var colTituloERodapeFixo = '#DCDCDC';

                                      
                                        


                                        /****************************************************************************************************/

                                        var tabela = "";

                                        /***********************************************************
                                        TABELA
                                        **************************************************/
                                        tabela += "<div id=\"fixarColuna\" style=\"font-size:" + tamanhoDaLetra + "; style=\"width:100%; \">";

                                        tabela += "<style>";
                                        tabela += "#fixarcoluna table {border:none; background-color:none}";
                                        tabela += "#fixarColuna tr {border-bottom: 1px #eee solid;}";
                                        tabela += "#fixarColuna .content table {width:100%;}";
                                        tabela += "#fixarColuna .content tr {background-color: none;}";
                                        tabela += "#fixarColuna .content tr:hover {background-color: none;}";
                                        tabela += "#fixarColuna .content td {border-bottom:solid 1px #999; padding:0px;}";
                                        tabela += "#fixarColuna .contentHead td {border-bottom:solid 2px #CCC; padding:0px;}";
                                        tabela += "#fixarColuna .contentHead tr {background-color: none;}";
                                        tabela += "#fixarColuna .content" + id + " {display:block; width:100%; padding:0; margin:0; overflow-y: hidden; height:" + alturaDaMatriz + ";}";
                                        tabela += "fixarColuna .contentHead {display:block; width:98.5%; padding:0; margin:0; overflow: hidden; height:35px;}";
                                        tabela += "#fixarColuna .content div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .contentHead div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .content .contentHead .larguraP19 {width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden;}";

                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-track {";
                                        tabela += "    background-color: #FFFFFF;";
                                        tabela += "}";
                                        tabela += "  #fixBody" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                        background: blue;";
                                        tabela += "                                    }";
                                        tabela += "";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                        background-color: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #FFFFFF;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: blue;";
                                        tabela += "                                   }";
                                        tabela += "";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                       background-color: #FFFFFF;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar {";
                                        tabela += "                                       width: 6px;";
                                        tabela += "                                       height: 6px;";
                                        tabela += "                                       background: #FFFFFF;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: blue;";
                                        tabela += "                                   }";


                                        tabela += "</style>"

                                        tabela += "<div style=\"width:10%; height:" + alturaDaMatriz + "; float:left;\">";

                                        /***************************
                                        TITULOS ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" width=\"100%\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td height=\"" + alturaDoTituloLinha1 + "\" width=\"" + larguraDaColunaFixaEsquerda + "\" rowspan=\"" + colunaFixa1[0][1] + "\">" + colunaFixa1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "<tr>";
                                        tabela += "<td height=\"" + alturaDoTituloLinha2 + "\" width=\"" + larguraDaColunaFixaEsquerda + "\" rowspan=\"" + colunaFixa1[1][1] + "\" style=\"background-color:" + colTituloERodapeFixo + ";\">" + colunaFixa1[1][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                        COLUNA ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + ";overflow-y:hidden;overflow-x:scroll; float:left; height:" + altura + ";\" id=\"colUie" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" >";

                                        for (var i = 0; i < valoresColuna1.length; i++) {
                                            tabela += "<tr><td height=\"" + alturaDasCelulasDaColuna1 + "\" >" + valoresColuna1[i][0] + "</td></tr>";
                                        }


                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        RODAPE ESQUERDA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaEsquerda + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\"   width=\"100%\" >";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td style=\"background-color: " + colTituloERodapeFixo + "\" height=\"" + alturaDasCelulasDeValor + "\" rowspan=\"" + footerColumn1[0][1] + "\">" + footerColumn1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        /************************************************************************************/

                                        tabela += "<div style=\"width:60%; height:" + alturaDaMatriz + "; float:left;\">";

                                        /***************************
                                       TITULOS CORPO
                                       ***************************/
                                        tabela += "<div id=\"colHead" + id + "\" style=\"width:" + larguraDoCorpo + "; overflow-x: hidden; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < titulosColunasCorpo[0].length; i++) {
                                            var color = corColunasAlternadas3;
                                            if (i % 2 == 0) {
                                                color = corColunasAlternadas4;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha1 + "; min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titulosColunasCorpo[0][i][1] + "\"><b>" + titulosColunasCorpo[0][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < titulosColunasCorpo[1].length; i++) {
                                            
                                            if (i % 4 == 0) {                                           
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha2 + ";min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titulosColunasCorpo[1][i][1] + "\"><b>" + titulosColunasCorpo[1][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        COLUNA CORPO
                                        ***************************/
                                        tabela += "<div id=\"fixBody" + id + "\" style=\"width:" + larguraDoCorpo + ";overflow: scroll;height:" + altura + ";z-index:2; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";


                                        for (var i = 0; i < dadosPrincipais.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < dadosPrincipais[i].length; j++) {
                                                //tabela += "<td height=\"" + alturaDasCelulasDeValor + "\" onclick=\"secoundTable(this)\"align=\"center\" x=\"" + dadosPrincipais[i][j][1] + "\" y=\"" + dadosPrincipais[i][j][2] + "\"style=\"min-width:" + larguraDasCelulasDeValor + ";  background-color: " + dadosPrincipais[i][j][4] + "\">" + (dadosPrincipais[i][j][3] == '%' ? '<i>' + dadosPrincipais[i][j][0] + '<i>%' : float2moeda(Math.ceil(dadosPrincipais[i][j][0] / 1000))) + "</td>";

                                                tabela += "<td onclick=\"secoundTable(this)\"align=\"center\" x=\"" + dadosPrincipais[i][j][1] + "\" y=\"" + dadosPrincipais[i][j][2] + "\" align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                                tabela += (dadosPrincipais[i][j][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + dadosPrincipais[i][j][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + "#ffff00" + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(dadosPrincipais[i][j][0] / 1000))) + "</td>";

                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                       RODAPE CORPO
                                       ***************************/
                                        tabela += "<div id=\"footerBody" + id + "\" style=\"width:" + larguraDoCorpo + "; overflow-x: hidden; float: right;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < footerColumnsBody[0].length; i++) {

                                            if (i % 4 == 0) {
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }

                                            tabela += "<td align=\"center\" style=\"background-color: " + color + "; min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                            tabela += (footerColumnsBody[0][i][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + footerColumnsBody[0][i][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + "#ffff00" + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(footerColumnsBody[0][i][0] / 1000))) + "</td>";

                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        /************************************************************************************/

                                        tabela += "<div style=\"width:30%; " + alturaDaMatriz + "; float:left;\">";


                                        /***************************
                                        TITULOS DIREITA
                                        ***************************/
                                        tabela += "<div  id=\"headTotal" + id + "\" class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + "; overflow-x: hidden; float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";

                                        tabela += "<tr>";
                                        
                                        for (var i = 0; i < titleTotal[0].length; i++) {
                                            var color = corColunasAlternadas3;
                                            if (i % 2 == 0) {
                                                color = corColunasAlternadas4;
                                            }
                                            tabela += "<td align=\"center\" style=\"height:" + alturaDoTituloLinha1 + "; width:" + larguraDaColunaFixaDireita + "; background-color: " + color + ";\" colspan=\"" + titleTotal[0][i][1] + "\">" + titleTotal[0][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        var color = corColunasAlternadas1;

                                        for (var i = 0; i < titleTotal[1].length; i++) {
                                            if (i % 4 == 0) {
                                                color == corColunasAlternadas1 ? color = corColunasAlternadas2 : color = corColunasAlternadas1;
                                            }
                                            tabela += "<td align=\"center\" style=\" height:" + alturaDoTituloLinha2 + "; min-width:" + larguraDasCelulasDeValor + "; background-color: " + color + ";\" colspan=\"" + titleTotal[1][i][1] + "\">" + titleTotal[1][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";


                                        /***************************
                                        COLUNA DIREITA
                                        ***************************/
                                        tabela += "<div class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + ";overflow-y:hidden; float:left;overflow-x:scroll;height:" + altura + ";\" id=\"colUieFim" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" >";


                                        for (var i = 0; i < columnsTotal.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < columnsTotal[i].length; j++) {                                                

                                                tabela += "<td align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; padding:0px; height: " + alturaDasCelulasDeValor + ";\">";
                                                tabela += (columnsTotal[i][j][3] == '%' ? "<div style=\"position: relative; width:" + larguraDasCelulasDeValor + "; height: " + alturaDasCelulasDeMapaDeCalor + "; z-index:1; line-height: " + alturaDasCelulasDeMapaDeCalor + ";\"><i><b>" + columnsTotal[i][j][0] + "%</b><i></div> <div style=\"margin-top: -" + alturaDasCelulasDeValor + ";width:" + larguraDasCelulasDeValor + ";height: " + alturaDasCelulasDeValor + "; position:relative ;background-color: " + "#ffff00" + "; opacity: " + nivelDeTransparencia + "; z-index:0;\"></div>" : float2moeda(Math.ceil(columnsTotal[i][j][0] / 1000))) + "</td>";

                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";

                                        /***************************
                                        RODAPE DIREITA
                                        ***************************/
                                        tabela += "<div id=\"footerTotal" + id + "\" class=\"larguraP19\" style=\"width:" + larguraDaColunaFixaDireita + "; overflow-x: hidden;  float:left;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < footerTotal[0].length; i++) {
                                            tabela += "<td height=\"" + alturaDasCelulasDeValor + "\"  align=\"center\" style=\"min-width:" + larguraDasCelulasDeValor + "; background-color: " + colTituloERodapeFixo + "\" colspan=\"" + footerTotal[0][i][1] + "\">" + (footerTotal[0][i][3] == '%' ? footerTotal[0][i][0] : float2moeda(Math.ceil(footerTotal[0][i][0] / 1000))) + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";
                                        /***************************************************/


                                        tabela += "</div>";

                                        $(div).append(tabela);


                                        $('#fixBody' + id).scroll(function () {
                                            $("#colHead" + id).scrollLeft($(this).scrollLeft());
                                            $("#colFoot" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerBody" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#colUieFim' + id).scroll(function () {
                                            $("#headTotal" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerTotal" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#fixBody' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUieFim' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUie' + id).scroll(function () {
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });

                                        $(div).show();

                                    }


                                    //monta titulo de linha da tabela
                                    function MountTitleLineTable(title) {

                                        var tr = "<tr><td class=\"left\"></td>"
                                        function logArrayElements(element, index, array) {
                                            tr = tr + "<td value=\"" + element + "\"colspan=\"4\" class=\"left\">" + element + "</td>";
                                        }
                                        title.forEach(logArrayElements);

                                        return tr;
                                    }

                                    //montar subtitulo
                                    function MountSubTitleLineTable(tamanho) {
                                        var tr = "<tr><td class=\"left\">Pacote</td>";
                                        ////console.log(tamanho);
                                        for (var i = 0; i < tamanho; i++) {
                                            tr = tr + "<td class=\"left\">Orçada</td><td>Real</td><td>Desvio <br>%</td><td>Desvio <br>$</td>";
                                        };
                                        tr = tr + "</tr>";

                                        return tr;
                                    }

                                    //monta tabela com dados dinamicos
                                    function MountTitleColumnTable(tituloLine, dataTable) {
                                        sizeArray = tituloLine.length;
                                        //console.log(tituloLine);
                                        var x = 0;
                                        var tr = "<tr>";
                                        function logArrayElements(element, index, array) {

                                            for (var i = 1; i < element.length; i++) {
                                                tr = tr + "<td x=\"" + element[0][2] + "\" value=\"" + element[i][0] + "\" style=\"background-color:" + element[i][1] + ";\">" + element[i][0] + "</td>";
                                            };

                                            tr = tr + "</tr>";
                                        }

                                        dataTable.forEach(logArrayElements);
                                        return tr;
                                    }

                                    //quando clicar na primeira tabela
                                    $('#firstTableTeste').click(function () {

                                        //secoundTable('name');

                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);

                                    });

                                    //quando clicar na segunda tabela
                                    $('#secoundTable').click(function () {

                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);
                                    });

                                    //chamada ajax para montar primeiro gráfico
                                    function MountFirstChart() {
                                        var name = ["Reg 1 - GO/MA/BA", "Reg 1 - MS/SP", "Reg 2 - MT I/AC/RO", "Reg 2 - MT II,TO,MA,PA", "Total Geral"];
                                        var x1 = [59.975, 90.866, 77.343, 86.677];
                                        var x2 = [51.218, 85.776, 77.578, 86.076];
                                        firstChart(name, x1, x2);
                                    }

                                    //locação primeiro gráfico
                                    function firstChart(name, x1, x2) {
                                        $(function () {
                                            var chart = Highcharts.chart('firstChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                chart: {
                                                    type: 'column'
                                                    //,backgroundColor: null
                                                },

                                                title: {
                                                    text: 'Despesas por Regional'
                                                },


                                                legend: {
                                                    align: 'center',
                                                    verticalAlign: 'bottom',
                                                    layout: 'left'
                                                },

                                                xAxis: {
                                                    categories: name,
                                                    labels: {
                                                        x: -10
                                                    },
                                                    /*
                                                    formatter: function () {
                                                            return (4 > 2 ? plotOptions.area.zones: 'red');
                                                        }
                                                    */
                                                },

                                                yAxis: {
                                                    allowDecimals: false,
                                                    title: {
                                                        text: 'R$ em milhares'
                                                    }
                                                },

                                                series: [{
                                                    name: 'Despesa Orçada',
                                                    data: x1,

                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    //zones: [{
                                                    //    value: 60,
                                                    //    color: 'red'
                                                    //}, {
                                                    //    value: 80,
                                                    //    color: 'green'
                                                    //}, {
                                                    //    color: 'blue'
                                                    //}],
                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }
                                                ],

                                                responsive: {
                                                    rules: [{
                                                        condition: {
                                                            maxWidth: 500
                                                        },
                                                        chartOptions: {
                                                            legend: {
                                                                align: 'center',
                                                                verticalAlign: 'bottom',
                                                                layout: 'horizontal'
                                                            },
                                                            yAxis: {
                                                                labels: {
                                                                    align: 'left',
                                                                    x: 0,
                                                                    y: -5
                                                                },
                                                                title: {
                                                                    text: null
                                                                }
                                                            },
                                                            subtitle: {
                                                                text: null
                                                            },
                                                            credits: {
                                                                enabled: false
                                                            }
                                                        }
                                                    }]
                                                }
                                            });
                                        });
                                    }

                                    function firstTable(name) {

                                        $('#firstTable .table').remove('table');
                                        var tabela1;
                                        $.post('../api/Manutencao/getTabela1', function (lista) {

                                            // titleColumn1
                                            var titleColumn1 = [];
                                            titleColumn1[0] = ['&nbsp;', 1];
                                            titleColumn1[1] = ['Pacotes', 1];

                                            // titleColumn
                                            var titleColumn = [];
                                            var titleLine = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {

                                                titleLine.push(entry.Regional);
                                                });


                                            var x1 = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                a = [];
                                                a.push(entry.Regional);
                                                a.push(4);
                                                x1.push(a);
                                            });
                                            var x2 = [['Orçada', 1], ['Orçada', 1], ['Desvio %', 1], ['Desvio $', 1]];
                                            var aux1 = ['Orçada', 1];
                                            var aux2 = ['Real', 1];
                                            var aux3 = ['Desvio %', 1];
                                            var aux4 = ['Desvio $', 1];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                x2.push(aux1);
                                                x2.push(aux2);
                                                x2.push(aux3);
                                                x2.push(aux4);
                                            });
                                            var titleColumnsBody = [];
                                            titleColumnsBody[0] = x1;
                                            titleColumnsBody[1] = x2;

                                            // column1
                                            var column1 = [];
                                            lista.forEach(function (entry) {
                                                var a = [];
                                                a.push(entry.Name);
                                                a.push(0);
                                                a.push(0);
                                                a.push(0);
                                                column1.push(a);
                                            });

                                            // dataColumn
                                            var name;
                                            var dataColumn = [];
                                            lista.forEach(function (entry) {
                                                var line = [];
                                                name = entry.Name;
                                                entry.ListaRegionais.forEach(function (valor) {
                                                    var orcada = [];
                                                    var real = [];
                                                    var desvioP = [];
                                                    var desvioR = [];
                                                    orcada.push(valor.Orçada);
                                                    orcada.push(name);
                                                    orcada.push(valor.Regional);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    real.push(valor.Realizada);
                                                    real.push(name);
                                                    real.push(valor.Regional);
                                                    real.push(0);
                                                    real.push(0);
                                                    desvioP.push(valor.DesvioPorc);
                                                    desvioP.push(name);
                                                    desvioP.push(valor.Regional);
                                                    desvioP.push('%');
                                                    desvioP.push(0);
                                                    desvioR.push(valor.DesvioReal);
                                                    desvioR.push(name);
                                                    desvioR.push(valor.Regional);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    line.push(orcada);
                                                    line.push(real);
                                                    line.push(desvioP);
                                                    line.push(desvioR);

                                                });
                                                dataColumn.push(line);
                                            });


                                            // columnsTotal
                                            var columnsTotal = [];

                                            lista.forEach(function (entry) {
                                                var dataColumn = [];
                                                var orcada = [];
                                                var real = [];
                                                var desvioP = [];
                                                var desvioR = [];
                                                orcada.push(entry.total.Orçada);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                real.push(entry.total.Realizada);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                desvioP.push(entry.total.DesvioPorc);
                                                desvioP.push(0);
                                                desvioP.push(0);
                                                desvioP.push('%');
                                                desvioP.push(0);
                                                desvioR.push(entry.total.DesvioReal);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                dataColumn.push(orcada);
                                                dataColumn.push(real);
                                                dataColumn.push(desvioP);
                                                dataColumn.push(desvioR);
                                                columnsTotal.push(dataColumn);
                                                
                                            });

                                        // titleTotal
                                        var titleTotal = [];
                                        titleTotal[0] = [['Total', 4]];
                                        titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];

                                        // footerColumn1
                                        var footerColumn1 = [];
                                        footerColumn1[0] = ['Total', 1];


                                        ////resultado dos totais
                                        var footerTotal = [];
                                        var lineO = [];
                                        var lineR = [];
                                        var lineDP = [];
                                        var lineDR = [];
                                        var orcada = 0;
                                        var real = 0;
                                        var desvioP = 0;
                                        var desvioR = 0;
                                        var dados = [];
                                        lista.forEach(function (entry) {

                                            orcada += entry.total.Orçada;
                                            real += entry.total.Realizada;
                                            desvioP += entry.total.DesvioPorc;
                                            desvioR += entry.total.DesvioReal;

                                        });
                                        lineO.push(orcada);
                                        lineO.push(0);
                                        lineO.push(0);
                                        lineO.push(0);

                                        lineR.push(real);
                                        lineR.push(0);
                                        lineR.push(0);
                                        lineR.push(0);

                                        lineDP.push(desvioP);
                                        lineDP.push(0);
                                        lineDP.push(0);
                                        lineDP.push(0);

                                        lineDR.push(desvioR);
                                        lineDR.push(0);
                                        lineDR.push(0);
                                        lineDR.push(0);

                                        dados.push(lineO);
                                        dados.push(lineR);
                                        dados.push(lineDP);
                                        dados.push(lineDR);
                                        footerTotal.push(dados);

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[71869051, 0, 0, 0], [59395621, 0, 0, 0], [-17, 0, 'red', '%'], [-12473430, 0, 0, 0], [109268410, 0, 0, 0], [99672114, 0, 0, 0], [-9, 0, 'yellow', '%'], [-9596296, 0, 0, 0], [92744407, 0, 0, 0], [90458420, 0, 0, 0], [-2, 0, 'green', '%'], [-2285987, 0, 0, 0], [102898593, 0, 0, 0], [98912173, 0, 0, 0], [-4, 0, 'yellow', '%'], [-3986420, 0, 0, 0]];


                                        //montagem dos dados
                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br><br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Desvio %</td><td rowspan=\"2\" class=\"left right\">Total <br>Desvio $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";

                                        montaTabela('1', '#firstTableTeste', '90px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);
                                        });
                                    }

                                    function secoundTable(name) {
                                        $('#secoundTable .table').remove('table');

                                        var pacote = name.getAttribute("x");
                                        alert(name.getAttribute("x") + " - " + name.getAttribute("y"));
                                        var regional = name.getAttribute("y");
                                        
                                        $.post('../api/Manutencao/getTabela2', { pacote: pacote, regional: regional }, function (lista) {
                                            // titleColumn1
                                            var titleColumn1 = [];
                                            titleColumn1[0] = ['&nbsp;', 1];
                                            titleColumn1[1] = ['Pacotes', 1];

                                            // titleColumn
                                            var titleColumn = [];
                                            var titleLine = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {

                                                titleLine.push(entry.Regional);
                                            });


                                            var x1 = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                a = [];
                                                a.push(entry.Regional);
                                                a.push(4);
                                                x1.push(a);
                                            });
                                            var x2 = [['Orçada', 1], ['Orçada', 1], ['Desvio %', 1], ['Desvio $', 1]];
                                            var aux1 = ['Orçada', 1];
                                            var aux2 = ['Real', 1];
                                            var aux3 = ['Desvio %', 1];
                                            var aux4 = ['Desvio $', 1];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                x2.push(aux1);
                                                x2.push(aux2);
                                                x2.push(aux3);
                                                x2.push(aux4);
                                            });
                                            var titleColumnsBody = [];
                                            titleColumnsBody[0] = x1;
                                            titleColumnsBody[1] = x2;

                                            // column1
                                            var column1 = [];
                                            lista.forEach(function (entry) {
                                                var a = [];
                                                a.push(entry.Name);
                                                a.push(0);
                                                a.push(0);
                                                a.push(0);
                                                column1.push(a);
                                            });

                                            // dataColumn
                                            var name;
                                            var dataColumn = [];
                                            lista.forEach(function (entry) {
                                                var line = [];
                                                name = entry.Name;
                                                entry.ListaRegionais.forEach(function (valor) {
                                                    var orcada = [];
                                                    var real = [];
                                                    var desvioP = [];
                                                    var desvioR = [];
                                                    orcada.push(valor.Orçada);
                                                    orcada.push(name);
                                                    orcada.push(valor.Regional);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    real.push(valor.Realizada);
                                                    real.push(name);
                                                    real.push(valor.Regional);
                                                    real.push(0);
                                                    real.push(0);
                                                    desvioP.push(valor.DesvioPorc);
                                                    desvioP.push(name);
                                                    desvioP.push(valor.Regional);
                                                    desvioP.push('%');
                                                    desvioP.push(0);
                                                    desvioR.push(valor.DesvioReal);
                                                    desvioR.push(name);
                                                    desvioR.push(valor.Regional);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    line.push(orcada);
                                                    line.push(real);
                                                    line.push(desvioP);
                                                    line.push(desvioR);

                                                });
                                                dataColumn.push(line);
                                            });


                                            // columnsTotal
                                            var columnsTotal = [];

                                            lista.forEach(function (entry) {
                                                var x = [];
                                                var orcada = [];
                                                var real = [];
                                                var desvioP = [];
                                                var desvioR = [];
                                                orcada.push(entry.total.Orçada);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                orcada.push(0);
                                                real.push(entry.total.Realizada);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                real.push(0);
                                                desvioP.push(entry.total.DesvioPorc);
                                                desvioP.push(0);
                                                desvioP.push(0);
                                                desvioP.push('%');
                                                desvioP.push(0);
                                                desvioR.push(entry.total.DesvioReal);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                desvioR.push(0);
                                                x.push(orcada);
                                                x.push(real);
                                                x.push(desvioP);
                                                x.push(desvioR);
                                                columnsTotal.push(x);

                                            });

                                            // titleTotal
                                            var titleTotal = [];
                                            titleTotal[0] = [['Total', 4]];
                                            titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Desvio %', 1], ['Desvio $', 1]];

                                            // footerColumn1
                                            var footerColumn1 = [];
                                            footerColumn1[0] = ['Total', 1];


                                            ////resultado dos totais
                                            var footerTotal = [];
                                            var lineO = [];
                                            var lineR = [];
                                            var lineDP = [];
                                            var lineDR = [];
                                            var orcada = 0;
                                            var real = 0;
                                            var desvioP = 0;
                                            var desvioR = 0;
                                            var dados = [];
                                            lista.forEach(function (entry) {

                                                orcada += entry.total.Orçada;
                                                real += entry.total.Realizada;
                                                desvioP += entry.total.DesvioPorc;
                                                desvioR += entry.total.DesvioReal;

                                            });
                                            lineO.push(orcada);
                                            lineO.push(0);
                                            lineO.push(0);
                                            lineO.push(0);

                                            lineR.push(real);
                                            lineR.push(0);
                                            lineR.push(0);
                                            lineR.push(0);

                                            lineDP.push(desvioP);
                                            lineDP.push(0);
                                            lineDP.push(0);
                                            lineDP.push(0);

                                            lineDR.push(desvioR);
                                            lineDR.push(0);
                                            lineDR.push(0);
                                            lineDR.push(0);

                                            dados.push(lineO);
                                            dados.push(lineR);
                                            dados.push(lineDP);
                                            dados.push(lineDR);
                                            footerTotal.push(dados);

                                            

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[888888, 0, 0, 0], [3062870, 0, 0, 0], [-111, 0, 0, '%'], [-336705, 0, 0, 0],
                                        [9813657, 0, 0, 0], [7413310, 0, 0, 0], [-91, 0, 0, '%'], [-2400347, 0, 0, 0],
                                        [3658561, 0, 0, 0], [2932391, 0, 0, 0], [-79, 0, 0, '%'], [-727171, 0, 0, 0],
                                        [10407292, 0, 0, 0], [4642810, 0, 0, 0], [-61, 0, 0, '%'], [-3333876, 0, 0, 0],
                                        [5351478, 0, 0, 0], [7073416, 0, 0, 0], [-159, 0, 0, '%'], [-2854131, 0, 0, 0],
                                        [12689283, 0, 0, 0], [10186964, 0, 0, 0], [-178, 0, 0, '%'], [-2502320, 0, 0, 0],
                                        [8963011, 0, 0, 0], [7024404, 0, 0, 0], [-97, 0, 0, '%'], [-1938609, 0, 0, 0]];

                                        


                                        //montagem dos dados

                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Desvio %</td><td rowspan=\"2\" class=\"left right\">Total <br>Desvio $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";
                                        //$("#firstTable").append(table);
                                        //$('#firstTable').show();

                                        montaTabela('2', '#secoundTableTeste', '170px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);


                                        });

                                    }

                                    //locação primeira tabela
                                    function secoundTableOld(name) {
                                        $('#secoundTable .table').remove('table');
                                        //teste primeira tabela -> mocação dados
                                        var titleColumn = [];
                                        var titleLine = ['UN1', 'UN2', 'UN3', 'UN4'];

                                        // dataTable = MountTitleColumnTable(aux);
                                        titleColumn[0] = [8, 'Total Geral', 59.975, 51.218, -14.6, -8.757, 90.866, 85.776, -5.6, -5.090, 77.343, 77.578, 0.3, 236, 86.677, 86.076, -0.7, -601, 314.861, 300.647, 0, -14.213];
                                        titleColumn[1] = [3, 'COMBUSTÍVEIS/LUBRIFICANTES', 11.034, 8.302, -24.8, -2.733, 13.315, 13.027, -2.2, -287, 12.322, 11.258, -8.6, -1.064, 14.348, 13.719, -4.4, -629, 51.019, 46.306, -9.2, -4.713];
                                        titleColumn[2] = [4, 'ENERGIA ELÉTRICA', 34.277, 28.316, -17.4, -5.962, 57.528, 52.343, -9.0, -5.185, 48.949, 50.514,
                                        3.2, 1.565, 55.228, 55.052, -0.3, -176, 195.982, 186.225, -5.0, -9.757];
                                        titleColumn[3] = [5, 'MANUTENÇÃO INDUSTRIAL/PREDIAL', 14.661, 14.600, -0.4, -62, 20.021, 20.377, 1.8, 356,
                                        16.072, 15.804, -1.7, -268, 17.095, 17.306, 1.2, 211, 67.849, 68.086, 0.3, 237];
                                        titleColumn[4] = [6, 'TRATAMENTO ÁGUA / ESGOTO', 2, 0, -100.0, -2, 3, 29, 875.1, 26, 0, 2, 0, 2, 6, -1, -109.4, -7, 11, 30, 180.8, 19];
                                        titleColumn[5] = [7, 'UTILIDADES-OUTROS', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

                                        //montagem dos dados

                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Desvio %</td><td rowspan=\"2\" class=\"left right\">Total <br>Desvio $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";
                                        $("#secoundTable").append(table);
                                        $('#secoundTable').show();
                                    }

                                    //locação segundo gráfico
                                    function SecondChart(name, x1, x2, x3, x4) {

                                        $('#SecondChart').show();

                                        $(function () {
                                            Highcharts.chart('SecondChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'Impacto dos Fatores de Desvio'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',
                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Destacar a fórmula de cálculo!'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }


                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }]
                                            });
                                        });
                                    }

                                    //chamada ajax terceiro gráfico
                                    function MountThirdChart(n) {

                                        //função ajax para buscar dados

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [719, 715, 781, 730, 707, 231, 891, 955, 881, 841];
                                        var x2 = [987, 1037, 990, 897, 856, 904, 687, 958, 931, 936];
                                        var x3 = [268, 322, 209, 167, 149, 673, -204, 3, 50, 94];
                                        var line = [268, 590, 799, 965, 1115, 1787, 1583, 1587, 1637, 1731];
                                        ThirdChart(name, x1, x2, x3, line);
                                    }

                                    //locação terceiro gráfico
                                    function ThirdChart(name, x1, x2, x3, line) {
                                        $('#ThirdChart').show();
                                        $('#ThirdChartMeses').show();

                                        $(function () {
                                            Highcharts.chart('ThirdChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                title: {
                                                    text: 'Evolutivo DMT'
                                                },
                                                chart: {

                                                    backgroundColor: null,
                                                    zoomType: 'x', zoomType: 'y'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: 'R$ em milhares'
                                                    },
                                                    subtitle: {
                                                        text: document.ontouchstart === undefined ?
                                                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                                                    }
                                                    ,
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },

                                                series: [{
                                                    type: 'column',
                                                    name: 'Despesa Orçada',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Desvio R$',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'spline',
                                                    name: 'Desvio R$ Acumulado',
                                                    data: line,
                                                    marker: {
                                                        lineWidth: 2,
                                                        lineColor: Highcharts.getOptions().colors[3],
                                                        fillColor: 'white'
                                                    }
                                                }]
                                            });
                                        });
                                    }


                                    //chamada ajax quarto gráfico
                                    function MountFourthChart(n) {

                                        //fazer ajax

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [30, 0, 26.9, 11.5, 11.3, 27.8, 513.4, 4.6, -3.8, 2.8, 12.6];
                                        var x2 = [21.2, 16.4, 17.4, 10.0, 2.2, 5.3, -2.4, 3.1, -5.1, -5.5];
                                        var x3 = [7.3, 9.0, -5.0, 1.2, 25.0, 482.3, 7.1, -6.7, 8.3, 19.1];
                                        var x4 = [5.6, 14.3, 13.7, 10.4, -5.2, -36.3, -26.3, 4.4, 2.8, -1.2];

                                        FourthChart(name, x1, x2, x3, x4);
                                    }

                                    //locação quarto gráfico
                                    function FourthChart(name, x1, x2, x3, x4) {
                                        $('#FourthChart').show();
                                        $(function () {
                                            Highcharts.chart('FourthChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'DMT - Evolução do impacto dos fatores de desvio (Real vs Orçado)'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',

                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Total {point.stackTotal}'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1

                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3
                                                }]
                                            });
                                        });
                                    }

                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>


<script type="text/javascript">

    function float2moeda(num) {

        x = 0;

        if (num < 0) {
            num = Math.abs(num);
            x = 1;
        }

        if (isNaN(num)) num = "0";

        num = Math.floor((num * 100 + 0.5) / 100).toString();

        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)

            num = num.substring(0, num.length - (4 * i + 3)) + '.'
                 + num.substring(num.length - (4 * i + 3));
        ret = num;

        if (x == 1) ret = ' - ' + ret;

        return ret;
    }

    $('body > div > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > div').click();

$(document).ready(function(){






    $('#teste').css({ 'margin-top': '218px' });
});
</script>
