
@{
    ViewBag.Title = "Index";
}

@*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>*@


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 40%;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">

                <li>
                    <span>Manutenção</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Manutenção</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <style type="text/css">
                                    .left {
                                        border-left: 1px solid #ddd;
                                    }

                                    .right {
                                        border-right: 1px solid #ddd;
                                    }

                                    .bottom {
                                        border-bottom: 1px solid #ddd;
                                    }

                                    .table tr td {
                                        font-size: 10px;
                                    }

                                    gf {
                                        background: #ffffff;
                                        color: #000;
                                        font-weight:bold;
                                        
                                    }
                                </style>

                                <div id="corpo" style="margin-left: auto; margin-right:auto; padding:20px; border-left:1px solid #ccc; border-right:1px solid #ccc; ">
                                    <div id="firstChart" style="cursor:pointer;"></div>
                                    <!--
                                    <div id="firstTable1" style="display:none; cursor:pointer">
                                        <br>
                                        <table class="table " style="text-align:center;">
                                            <tr>
                                                <td class="left"></td>
                                                <td colspan="4" class="left" value="reg1">Reg 1 - GO/MG/BA</td>
                                                <td colspan="4" class="left">Reg 1 - MS/SP</td>
                                                <td colspan="4" class="left">Reg 2 - MT I/AC/RO</td>
                                                <td colspan="4" class="left">Reg 2 - MT II/TO/MA/PA</td>
                                                <td rowspan="2" class="left">Total <br>Despesa <br>Orçada</td>
                                                <td rowspan="2" class="left">Total <br>Despesa <br>Real</td>
                                                <td rowspan="2" class="left">Total <br>Δ $</td>
                                                <td rowspan="2" class="left right">Total <br>Δ %</td>
                                            </tr>
                                            <tr>
                                                <td class="left">Pacote</td>
                                                <td class="left">Despesa <br>Orçada</td>
                                                <td>Despesa <br>Real</td>
                                                <td>Δ <br>$</td>
                                                <td>Δ <br>%</td>
                                                <td class="left">Despesa <br>Orçada</td>
                                                <td>Despesa <br>Real</td>
                                                <td>Δ <br>$</td>
                                                <td>Δ <br>%</td>
                                                <td class="left">Despesa <br>Orçada</td>
                                                <td>Despesa <br>Real</td>
                                                <td>Δ <br>$</td>
                                                <td>Δ <br>%</td>
                                                <td class="left">Despesa <br>Orçada</td>
                                                <td>Despesa <br>Real</td>
                                                <td>Δ <br>$</td>
                                                <td>Δ <br>%</td>
                                            </tr>
                                            <tr>
                                                <td class="left">COMBUSTÍVEIS/LUBRIFICANTES</td>
                                                <td class="left">11.034</td>
                                                <td> 8.302</td>
                                                <td> -24,8%</td>
                                                <td>-2.733</td>
                                                <td class="left">13.315 </td>
                                                <td>13.027 </td>
                                                <td>-2,2%</td>
                                                <td>-287</td>
                                                <td class="left">12.322 </td>
                                                <td>11.258 </td>
                                                <td>-8,6%</td>
                                                <td>-1.064</td>
                                                <td class="left">14.348 </td>
                                                <td>13.719 </td>
                                                <td>-4,4%</td>
                                                <td>-629</td>
                                                <td class="left">51.019 </td>
                                                <td class="left">46.306 </td>
                                                <td class="left">-9,2%</td>
                                                <td class="left right">-4.713</td>
                                            </tr>
                                            <tr>
                                                <td class="left">ENERGIA ELÉTRICA</td>
                                                <td class="left">34.277 </td>
                                                <td>28.316 </td>
                                                <td>-17,4%</td>
                                                <td>-5.962</td>
                                                <td class="left">57.528 </td>
                                                <td>52.343 </td>
                                                <td>-9,0%</td>
                                                <td>-5.185</td>
                                                <td class="left">48.949 </td>
                                                <td>50.514 </td>
                                                <td>3,2%</td>
                                                <td>1.565</td>
                                                <td class="left">55.228</td>
                                                <td>55.052 </td>
                                                <td>-0,3%</td>
                                                <td>-176</td>
                                                <td class="left">195.982 </td>
                                                <td class="left">186.225 </td>
                                                <td class="left">-5,0%</td>
                                                <td class="left right">-9.757</td>
                                            </tr>
                                            <tr>
                                                <td class="left">MANUTENÇÃO INDUSTRIAL/PREDIAL</td>
                                                <td class="left">14.661</td>
                                                <td>14.600 </td>
                                                <td>-0,4%</td>
                                                <td>-62</td>
                                                <td class="left">20.021 </td>
                                                <td>20.377 </td>
                                                <td>1,8%</td>
                                                <td>356</td>
                                                <td class="left">16.072 </td>
                                                <td>15.804 </td>
                                                <td>-1,7%</td>
                                                <td>-268</td>
                                                <td class="left">17.095 </td>
                                                <td>17.306 </td>
                                                <td>1,2%</td>
                                                <td>211</td>
                                                <td class="left">67.849 </td>
                                                <td class="left">68.086 </td>
                                                <td class="left">0,3%</td>
                                                <td class="left right">237</td>
                                            </tr>
                                            <tr>
                                                <td class="left">TRATAMENTO ÁGUA / ESGOTO</td>
                                                <td class="left">2</td>
                                                <td>0</td>
                                                <td>-100,0%</td>
                                                <td>-2</td>
                                                <td class="left">3</td>
                                                <td>29</td>
                                                <td>875,1%</td>
                                                <td>26</td>
                                                <td class="left">0</td>
                                                <td>2</td>
                                                <td></td>
                                                <td>2</td>
                                                <td class="left">6</td>
                                                <td>-1</td>
                                                <td>-109,4%</td>
                                                <td>-7</td>
                                                <td class="left">11</td>
                                                <td class="left">30</td>
                                                <td class="left">180,8%</td>
                                                <td class="left right">19</td>
                                            </tr>
                                            <tr>
                                                <td class="left">UTILIDADES-OUTROS</td>
                                                <td class="left">0</td>
                                                <td>0</td>
                                                <td></td>
                                                <td>0</td>
                                                <td class="left">0</td>
                                                <td>0</td>
                                                <td></td>
                                                <td>0</td>
                                                <td class="left">0</td>
                                                <td>0</td>
                                                <td></td>
                                                <td>0</td>
                                                <td class="left">0</td>
                                                <td>0</td>
                                                <td></td>
                                                <td>0</td>
                                                <td class="left">0</td>
                                                <td class="left">0</td>
                                                <td class="left"></td>
                                                <td class="left right">0</td>
                                            </tr>
                                            <tr>
                                                <td class="left bottom">Total Geral</td>
                                                <td class="left bottom">59.975 </td>
                                                <td class="bottom">51.218 </td>
                                                <td class="bottom">-14,6%</td>
                                                <td class="bottom">-8.757</td>
                                                <td class="left bottom">90.866 </td>
                                                <td class="bottom">85.776 </td>
                                                <td class="bottom">-5,6%</td>
                                                <td class="bottom">-5.090</td>
                                                <td class="left bottom">77.343 </td>
                                                <td class="bottom">77.578 </td>
                                                <td class="bottom">0,3%</td>
                                                <td class="bottom">236</td>
                                                <td class="left bottom">86.677 </td>
                                                <td class="bottom">86.076 </td>
                                                <td class="bottom">-0,7%</td>
                                                <td class="bottom">-601</td>
                                                <td class="left rigth bottom">314.861 </td>
                                                <td class="left rigth bottom">300.647</td>
                                                <td class="left rigth bottom"></td>
                                                <td class="left rigth right bottom">-14.213</td>
                                            </tr>

                                        </table>
                                    </div>
                                    -->
                                    <div id="firstTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%; ">
                                    </div>

                                    <br /><br />

                                    <div id="firstTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; max-width: 1200px; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />

                                    <div id="secoundTable" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 100%;">
                                    </div>


                                    <div id="secoundTableTeste" style="display:none; cursor:pointer; position: relative; overflow: auto; width: 1000px; margin-left: auto; margin-right: auto; ">
                                    </div>

                                    <br /><br />
                                    <div id="SecondChart" style="display:none; cursor:pointer"></div>

                                    <br /><br />
                                    <div id="ThirdChartMeses" style="display:none; cursor:pointer">

                                        <table>
                                            <tr>
                                                <td rowspan="2"><b>ANOS</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td colspan="10"></td>
                                                <td rowspan="4"><input type="button" value=" Filtrar " /></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">2015</td>
                                                <td style="padding:5px;">2016</td>
                                            </tr>

                                            <tr>
                                                <td rowspan="2"><b>MESES</b></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                                <td align="center" style="padding:5px;"><input type="checkbox"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px;">JAN</td>
                                                <td style="padding:5px;">FEV</td>
                                                <td style="padding:5px;">MAR</td>
                                                <td style="padding:5px;">ABR</td>
                                                <td style="padding:5px;">MAI</td>
                                                <td style="padding:5px;">JUN</td>
                                                <td style="padding:5px;">JUL</td>
                                                <td style="padding:5px;">AGO</td>
                                                <td style="padding:5px;">SET</td>
                                                <td style="padding:5px;">OUT</td>
                                                <td style="padding:5px;">NOV</td>
                                                <td style="padding:5px;">DEZ</td>
                                            </tr>


                                        </table>

                                    </div>

                                    <br /><br />
                                    <div id="ThirdChart" style="display:none; cursor:pointer">


                                        Meses: <input type="checkbox">Jan | <input type="checkbox">Fev | <input type="checkbox">Mar | <input type="checkbox">Abr | <input type="checkbox">Mai | <input type="checkbox">Jun | <input type="checkbox">Jul | <input type="checkbox">Ago | <input type="checkbox">Set | <input type="checkbox">Out | <input type="checkbox">Nov | <input type="checkbox">Dez
                                    </div>

                                    <br /><br />
                                    <div id="FourthChart" style="display:none; cursor:pointer"></div>
                                </div>

                                <script>

                                    //inicialização
                                    $(function () {
                                        MountFirstChart();
                                        firstTable("teste");

                                        var dados = [];

                                        $.post('../api/manutencao/getTabela1', function (r) {
                                            //console.log(r);
                                            dados = r;

                                            console.log(dados);
                                        })



                                    });

                                    function montaTabela(id, div, altura, colunaFixa1, titulosColunasCorpo, valoresColuna1, dadosPrincipais, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal) {

                                        $(div).empty();

                                        var tabela = "";

                                        tabela += "<style>";
                                        tabela += "#fixarcoluna table {border:none; background-color:none}";

                                        tabela += "#fixarColuna .content table {width:100%;}";
                                        tabela += "#fixarColuna .content tr {background-color: none;}";
                                        tabela += "#fixarColuna .content tr:hover {background-color: none;}";
                                        tabela += "#fixarColuna .content td {border-bottom:solid 1px #999; padding:6px 4px;}";
                                        tabela += "#fixarColuna .contentHead td {border-bottom:solid 2px #CCC; padding:6px 4px;}";
                                        tabela += "#fixarColuna .contentHead tr {background-color: none;}";
                                        tabela += "#fixarColuna .content"+ id + " {display:block; width:100%; padding:0; margin:0; overflow-y: hidden; height:" + altura + ";}";
                                        tabela += "fixarColuna .contentHead {display:block; width:98.5%; padding:0; margin:0; overflow: hidden; height:35px;}";
                                        tabela += "#fixarColuna .content div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .contentHead div {display:inline; float: left; position: relative; border: none; width:100%;}";
                                        tabela += "#fixarColuna .content .contentHead .larguraP19 {width:250px;; overflow-x: hidden;}";

                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-track {";
                                        tabela += "    background-color: #F4F4F4;";
                                        tabela += "}";
                                        tabela += "  #fixBody" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #F4F4F4;";
                                        tabela += "                                    }";
                                        tabela += "#fixBody" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                        background: #dad7d7;";
                                        tabela += "                                    }";
                                        tabela += "";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                        background-color: #F4F4F4;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar {";
                                        tabela += "                                        width: 6px;";
                                        tabela += "                                        height: 6px;";
                                        tabela += "                                        background: #F4F4F4;";
                                        tabela += "                                    }";
                                        tabela += "  #colUie" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: #dad7d7;";
                                        tabela += "                                   }";
                                        tabela += "";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-track {";
                                        tabela += "                                       background-color: #F4F4F4;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar {";
                                        tabela += "                                       width: 6px;";
                                        tabela += "                                       height: 6px;";
                                        tabela += "                                       background: #F4F4F4;";
                                        tabela += "                                   }";
                                        tabela += " #colUieFim" + id + "::-webkit-scrollbar-thumb {";
                                        tabela += "                                       background: #dad7d7;";
                                        tabela += "                                   }";


                                        tabela += "</style>"


                                        tabela += "<div id=\"fixarColuna\" style=\"font-size:small;\">";
                                        tabela += "<div class=\"contentHead\">";
                                        tabela += "<div class=\"larguraP19\" style=\"width:250px;; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td width=\"240px\" rowspan=\"" + colunaFixa1[0][1] + "\">" + colunaFixa1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "<tr>";
                                        tabela += "<td width=\"250px;\" rowspan=\"" + colunaFixa1[1][1] + "\">" + colunaFixa1[1][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "<div id=\"colHead" + id + "\" style=\"width:40%; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < titulosColunasCorpo[0].length; i++) {
                                            var color = '#ccc';
                                            if (i % 2 == 0) {
                                                color = '#eee';
                                            }
                                            tabela += "<td align=\"center\" style=\"min-width:70px; background-color: " + color + ";\" colspan=\"" + titulosColunasCorpo[0][i][1] + "\"><b>" + titulosColunasCorpo[0][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < titulosColunasCorpo[1].length; i++) {
                                            tabela += "<td align=\"center\" style=\"min-width:70px;\" colspan=\"" + titulosColunasCorpo[1][i][1] + "\"><b>" + titulosColunasCorpo[1][i][0] + "</b></td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        //right
                                        tabela += "<div  id=\"headTotal" + id + "\" class=\"larguraP19\" style=\"width:280px;; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";

                                        tabela += "<tr>";

                                        for (var i = 0; i < titleTotal[0].length; i++) {
                                            var color = '#ccc';
                                            if (i % 2 == 0) {
                                                color = 'red';
                                            }
                                            tabela += "<td align=\"center\" style=\"min-width:70px; background-color: " + color + ";\" colspan=\"" + titleTotal[0][i][1] + "\">" + titleTotal[0][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";
                                        tabela += "<tr>";

                                        var j = 0

                                        for (var i = 0; i < titleTotal[1].length; i++) {
                                            
                                            tabela += "<td align=\"center\" style=\"min-width:70px;\" colspan=\"" + titleTotal[1][i][1] + "\">" + titleTotal[1][i][0] + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";
                                        tabela += "<div class=\"content\">";
                                        tabela += "<div class=\"larguraP19\" style=\"width:250px;;overflow-y:hidden;overflow-x:scroll;height:" + altura + ";\" id=\"colUie" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" >";

                                        for (var i = 0; i < valoresColuna1.length; i++) {
                                            tabela += "<tr><td>" + valoresColuna1[i][0] + "</td></tr>";
                                        }


                                        tabela += "</table>";
                                        tabela += "</div>";
                                        tabela += "<div id=\"fixBody" + id + "\" style=\"width:40%;overflow: scroll;height:" + altura + ";z-index:2;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";


                                        for (var i = 0; i < dadosPrincipais.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < dadosPrincipais[i].length; j++) {
                                                tabela += "<td align=\"center\" style=\"min-width:70px; padding:0px; height: 30px;\">" + (dadosPrincipais[i][j][3] == '%' ? "<div style=\"width:70px;height: 30px; position:static;background-color: " + dadosPrincipais[i][j][2] + "; opacity: 0.6;\"></div> <div style=\"margin-left: -70px; width:70px; height: 30px; position:absolute; line-height: 30px;\"><i><b>" + dadosPrincipais[i][j][0] + '%</b><i></div>' : float2moeda(Math.ceil(dadosPrincipais[i][j][0] / 1000))) + "</td>";
                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";

                                        //right
                                        tabela += "<div class=\"larguraP19\" style=\"width:280px;;overflow-y:hidden;overflow-x:scroll;height:" + altura + ";\" id=\"colUieFim" + id + "\" >";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" >";


                                        for (var i = 0; i < columnsTotal.length; i++) {
                                            tabela += "<tr>";
                                            for (var j = 0; j < columnsTotal[i].length; j++) {
                                                tabela += "<td align=\"center\" style=\"min-width:70px; background-color: " + columnsTotal[i][j][2] + "\">" + (columnsTotal[i][j][3] == '%' ? '<gf><i>' + columnsTotal[i][j][0] + '%<i></gf>' : float2moeda(Math.ceil(columnsTotal[i][j][0] / 1000))) + "</td>";
                                            }
                                            tabela += "</tr>";
                                        }

                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        //footer
                                        tabela += "<div class=\"contentHead\">";
                                        tabela += "<div class=\"larguraP19\" style=\"width:250px;; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";
                                        tabela += "<td width=\"250px;\" rowspan=\"" + footerColumn1[0][1] + "\">" + footerColumn1[0][0] + "</td>";
                                        tabela += "</tr>";
                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "<div id=\"footerBody" + id + "\" style=\"width:40%; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\" border=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < footerColumnsBody[0].length; i++) {
                                            tabela += "<td align=\"center\" style=\"min-width:70px; background-color: " + footerColumnsBody[0][i][2] + "\" colspan=\"" + footerColumnsBody[0][i][1] + "\">" + (footerColumnsBody[0][i][3] == '%' ? '<gf><i>' + footerColumnsBody[0][i][0] + '%<i></gf>' : float2moeda(Math.ceil(footerColumnsBody[0][i][0] / 1000))) + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        //right
                                        tabela += "<div id=\"footerTotal" + id + "\" class=\"larguraP19\" style=\"width:280px;; overflow-x: hidden;\">";
                                        tabela += "<table cellspacing=\"0\" cellpadding=\"0\">";
                                        tabela += "<thead>";
                                        tabela += "<tr>";

                                        for (var i = 0; i < footerTotal[0].length; i++) {
                                            tabela += "<td align=\"center\" style=\"min-width:70px; background-color: " + footerTotal[0][i][2] + "\" colspan=\"" + footerTotal[0][i][1] + "\">" + (footerTotal[0][i][3] == '%' ? '<gf>' + footerTotal[0][i][0] + '%<i></gf>' : float2moeda(Math.ceil(footerTotal[0][i][0] / 1000))) + "</td>";
                                        }

                                        tabela += "</tr>";

                                        tabela += "</thead>";
                                        tabela += "</table>";
                                        tabela += "</div>";

                                        tabela += "</div>";

                                        //console.log(tabela);




                                        $(div).append(tabela);


                                        $('#fixBody' + id).scroll(function () {
                                            $("#colHead" + id).scrollLeft($(this).scrollLeft());
                                            $("#colFoot" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerBody" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#colUieFim' + id).scroll(function () {
                                            $("#headTotal" + id).scrollLeft($(this).scrollLeft());
                                            $("#footerTotal" + id).scrollLeft($(this).scrollLeft());
                                        });

                                        $('#fixBody' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUieFim' + id).scroll(function () {
                                            $("#colUie" + id).scrollTop($(this).scrollTop());
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                        });
                                        $('#colUie' + id).scroll(function () {
                                            $("#fixBody" + id).scrollTop($(this).scrollTop());
                                            $("#colUieFim" + id).scrollTop($(this).scrollTop());
                                        });

                                        $(div).show();

                                    }


                                    //monta titulo de linha da tabela
                                    function MountTitleLineTable(title) {

                                        var tr = "<tr><td class=\"left\"></td>"
                                        function logArrayElements(element, index, array) {
                                            tr = tr + "<td value=\"" + element + "\"colspan=\"4\" class=\"left\">" + element + "</td>";
                                        }
                                        title.forEach(logArrayElements);

                                        return tr;
                                    }

                                    //montar subtitulo
                                    function MountSubTitleLineTable(tamanho) {
                                        var tr = "<tr><td class=\"left\">Pacote</td>";
                                        ////console.log(tamanho);
                                        for (var i = 0; i < tamanho; i++) {
                                            tr = tr + "<td class=\"left\">Despesa <br>Orçada</td><td>Despesa <br>Real</td><td>Δ <br>%</td><td>Δ <br>$</td>";
                                        };
                                        tr = tr + "</tr>";

                                        return tr;
                                    }

                                    //monta tabela com dados dinamicos
                                    function MountTitleColumnTable(tituloLine, dataTable) {
                                        sizeArray = tituloLine.length;
                                        //console.log(tituloLine);
                                        var x = 0;
                                        var tr = "<tr>";
                                        function logArrayElements(element, index, array) {

                                            for (var i = 1; i < element.length; i++) {
                                                tr = tr + "<td x=\"" + element[0][2] + "\" value=\"" + element[i][0] + "\" style=\"background-color:" + element[i][1] + ";\">" + element[i][0] + "</td>";
                                            };

                                            tr = tr + "</tr>";
                                        }

                                        dataTable.forEach(logArrayElements);
                                        return tr;
                                    }

                                    //quando clicar na primeira tabela
                                    $('#firstTableTeste').click(function () {

                                        secoundTable('name');

                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);

                                    });

                                    //quando clicar na segunda tabela
                                    $('#secoundTable').click(function () {

                                        var name = ['ARA', 'DMT', 'PDP', 'PEL', 'PIB', 'PVH', 'RBR', 'SMG', 'VHA'];
                                        var x1 = [-5.0, 22.0, -5.8, 15.3, 5.3, 26.7, -3.0, -1.4, -19.3];
                                        var x2 = [-1.7, 5.5, 2.0, 12.2, 3.2, 9.8, 7.1, -1.9, -15.7];
                                        var x3 = [-3.4, 15.6, -7.6, 2.7, 2.0, 15.4, -9.4, 0.6, -4.3];
                                        var x4 = [5.8, 1.0, 3.2, 2.2, -3.2, 3.2, 20.6, 0.2, -6, .6];
                                        SecondChart(name, x1, x2, x3, x4);
                                    });

                                    //chamada ajax para montar primeiro gráfico
                                    function MountFirstChart() {
                                        var name = ["Reg 1 - GO/MA/BA", "Reg 1 - MS/SP", "Reg 2 - MT I/AC/RO", "Reg 2 - MT II,TO,MA,PA", "Total Geral"];
                                        var x1 = [59.975, 90.866, 77.343, 86.677];
                                        var x2 = [51.218, 85.776, 77.578, 86.076];
                                        firstChart(name, x1, x2);
                                    }

                                    //locação primeiro gráfico
                                    function firstChart(name, x1, x2) {
                                        $(function () {
                                            var chart = Highcharts.chart('firstChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                chart: {
                                                    type: 'column'
                                                    //,backgroundColor: null
                                                },

                                                title: {
                                                    text: 'Despesas por Regional'
                                                },


                                                legend: {
                                                    align: 'center',
                                                    verticalAlign: 'bottom',
                                                    layout: 'left'
                                                },

                                                xAxis: {
                                                    categories: name,
                                                    labels: {
                                                        x: -10
                                                    },
                                                    /*
                                                    formatter: function () {
                                                            return (4 > 2 ? plotOptions.area.zones: 'red');
                                                        }
                                                    */
                                                },

                                                yAxis: {
                                                    allowDecimals: false,
                                                    title: {
                                                        text: 'R$ em milhares'
                                                    }
                                                },

                                                series: [{
                                                    name: 'Despesa Orçada',
                                                    data: x1,

                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    //zones: [{
                                                    //    value: 60,
                                                    //    color: 'red'
                                                    //}, {
                                                    //    value: 80,
                                                    //    color: 'green'
                                                    //}, {
                                                    //    color: 'blue'
                                                    //}],
                                                    point: {
                                                        events: {
                                                            click: function () { firstTable(this.category) }
                                                        }
                                                    }
                                                }
                                                ],

                                                responsive: {
                                                    rules: [{
                                                        condition: {
                                                            maxWidth: 500
                                                        },
                                                        chartOptions: {
                                                            legend: {
                                                                align: 'center',
                                                                verticalAlign: 'bottom',
                                                                layout: 'horizontal'
                                                            },
                                                            yAxis: {
                                                                labels: {
                                                                    align: 'left',
                                                                    x: 0,
                                                                    y: -5
                                                                },
                                                                title: {
                                                                    text: null
                                                                }
                                                            },
                                                            subtitle: {
                                                                text: null
                                                            },
                                                            credits: {
                                                                enabled: false
                                                            }
                                                        }
                                                    }]
                                                }
                                            });
                                        });
                                    }

                                    //locação primeira tabela

                                    //function firstTable(name) {
                                    //    $('#firstTable .table').remove('table');
                                    //    //teste primeira tabela -> mocação dados
                                    //    var titleColumn = [];
                                    //    var titleLine = ['Reg 1 - GO/MG/BA', 'Reg 1 - MS/SP', 'Reg 2 - MT I/AC/RO', 'Reg 2 - MT II/TO/MA/PA'];
                                    //    // dataTable = MountTitleColumnTable(aux);
                                    //    titleColumn[0] = [8, 'Total Geral', 59.975, 51.218, -14.6, -8.757, 90.866, 85.776, -5.6, -5.090, 77.343, 77.578, 0.3, 236, 86.677, 86.076, -0.7, -601, 314.861, 300.647, 0, -14.213];
                                    //    titleColumn[1] = [3, 'COMBUSTÍVEIS/LUBRIFICANTES', 11.034, 8.302, -24.8, -2.733, 13.315, 13.027, -2.2, -287, 12.322, 11.258, -8.6, -1.064, 14.348, 13.719, -4.4, -629, 51.019, 46.306, -9.2, -4.713];
                                    //    titleColumn[2] = [4, 'ENERGIA ELÉTRICA', 34.277, 28.316, -17.4, -5.962, 57.528, 52.343, -9.0, -5.185, 48.949, 50.514,
                                    //    3.2, 1.565, 55.228, 55.052, -0.3, -176, 195.982, 186.225, -5.0, -9.757];
                                    //    titleColumn[3] = [5, 'MANUTENÇÃO INDUSTRIAL/PREDIAL', 14.661, 14.600, -0.4, -62, 20.021, 20.377, 1.8, 356,
                                    //    16.072, 15.804, -1.7, -268, 17.095, 17.306, 1.2, 211, 67.849, 68.086, 0.3, 237];
                                    //    titleColumn[4] = [6, 'TRATAMENTO ÁGUA / ESGOTO', 2, 0, -100.0, -2, 3, 29, 875.1, 26, 0, 2, 0, 2, 6, -1, -109.4, -7, 11, 30, 180.8, 19];
                                    //    titleColumn[5] = [7, 'UTILIDADES-OUTROS', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                                    //    //montagem dos dados
                                    //    var dataTitleLine = MountTitleLineTable(titleLine);
                                    //    dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Δ %</td><td rowspan=\"2\" class=\"left right\">Total <br>Δ $</td></tr>";
                                    //    var subtitleLine = MountSubTitleLineTable(titleLine.length);
                                    //    var data = MountTitleColumnTable(titleLine, titleColumn);
                                    //    var table = dataTitleLine + subtitleLine + data + "</table>";
                                    //    $("#firstTable").append(table);
                                    //    $('#firstTable').show();
                                    //}

                                    function firstTable(name) {

                                        $('#firstTable .table').remove('table');
                                        var tabela1;
                                        $.post('../api/Manutencao/getTabela1', function (lista) {

                                            var titleColumn1 = [];
                                            titleColumn1[0] = ['&nbsp;', 1];
                                            titleColumn1[1] = ['Pacotes', 1];

                                            var titleColumn = [];
                                            var titleLine = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
												
                                                titleLine.push(entry.Regional);
                                                });
                                            

                                            var x1 = [];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                a = [];
                                                a.push(entry.Regional);
                                                a.push(4);
                                                x1.push(a);
                                            });
                                            var x2 = [['Despesa Orçada', 1], ['Despesa Orçada', 1], ['Desvio %', 1], ['Desvio $', 1]];
                                            var aux1 = ['Despesa Orçada', 1];
                                            var aux2 = ['Despesa Real', 1];
                                            var aux3 = ['Desvio %', 1];
                                            var aux4 = ['Desvio $', 1];
                                            lista[0].ListaRegionais.forEach(function (entry) {
                                                x2.push(aux1);
                                                x2.push(aux2);
                                                x2.push(aux3);
                                                x2.push(aux4);
                                            });
                                            var titleColumnsBody = [];
                                            titleColumnsBody[0] = x1;
                                            titleColumnsBody[1] = x2;

                                            var column1 = [];
                                            // column1.push(['TotalGeral', 0, 0, 0]);

                                            lista.forEach(function (entry) {
                                                var a = [];
                                                a.push(entry.Name);
                                                a.push(0);
                                                a.push(0);
                                                a.push(0);
                                                column1.push(a);
                                            });

                                            var dataColumn = [];
                                            lista.forEach(function (entry) {
                                                var line = [];
                                                entry.ListaRegionais.forEach(function (valor) {
                                                    var orcada = [];
                                                    var real = [];
                                                    var desvioP = [];
                                                    var desvioR = [];
                                                    //console.log(valor);
                                                    orcada.push(valor.Orçada);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    orcada.push(0);
                                                    real.push(valor.Realizada);
                                                    real.push(0);
                                                    real.push(0);
                                                    real.push(0);
                                                    desvioP.push(valor.DesvioPorc);
                                                    desvioP.push(0);
                                                    desvioP.push(0);
                                                    desvioP.push('%');
                                                    desvioR.push(valor.DesvioReal);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    desvioR.push(0);
                                                    line.push(orcada);
                                                    line.push(real);
                                                    line.push(desvioP);
                                                    line.push(desvioR);

                                                });
                                                dataColumn.push(line);
                                            });


                                            
                                            var columnsTotal = [];
                                            lista.forEach(function (entry) {
                                                var orcada = 0;
                                                var real = 0;
                                                var desvioP = 0;
                                                var desvioR = 0;
                                                var line = [];
                                                entry.ListaRegionais.forEach(function (valor) {

                                                    //console.log(valor);
                                                    orcada += valor.Orçada;
                                                    real += valor.Realizada;
                                                    desvioP += valor.DesvioPorc;
                                                    desvioR += valor.DesvioReal;


                                                });
                                                line.push(orcada);
                                                line.push(0);
                                                line.push(0);
                                                line.push(0);
                                                line.push(real);
                                                line.push(0);
                                                line.push(0);
                                                line.push(0);
                                                line.push(desvioP);
                                                line.push(0);
                                                line.push(0);
                                                line.push('%');
                                                line.push(desvioR);
                                                line.push(0);
                                                line.push(0);
                                                line.push(0);
                                                //console.log(line);
                                                columnsTotal.push(line);

                                            });

                                        //    console.log(lista);
                                        //    tabela1 = lista;
                                        
                                        //console.log(tabela1 );
                                        ////teste primeira tabela -> mocação dados
                                        ////var titleColumn = [];
                                        ////var titleLine = ['Reg 1 - GO/MG/BA' , 'Reg 1 - MS/SP', 'Reg 2 - MT I/AC/RO', 'Reg 2 - MT II/TO/MA/PA'];

                                        ////parametro
                                        //var titleColumn1 = [];
                                        //titleColumn1[0] = ['&nbsp;', 1];
                                        //titleColumn1[1] = ['Pacotes', 1];

                                        var titleTotal = [];
                                        titleTotal[0] = [['Total', 4]];
                                        titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1]];
                                        422
                                        var footerColumn1 = [];
                                        footerColumn1[0] = ['Total:', 1];


                                        ////resultado dos totais
                                        var footerTotal = [];
                                        footerTotal[0] = [[376780460, 0, 0, 0], [348438328, 0, 0, 0], [-8, 0, 0, '%'], [-28342133, 0, 0, 0]];
                     
                                        ////titulos dos pacotes
                                        ////var column1 = [];
                                        ////column1 = [['TotalGeral', 0, 0, 0], ['MANUTENÇÃO INDUSTRIAL/ PREDIAL', 0, 0, 0], ['UTILIDADES', 0, 0, 0]];

                                        ////parametro
                                        ////var titleColumnsBody = [];
                                        ////titleColumnsBody[0] = [['Reg 1 - GO/MG/BA',4], ['Reg 1 - MS/SP',4], ['Reg 2 - MT I/AC/RO',4], ['Reg 2 - MT II/TO/MA/PA',4]];
                                        ////titleColumnsBody[1] = [['Despesa Orçada', 1], ['Despesa Real', 1], ['Desvio %', 1], ['Desvio $', 1], ['Despesa Orçada', 1], ['Despesa Real', 1], ['Desvio %', 1], ['Desvio $', 1], ['Despesa Orçada', 1], ['Despesa Real', 1], ['Desvio %', 1], ['Desvio $', 1], ['Despesa Orçada', 1], ['Despesa Real', 1], ['Desvio %', 1], ['Desvio $', 1], ['Despesa Orçada', 1], ['Despesa Real', 1], ['Desvio %', 1], ['Desvio $', 1]];

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[71869051, 0, , 0], [59395621, 0, , 0], [-17, 0, '#00FF00', '%'], [-12473430, 0, , 0], [109268410, 0, , 0], [99672114, 0, , 0], [-9, 0, '#FFCC00', '%'], [-9596296, 0, , 0], [92744407, 0, , 0], [90458420, 0, , 0], [-2, 0, '#FF1100', '%'], [-2285987, 0, , 0], [102898593, 0, , 0], [98912173, 0, , 0], [-4, 0, '#FF3300', '%'], [-3986420, 0, , 0]];

                                        //var titleColumnTotal = [];
                                        //titleColumnTotal[0] = ['Total', 4];
                                        //titleColumnTotal[1] = ['Despesa Orçada', 1];
                                        //titleColumnTotal[1] = ['Despesa Real', 1];
                                        //titleColumnTotal[1] = ['Desvio %', 1];
                                        //titleColumnTotal[1] = ['Desvio $', 1];

                                        //var columnsTotal = [];
                                        //columnsTotal[0] = [[376780460, 0, 0, 0], [348438328, 0, 0, 0], [-8, 0, 'red', '%'], [-28342133, 0, 0, 0]];
                                        //columnsTotal[1] = [[81411578, 0, 0, 0], [80171873, 0, 0, 0], [-2, 0, 'green', '%'], [-1239705, 0, 0, 0]];
                                        //columnsTotal[2] = [[295368883, 0, 0, 0], [268266455, 0, 0, 0], [-9, 0, 'red', '%'], [-27102428, 0, 0, 0]];

                                        //var dataColumn = [];

                                        //dataColumn[0] = [[71869051, 0, 0, 0], [59395621, 0, 0, 0], [-17, 0, 'red', '%'], [-12473430, 0, 0, 0], [109268410, 0, 0, 0], [99672114, 0, 0, 0], [-9, 0, 'yellow', '%'], [-9596296, 0, 0, 0], [92744407, 0, 0, 0], [90458420, 0, 0, 0], [-2, 0, 'green', '%'], [-2285987, 0, 0, 0], [102898593, 0, 0, 0], [98912173, 0, 0, 0], [-4, 0, 'yellow', '%'], [-3986420, 0, 0, 0]];
                                        //dataColumn[1] = [[17586193, 0, 0, 0], [17060457, 0, 0, 0], [-3, 0, 0, '%'], [-525735, 0, 0, 0], [24024849, 0, 0, 0], [23920098, 0, 0, 0], [0, 0, 0, '%'], [-104751, 0, 0, 0], [19286402, 0, 0, 0], [18952766, 0, 0, 0], [-2, 0, 0, '%'], [-333636, 0, 0, 0], [20514134, 0, 0, 0], [20238552, 0, 0, 0], [-1, 0, 0, '%'], [-275583, 0, 0, 0]];
                                        //dataColumn[2] = [[54282858, 0, 0, 0], [42335164, 0, 0, 0], [-22, 0, 0, '%'], [-11947695, 0, 0, 0], [85243561, 0, 0, 0], [75752016, 0, 0, 0], [-11, 0, 0, '%'], [-9491545, 0, 0, 0], [73458005, 0, 0, 0], [71505654, 0, 0, 0], [-3, 0, 0, '%'], [-1952351, 0, 0, 0], [82384458, 0, 0, 0], [78673621, 0, 0, 0], [-5, 0, 0, '%'], [-3710837, 0, 0, 0]];


                                        // Feito --------------------------------------------------------------------



                                        //montagem dos dados

                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Δ %</td><td rowspan=\"2\" class=\"left right\">Total <br>Δ $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";
                                        //$("#firstTable").append(table);
                                        //$('#firstTable').show();

                                        titleLine = ['Reg 1 - GO/MG/BA'];

                                        montaTabela('1', '#firstTableTeste', '85px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);
                                        });
                                    }

                                    function secoundTable(name) {

                                        $('#secoundTable .table').remove('table');

                                        //teste primeira tabela -> mocação dados
                                        var titleColumn = [];
                                        var titleLine = ['CAL', 'GYN', 'ITA', 'ITB', 'ITR', 'MZL', 'SEN'];

                                        var titleColumn1 = [];
                                        titleColumn1[0] = ['&nbsp;', 1];
                                        titleColumn1[1] = ['UTILIDADES', 1];

                                        var titleTotal = [];
                                        titleTotal[0] = [['Total', 4]];
                                        titleTotal[1] = [['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1]];

                                        var footerColumn1 = [];
                                        footerColumn1[0] = ['Total:', 1];


                                        //resultado dos totais
                                        var footerTotal = [];
                                        footerTotal[0] = [[54282858.36, 0, , 0], [42335163.61, 0, , 0], ['-22', 0, , '%'], [-11947694.75, 0, , 0]];

                                        //titulos dos pacotes
                                        var column1 = [];
                                        column1 = [['AGUA', 0, 0, 0], ['COMBUSTÍVEIS', 0, 0, 0], ['COMBUSTÍVEL PARA CALDEIRA', 0, 0, 0], ['COMBUSTÍVEL P/GERADOR', 0, 0, 0],
                                        ['ENERGIA ELÉTRICA CONTRATADA', 0, 0, 0]];

                                        var titleColumnsBody = [];
                                        titleColumnsBody[0] = [['CAL', 4], ['GYN', 4], ['ITA', 4], ['ITB', 4], ['ITR', 4], ['MZL', 4], ['SEN', 4]];
                                        titleColumnsBody[1] = [
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ['Orçada', 1], ['Real', 1], ['Δ %', 1], ['Δ $', 1],
                                        ];

                                        var footerColumnsBody = [];
                                        footerColumnsBody[0] = [[3399575, 0, , 0], [3062870, 0, , 0], [-111, 0, '#FF1100', '%'], [-336705, 0, , 0],
                                        [9813657, 0, , 0], [7413310, 0, , 0], [-91, 0, '#CCFF00', '%'], [-2400347, 0, , 0],
                                        [3658561, 0, , 0], [2932391, 0, , 00], [-79, 0, '#FFDD00', '%'], [-727171, 0, , 0],
                                        [10407292, 0, , 0], [4642810, 0, , 0], [-61, 0, '#00FF00', '%'], [-3333876, 0, , 0],
                                        [5351478, 0, , 0], [7073416, 0, , 0], [-159, 0, '#FF4400', '%'], [-2854131, 0, , 0],
                                        [12689283, 0, , 0], [10186964, 0, , 0], [-178, 0, '#DDFF00', '%'], [-2502320, 0, , 0],
                                        [8963011, 0, , 0], [7024404, 0, , 0], [-97, 0, '#FF5500', '%'], [-1938609, 0, , 0]];

                                        var titleColumnTotal = [];
                                        titleColumnTotal[0] = ['Total', 4];
                                        titleColumnTotal[1] = ['Despesa Orçada', 1];
                                        titleColumnTotal[1] = ['Despesa Real', 1];
                                        titleColumnTotal[1] = ['Δ %', 1];
                                        titleColumnTotal[1] = ['Δ $', 1];

                                        var columnsTotal = [];
                                        columnsTotal[0] = [[1704, 0, , 0], [0, 0, , 0], [-100, 0, '#FFEE00', '%'], [-1704, 0, , 0]];
                                        columnsTotal[1] = [[186286, 0, , 0], [200585, 0, , 0], [7, 0, '#FF1100', '%'], [14323, 0, , 0]];
                                        columnsTotal[2] = [[10791744, 0, , 0], [7146496, 0, , 0], [-207, 0, '#00FF00', '%'], [-3645249, 0, , 0]];
                                        columnsTotal[3] = [[1900595, 0, , 0], [1647914, 0, , 0], [-99, 0, '#FFEE00', '%'], [-252680, 0, , 0]];
                                        columnsTotal[4] = [[41402554, 0, , 0], [33340170, 0, , 0], [-123, 0, '#DDFF00', '%'], [-8062386, 0, , 0]];

                                        var dataColumn = [];
                                        dataColumn[0] = [[1704, 0, , 0], [0, 0, , 0], [-100, 0, '#00FF00', '%'], [-1704, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#FF1100', '%'], [0, 0, , 0]
                                        ]
                                        dataColumn[1] = [[8173, 0, , 0], [8332, 0, , 0], [2, 0, '#88FF00', '%'], [159, 0, , 0],
                                        [58565, 0, , 0], [35236, 0, , 0], [-40, 0, '#00FF00', '%'], [-23329, 0, , 0],
                                        [21700, 0, , 0], [16095, 0, , 0], [-26, 0, '#11FF00', '%'], [-5605, 0, , 0],
                                        [40890, 0, , 0], [37954, 0, , 0], [-7, 0, '#77FF00', '%'], [-2936, 0, , 0],
                                        [18480, 0, , 0], [17671, 0, , 0], [-4, 0, '#77FF00', '%'], [-809, 0, , 0],
                                        [23574, 0, , 0], [76579, 0, , 0], [225, 0, '#FF1100', '%'], [53004, 0, , 0],
                                        [14878, 0, , 0], [8718, 0, , 0], [-41, 0, '#00FF00', '%'], [-6161, 0, , 0]];
                                        dataColumn[2] = [[429435, 0, , 0], [421527, 0, , 0], [-2, 0, '#FF1100', '%'], [-7908, 0, , 0],
                                        [1685114, 0, , 0], [1238752, 0, , 0], [-26, 0, '#FF1100', '%'], [-446362, 0, , 0],
                                        [928492, 0, , 0], [755384, 0, , 0], [-19, 0, '#FF5500', '%'], [-173108, 0, , 0],
                                        [1926432, 0, , 0], [1107957, 0, , 0], [-42, 0, '#00FF00', '%'], [-818475, 0, , 0],
                                        [1016099, 0, , 0], [476127, 0, , 0], [-53, 0, '#FF1100', '%'], [-539972, 0, , 0],
                                        [1156862, 0, , 0], [836595, 0, , 0], [-28, 0, '#FF1100', '%'], [-320267, 0, , 0],
                                        [3649310, 0, , 0], [2310154, 0, , 0], [-37, 0, '#FF3300', '%'], [-1339157, 0, , 0]
                                        ];
                                        dataColumn[3] = [[291296, 0, , 0], [298193, 0, , 0], [2, 0, '#FF1100', '%'], [6897, 0, , 0],
                                        [668186, 0, , 0], [676616, 0, , 0], [1, 0, '#FFEE00', '%'], [8431, 0, , 0],
                                        [388512, 0, , 0], [343249, 0, , 0], [-12, 0, '#FF9900', '%'], [-45263, 0, , 0],
                                        [242838, 0, , 0], [43723, 0, , 0], [-82, 0, '#99FF00', '%'], [-199115, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#00FF00', '%'], [0, 0, , 0],
                                        [0, 0, , 0], [0, 0, , 0], [0, 0, '#CCFF00', '%'], [0, 0, , 0],
                                        [309763, 0, , 0], [286133, 0, , 0], [-8, 0, '#FFEE00', '%'], [-23630, 0, , 0]]
                                        dataColumn[4] = [[2668967, 0, , 0], [2334818, 0, , 0], [-13, 0, '#FF9900', '%'], [-334149, 0, , 0],
                                        [7401792, 0, , 0], [5462706, 0, , 0], [-26, 0, '#22FF00', '%'], [-1939087, 0, , 0],
                                        [2319857, 0, , 0], [1816663, 0, , 0], [-22, 0, '#AAFF00', '%'], [-503195, 0, , 0],
                                        [8197132, 0, , 0], [5883782, 0, , 0], [-28, 0, '#00FF00', '%'], [-2313350, 0, , 0],
                                        [4316899, 0, , 0], [4149012, 0, , 0], [-4, 0, '#FF1100', '%'], [-167887, 0, , 0],
                                        [11508847, 0, , 0], [9273790, 0, , 0], [-19, 0, '#DDFF00', '%'], [-2235057, 0, , 0],
                                        [4989060, 0, , 0], [4419399, 0, , 0], [-11, 0, '#FF8800', '%'], [-569661, 0, , 0]]




                                        //montagem dos dados

                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Δ %</td><td rowspan=\"2\" class=\"left right\">Total <br>Δ $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";
                                        //$("#firstTable").append(table);
                                        //$('#firstTable').show();

                                        montaTabela('2', '#secoundTableTeste', '140px', titleColumn1, titleColumnsBody, column1, dataColumn, footerColumn1, footerColumnsBody, footerTotal, titleTotal, columnsTotal);




                                    }

                                    //locação primeira tabela
                                    function secoundTableOld(name) {
                                        $('#secoundTable .table').remove('table');
                                        //teste primeira tabela -> mocação dados
                                        var titleColumn = [];
                                        var titleLine = ['UN1', 'UN2', 'UN3', 'UN4'];

                                        // dataTable = MountTitleColumnTable(aux);
                                        titleColumn[0] = [8, 'Total Geral', 59.975, 51.218, -14.6, -8.757, 90.866, 85.776, -5.6, -5.090, 77.343, 77.578, 0.3, 236, 86.677, 86.076, -0.7, -601, 314.861, 300.647, 0, -14.213];
                                        titleColumn[1] = [3, 'COMBUSTÍVEIS/LUBRIFICANTES', 11.034, 8.302, -24.8, -2.733, 13.315, 13.027, -2.2, -287, 12.322, 11.258, -8.6, -1.064, 14.348, 13.719, -4.4, -629, 51.019, 46.306, -9.2, -4.713];
                                        titleColumn[2] = [4, 'ENERGIA ELÉTRICA', 34.277, 28.316, -17.4, -5.962, 57.528, 52.343, -9.0, -5.185, 48.949, 50.514,
                                        3.2, 1.565, 55.228, 55.052, -0.3, -176, 195.982, 186.225, -5.0, -9.757];
                                        titleColumn[3] = [5, 'MANUTENÇÃO INDUSTRIAL/PREDIAL', 14.661, 14.600, -0.4, -62, 20.021, 20.377, 1.8, 356,
                                        16.072, 15.804, -1.7, -268, 17.095, 17.306, 1.2, 211, 67.849, 68.086, 0.3, 237];
                                        titleColumn[4] = [6, 'TRATAMENTO ÁGUA / ESGOTO', 2, 0, -100.0, -2, 3, 29, 875.1, 26, 0, 2, 0, 2, 6, -1, -109.4, -7, 11, 30, 180.8, 19];
                                        titleColumn[5] = [7, 'UTILIDADES-OUTROS', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

                                        //montagem dos dados

                                        var dataTitleLine = MountTitleLineTable(titleLine);
                                        dataTitleLine = "<table class=\"table\" style=\"text-align:center;\" \">" + dataTitleLine + "<td rowspan=\"2\" class=\"left\">Total<br>Despesa<br>Orçada</td><td rowspan=\"2\" class=\"left\">Total <br>Despesa <br>Real</td><td rowspan=\"2\" class=\"left\">Total <br>Δ %</td><td rowspan=\"2\" class=\"left right\">Total <br>Δ $</td></tr>";

                                        var subtitleLine = MountSubTitleLineTable(titleLine.length);

                                        var data = MountTitleColumnTable(titleLine, titleColumn);
                                        var table = dataTitleLine + subtitleLine + data + "</table>";
                                        $("#secoundTable").append(table);
                                        $('#secoundTable').show();
                                    }

                                    //locação segundo gráfico
                                    function SecondChart(name, x1, x2, x3, x4) {

                                        $('#SecondChart').show();

                                        $(function () {
                                            Highcharts.chart('SecondChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'Impacto dos Fatores de Δ'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',
                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Destacar a fórmula de cálculo!'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }


                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category); MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountThirdChart(this.category) }
                                                        }
                                                    }
                                                }]
                                            });
                                        });
                                    }

                                    //chamada ajax terceiro gráfico
                                    function MountThirdChart(n) {

                                        //função ajax para buscar dados

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [719, 715, 781, 730, 707, 231, 891, 955, 881, 841];
                                        var x2 = [987, 1037, 990, 897, 856, 904, 687, 958, 931, 936];
                                        var x3 = [268, 322, 209, 167, 149, 673, -204, 3, 50, 94];
                                        var line = [268, 590, 799, 965, 1115, 1787, 1583, 1587, 1637, 1731];
                                        ThirdChart(name, x1, x2, x3, line);
                                    }

                                    //locação terceiro gráfico
                                    function ThirdChart(name, x1, x2, x3, line) {
                                        $('#ThirdChart').show();
                                        $('#ThirdChartMeses').show();

                                        $(function () {
                                            Highcharts.chart('ThirdChart', {
                                                credits: {
                                                    enabled: false
                                                },

                                                title: {
                                                    text: 'Evolutivo DMT'
                                                },
                                                chart: {

                                                    backgroundColor: null
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: 'R$ em milhares'
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },

                                                series: [{
                                                    type: 'column',
                                                    name: 'Despesa Orçada',
                                                    data: x1,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Despesa Real',
                                                    data: x2,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'column',
                                                    name: 'Δ R$',
                                                    data: x3,
                                                    point: {
                                                        events: {
                                                            click: function () { MountFourthChart(this.category) }
                                                        }
                                                    }
                                                }, {
                                                    type: 'spline',
                                                    name: 'Δ R$ Acumulado',
                                                    data: line,
                                                    marker: {
                                                        lineWidth: 2,
                                                        lineColor: Highcharts.getOptions().colors[3],
                                                        fillColor: 'white'
                                                    }
                                                }]
                                            });
                                        });
                                    }

                                    //chamada ajax quarto gráfico
                                    function MountFourthChart(n) {

                                        //fazer ajax

                                        var name = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                                        var x1 = [30, 0, 26.9, 11.5, 11.3, 27.8, 513.4, 4.6, -3.8, 2.8, 12.6];
                                        var x2 = [21.2, 16.4, 17.4, 10.0, 2.2, 5.3, -2.4, 3.1, -5.1, -5.5];
                                        var x3 = [7.3, 9.0, -5.0, 1.2, 25.0, 482.3, 7.1, -6.7, 8.3, 19.1];
                                        var x4 = [5.6, 14.3, 13.7, 10.4, -5.2, -36.3, -26.3, 4.4, 2.8, -1.2];

                                        FourthChart(name, x1, x2, x3, x4);
                                    }

                                    //locação quarto gráfico
                                    function FourthChart(name, x1, x2, x3, x4) {
                                        $('#FourthChart').show();
                                        $(function () {
                                            Highcharts.chart('FourthChart', {
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'column',
                                                    backgroundColor: null
                                                },
                                                title: {
                                                    text: 'DMT - Evolução do impacto dos fatores de Δ (Real vs Orçado)'
                                                },
                                                xAxis: {
                                                    categories: name
                                                },
                                                yAxis: {

                                                    title: {
                                                        text: null
                                                    },
                                                    stackLabels: {
                                                        enabled: true,
                                                        style: {
                                                            fontWeight: 'bold',
                                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                        }
                                                    }
                                                },
                                                legend: {
                                                    align: 'center',

                                                    verticalAlign: 'bottom',

                                                    shadow: false
                                                },
                                                tooltip: {
                                                    headerFormat: '<b>{point.x}</b><br/>',
                                                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                                                },
                                                plotOptions: {
                                                    column: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: 'KW',
                                                    data: x1

                                                }, {
                                                    name: 'KW/BOI',
                                                    data: x2
                                                }, {
                                                    name: 'Bois/Proc',
                                                    data: x3
                                                }, {
                                                    name: 'Preço KW',
                                                    data: x3
                                                }]
                                            });
                                        });
                                    }

                                </script>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>


<script type="text/javascript">

    function float2moeda(num) {

        x = 0;

        if (num < 0) {
            num = Math.abs(num);
            x = 1;
        }

        if (isNaN(num)) num = "0";

        num = Math.floor((num * 100 + 0.5) / 100).toString();

        for (var i = 0; i < Math.floor((num.length - (1 + i)) / 3) ; i++)

            num = num.substring(0, num.length - (4 * i + 3)) + '.'
                 + num.substring(num.length - (4 * i + 3));
        ret = num;

        if (x == 1) ret = ' - ' + ret;

        return ret;
    }

    $('body > div > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > div').click();

$(document).ready(function(){






    $('#teste').css({ 'margin-top': '218px' });
});
</script>
