@{
    Layout = null;
}


<style type="text/css">
    img {
        width: 100px;
        height: 100px;
        text-align: center;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-s6z2 {
            text-align: center;
        }

        .tg .tg-baqh {
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-yw4l {
            vertical-align: top;
        }

    .recravacao {
        margin-bottom: 0;
    }

    #rcorners2 {
        border-radius: 25px;
        border: 2px solid #000000;
        padding: 10px;
        width: 100%;
        height: 190px;
        display: inline-block;
    }
</style>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Print Recravação</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <section>
        <table class="tg" style="undefined;table-layout: fixed; width: 100%">
            <colgroup>
                <col style="width: 41px">
                <col style="width: 41px">
                <col style="width: 646px">
                <col style="width: 88px">
            </colgroup>
            <tr>
                <th class="tg-031e" colspan="2" rowspan="4"><img src="~/Imagens/JBS_logo.jpg" /></th>
                <th class="tg-s6z2" rowspan="2"><strong>PCC <p class="recravacao">3B Recravação</p></strong></th>
                <th class="tg-baqh" rowspan="4">GARANTIA E QUALIDADE LOGO</th>
            </tr>
            <tr></tr>
            <tr>
                <td class="tg-031e"><strong>Elaborador:</strong> Jaquelina Garcia Menezes -  GQU/BTS</td>
            </tr>
            <tr>
                <td class="tg-yw4l"><strong>Aprovador:</strong> Melina Villa Dantas - GQU/BTS</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <div id="rcorners2">
            <p><label>Espaço Livre</label></p><br />
            <p><label>Escareação</label></p><br />
            <p><label>Altura</label></p><br />
            <p><label>Gancho Corpo</label></p><br />
            <p><label>Gancho Tampa</label></p><br />
            <p><label>Junção</label></p><br />
            <p><label>Teste de ar</label></p>
        </div>
    </section>
</body>
</html>