
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template Mobile</title>
		<link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../plugins/float_button/css/kc.fab.css"/>
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
	</head>
	<body role="document">
  
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Corrective Action</a>
				</div>
			</div>
		</nav>
	
		<div class="container" role="main" style="margin-top: 64px;">
					
			<div class="monitoramentos list-group" style="margin-top: 16px;  padding-bottom: 70px;">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <b>Corrective Action Taken:<br /></b>
                                Date/Time: <span id="datetime"></span><br />
                                Auditor: <span id="auditor"></span><br />
                                Shift: <span id="shift"></span><br />
                            </div>
                            <div class="col-xs-6">
                                <b>Audit Information:<br /></b>
                                Audit: <span id="auditText"></span><br />
                                Start Time: <span id="starttime"></span><br />
                                Period: <span id="period"></span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="form-group"> 
                    <label>Description of Failure:</label> 
                    <textarea id="DescriptionFailure" class="form-control custom-control" rows="3" style="resize:none"></textarea> 
                </div>
                <div class="form-group">
                    <label>Immediate Corrective Action:</label>
                    <textarea id="ImmediateCorrectiveAction" class="form-control custom-control" rows="3" style="resize:none"></textarea>
                </div>
                <div class="form-group">
                    <label>Product Disposition:</label>
                    <textarea id="ProductDisposition" class="form-control custom-control" rows="3" style="resize:none"></textarea>
                </div>
                <div class="form-group">
                    <label>Preventative Measure:</label>
                    <textarea id="PreventativeMeasure" class="form-control custom-control" rows="3" style="resize:none"></textarea>
                </div>
                <div class="row">
                   <div class="col-xs-6">
                       <div class="form-group">
                           <label>Slaughter:</label>
                           <input type="text" class="form-control" id="slaughter" disabled>
                       </div>
                       <div class="form-group">
                           <label>Date/Time:</label>
                           <input type="date" class="form-control" id="slaughterDatetime" disabled>
                       </div>
                   </div>
                   <div class="col-xs-6">
                       <div class="form-group">
                           <label>Techinical Services:</label>
                           <input type="text" class="form-control" id="techinical" disabled>
                       </div>
                       <div class="form-group">
                           <label>Date/Time:</label>
                           <input type="date" class="form-control" id="techinicalDatetime" disabled>
                       </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Slaughter Signature:</label><br />
                            <label>Login:</label>
                            <input type="text" class="form-control" id="slaughterLogin">
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" id="slaughterPassword">
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-primary btn-lg" id="btnSlaughterLogin" onclick="AcaoCorretiva.logarUsuarioSlaughter();" value="Verify Login">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Techinical Services Signature:</label><br />
                            <label>Login:</label>
                            <input type="text" class="form-control" id="techinicalLogin">
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" id="techinicalPassword">
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-primary btn-lg" id="btnTechinicalLogin" onclick="AcaoCorretiva.logarUsuarioTechnical();" value="Verify Login">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary btn-lg" id="btnSendCorrectiveAction" onclick="AcaoCorretiva.enviarAcaoCorretiva();" value="Send">
                        </div>
                    </div>
                </div>
            </div>

            <div class="kc_fab_wrapper"></div><!--Save-->
		</div>
		
        

		<script src="../plugins/jquery/jquery.min.js"></script>
		<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/float_button/js/kc.fab.js"></script>

		<!-- Helpers -->
        <script type="text/javascript" src="../utils/urlHelper.js"></script>

        <!-- Controllers -->
        <script type="text/javascript" src="../controllers/correctiveaction.js"></script>
        
	</body>
</html>