<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template Mobile</title>
		<link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../plugins/float_button/css/kc.fab.css"/>
		<link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../sidebar/css/sidebar.min.css" type="text/css" />
	</head>
	<body role="document">
  
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" onclick="backIndicators()"> <i class="fa fa-chevron-left fa-3" aria-hidden="true"></i> </a>
					<a id="indicatorName" class="navbar-brand" onclick="backIndicators()"></a>
				</div>
			</div>
		</nav>
	
		<div class="container" role="main" style="margin-top: 64px;">
		
			<div class="panel panel-default carcassMenu">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-3">Total Defects:</div>
						<div id="totalDefects" class="col-xs-3"></div>
					</div>	
				</div>
			</div>
			
			<div id="indicatorImage" class="toggle-link">
				<a href="#" id="open-left"><i class="fa fa-picture-o fa-2" aria-hidden="true"></i></i>  Show Image</a>
			</div>
			
			<div class="sidebar" id="sidebar">
				<div class="close">
					<a href="#" id="sidebar-close" class="btn-close">Close</a>
				</div>

				<div class="content">
					<a>
						<img id="Image-Maps-Com-image-maps-2016-06-27-112056" src="../img/beef.jpg" border="0" width="255" height="522" orgWidth="255" orgHeight="522" usemap="#image-maps-2016-06-27-112056" alt="" />
						<map name="image-maps-2016-06-27-112056" id="ImageMapsCom-image-maps-2016-06-27-112056">
						<area  alt="" title="" onclick='openMonitoring(34)' shape="rect" coords="1,108,77,333" style="outline:none;" target="_self"/><!--Area 8-->
						<area  alt="" title="" onclick='openMonitoring(31)' shape="rect" coords="76,131,188,188" style="outline:none;" target="_self"/><!--Area 8-->
						<area  alt="" title="" onclick='openMonitoring(32)' shape="rect" coords="76,185,188,251" style="outline:none;" target="_self" /><!--Area 11-->
						<area  alt="" title="" onclick='openMonitoring(33)' shape="rect" coords="186,107,255,340" style="outline:none;" target="_self"/><!--Area 12-->
						<area  alt="" title="" onclick='openMonitoring(35)' shape="rect" coords="76,255,186,369" style="outline:none;" target="_self"/><!--Area 14-->
						<area  alt="" title="" onclick='openMonitoring(37)' shape="rect" coords="187,332,255,388" style="outline:none;" target="_self"/><!--Area 16-->
						<area  alt="" title="" onclick='openMonitoring(36)' shape="rect" coords="0,336,68,392" style="outline:none;" target="_self"/><!--Area 15-->
						<area  alt="" title="" onclick='openMonitoring(38)' shape="rect" coords="0,389,124,522" style="outline:none;" target="_self"/><!--Area 17-->
						<area  alt="" title="" onclick='openMonitoring(39)' shape="rect" coords="133,393,255,522" style="outline:none;" target="_self"/><!--Area 18-->
						<area  alt="" title="" onclick='openMonitoring(30)' shape="rect" coords="111,86,163,131" style="outline:none;" target="_self"/><!--Area 9-->
						<area  alt="" title="" onclick='openMonitoring(26)' shape="rect" coords="82,58,134,103" style="outline:none;" target="_self"/><!--Area 5-->
						<area  alt="" title="" onclick='openMonitoring(27)' shape="rect" coords="142,58,194,103" style="outline:none;" target="_self"/><!--Area 6-->
						<area shape="rect" coords="253,520,255,522" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
						<area  alt="" title="" onclick='openMonitoring(23)' shape="poly" coords="203,36,231,44,238,20,230,11,215,13" style="outline:none;" target="_self"     /><!--Area 2-->
						<area  alt="" title="" onclick='openMonitoring(22)' shape="poly" coords="91,36,54,37,48,12,61,3,81,9" style="outline:none;" target="_self"     /><!--Area 1-->
						<area  alt="" title="" onclick='openMonitoring(24)' shape="poly" coords="50,40,94,44,91,69,44,68" style="outline:none;" target="_self"     /><!--Area 3-->
						<area  alt="" title="" onclick='openMonitoring(25)' shape="poly" coords="194,51,227,72,233,50,201,38" style="outline:none;" target="_self"     /><!--Area 4-->
						<area  alt="" title="" onclick='openMonitoring(29)' shape="poly" coords="201,54,204,110,247,108,251,79" style="outline:none;" target="_self"     /><!--Area 8-->
						<area  alt="" title="" onclick='openMonitoring(28)' shape="poly" coords="15,76,17,105,66,111,83,62" style="outline:none;" target="_self"     />
					</a>
				</div>
			</div>
			
			<div class="row cffMenu">
				<div class="col-xs-offset-8 col-xs-2 text-center">Sets</div>
				<div class="col-xs-2 text-center">Sides</div>
			</div>	

			<div class="row carcassMenu">
				<div class="col-xs-offset-8 col-xs-2 text-center">
					Defects
				</div>
				<div class="col-xs-2 text-center">
					Inspections
				</div>
			</div>

			<div class="row htpMenu">
				<div class="col-xs-offset-8 col-xs-2 text-center">
					CJL
				</div>
				<div class="col-xs-2 text-center">
					Carcass
				</div>
			</div>
			
			<div class="monitoramentos list-group" style="margin-top: 16px;  padding-bottom: 70px;">

                <div class="collection monitorings"></div>

			</div>
		</div>
		
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../sidebar/js/sidebar.js"></script>

		<script type="text/javascript" src="../utils/urlHelper.js"></script>	
        <script type="text/javascript" src="../models/monitoring.js"></script>		
        <script type="text/javascript" src="../components/monitoring.js"></script>
        <script type="text/javascript" src="../controllers/monitorings.js"></script>
        <script type="text/javascript" src="../tests/monitoringsTest.js"></script>
		
	</body>
</html>