
@{
    Layout = null;
}

<style>

    body {
  counter-reset: section;
    name-reset: section;
  text-align: justify;
}

@Html.Raw("@page") {
  size: A4;
  margin: 5%;
  padding: 0 0 10%;
}

@Html.Raw("@media") print {
  h6#number {
    position: absolute;
    page-break-before: always;
    page-break-after: always;
    bottom: 0;
    right: 0;
  }
   h6#number::before {
    position: relative;
    bottom: -20px;
    counter-increment: section;
    content: counter(section);
  }

    h6#cod {
    position: absolute;
    page-break-before: always;
    page-break-after: always;
    bottom: 0;
    left: 0;
  }
  h6#cod::before {

    position: relative;
    bottom: -20px;
    name-increment: section;
    content: "Leornado 2";
  }
  .print {
    display: none;
  }
}


</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

    <button class="print">Print</button>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel volutpat ante. Pellentesque maximus ipsum vel tempus scelerisque. Quisque vitae nunc est. Aliquam dictum magna nec quam aliquet accumsan. Suspendisse potenti. Sed dignissim pellentesque
        lacus, vitae vehicula urna dignissim non. Phasellus eget odio efficitur, vehicula quam sit amet, dictum nisl. Vestibulum a sapien arcu. Nunc tristique, risus eu dignissim egestas, sem metus tincidunt odio, sed ullamcorper magna est eu sapien. Pellentesque
        volutpat vestibulum porttitor.
    </p>

    <p>
        Curabitur vel molestie mauris, eget tempus augue. Aliquam commodo mi vitae sapien auctor rhoncus sit amet in nibh. Sed sit amet elit dignissim ligula malesuada pulvinar. Curabitur eget hendrerit erat. Nullam et pellentesque leo. Vestibulum lacinia leo
        vel nunc tincidunt convallis. Duis massa purus, tempus et diam vitae, rhoncus suscipit ex. Proin at risus eu libero viverra mattis nec sed neque. Nullam tristique tristique ante, vel pharetra elit. Fusce eu arcu ante. Maecenas ut orci nisl.
    </p>

    <p>
        Vivamus quis purus accumsan, suscipit ante sit amet, dapibus enim. Donec vestibulum varius risus, sed suscipit nulla commodo suscipit. Sed arcu elit, iaculis at est eget, suscipit porta felis. Donec semper ultricies mi id varius. Etiam condimentum diam
        quis augue tempor aliquam. Sed vel tellus mauris. Sed semper lectus tincidunt placerat bibendum.
    </p>

    <p>
        Nulla nisl erat, fermentum non ornare ornare, sagittis at turpis. Nunc feugiat varius turpis, vitae condimentum nibh vulputate vitae. Praesent posuere leo non eleifend fermentum. Integer eu dui auctor, commodo mauris sed, ultrices ipsum. Quisque ultricies
        consectetur sapien. Morbi efficitur turpis non ligula faucibus facilisis. Sed tincidunt placerat felis ac vulputate. Phasellus felis orci, tincidunt in laoreet non, aliquet et libero. Etiam luctus enim ut molestie pulvinar. Nam in venenatis est. Maecenas
        mollis vulputate mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet interdum sem, ut fermentum risus. Nunc vulputate semper sodales. Nullam nec neque laoreet, ornare diam in, laoreet mi.
    </p>

    <p>
        Aliquam dignissim semper ipsum sit amet sagittis. Vivamus egestas quam lacus, in porttitor nulla dictum non. Aliquam sagittis efficitur augue sit amet ornare. Sed et enim vitae justo sollicitudin interdum. Pellentesque sagittis, mauris ut maximus auctor,
        lectus ipsum tempor velit, at venenatis nulla quam ut massa. Suspendisse aliquet, justo sit amet elementum feugiat, arcu nunc fringilla magna, vitae lobortis velit lorem vel est. Etiam purus risus, ultrices nec tempor at, auctor a massa. Praesent
        vel fermentum libero.
    </p>

    <p>
        In nec interdum justo, id rhoncus erat. Pellentesque molestie turpis sed nunc aliquam, et malesuada massa luctus. Nam eu pharetra felis. Proin non neque ligula. Suspendisse sit amet arcu mollis, porta odio eget, rutrum lorem. Sed lorem nisl, eleifend
        ac lorem nec, interdum pellentesque nulla. Cras orci mauris, pretium ut ipsum eget, sodales consectetur risus. Nullam eu ultricies urna. Vivamus porta mi in placerat consequat. Fusce tincidunt arcu at urna molestie, in cursus erat sagittis. Donec
        congue lectus at leo malesuada, porta porta mauris laoreet. Suspendisse in neque in quam scelerisque accumsan id sed risus. Maecenas sollicitudin augue neque, et auctor nisi luctus in. Proin ultricies nisl a quam hendrerit finibus.
    </p>

    <p>
        Praesent commodo nibh ac augue tempus, vitae sodales quam interdum. Curabitur accumsan ullamcorper molestie. Donec vel orci vitae ligula cursus consequat nec ut nisl. Ut aliquet neque malesuada sagittis eleifend. Aliquam ex ligula, congue non velit
        et, efficitur dapibus quam. Proin nisl augue, pulvinar in cursus id, ultricies eget ipsum. Mauris consequat mollis est, ut semper lacus pellentesque at. Vestibulum purus elit, elementum nec hendrerit ut, pellentesque sollicitudin purus.
    </p>

    <p>
        Ut lacinia ex vitae tincidunt pretium. Cras euismod ex id elit egestas lobortis. Sed placerat mi purus, maximus laoreet quam tristique nec. Etiam sodales maximus urna sed accumsan. Quisque sed eleifend quam, et luctus ante. Vivamus dolor sem, lacinia
        in vehicula non, consectetur vel dolor. Donec finibus consequat elit et condimentum. Mauris et mauris enim.
    </p>

    <p>
        Cras interdum arcu ac mauris luctus mollis non ac arcu. Sed ut libero ut turpis fringilla consectetur. Nulla facilisi. Morbi ipsum enim, viverra accumsan leo eu, dignissim dictum felis. Nullam pretium eu nunc a dictum. Duis fermentum sem non eros laoreet,
        in dictum elit vehicula. Duis vitae molestie enim, non ultrices purus. Pellentesque in tempor mauris.
    </p>

    <p>
        Donec pharetra elementum commodo. Sed gravida sagittis lobortis. Pellentesque quis orci id nisi sodales molestie ut vel ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu nisi mi. Aenean pulvinar
        diam lobortis, faucibus arcu a, gravida leo. Vestibulum mi urna, malesuada sed cursus eget, dignissim a augue. Praesent sapien justo, vestibulum id dignissim vitae, volutpat nec nunc.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel volutpat ante. Pellentesque maximus ipsum vel tempus scelerisque. Quisque vitae nunc est. Aliquam dictum magna nec quam aliquet accumsan. Suspendisse potenti. Sed dignissim pellentesque
        lacus, vitae vehicula urna dignissim non. Phasellus eget odio efficitur, vehicula quam sit amet, dictum nisl. Vestibulum a sapien arcu. Nunc tristique, risus eu dignissim egestas, sem metus tincidunt odio, sed ullamcorper magna est eu sapien. Pellentesque
        volutpat vestibulum porttitor.
    </p>

    <p>
        Curabitur vel molestie mauris, eget tempus augue. Aliquam commodo mi vitae sapien auctor rhoncus sit amet in nibh. Sed sit amet elit dignissim ligula malesuada pulvinar. Curabitur eget hendrerit erat. Nullam et pellentesque leo. Vestibulum lacinia leo
        vel nunc tincidunt convallis. Duis massa purus, tempus et diam vitae, rhoncus suscipit ex. Proin at risus eu libero viverra mattis nec sed neque. Nullam tristique tristique ante, vel pharetra elit. Fusce eu arcu ante. Maecenas ut orci nisl.
    </p>

    <p>
        Vivamus quis purus accumsan, suscipit ante sit amet, dapibus enim. Donec vestibulum varius risus, sed suscipit nulla commodo suscipit. Sed arcu elit, iaculis at est eget, suscipit porta felis. Donec semper ultricies mi id varius. Etiam condimentum diam
        quis augue tempor aliquam. Sed vel tellus mauris. Sed semper lectus tincidunt placerat bibendum.
    </p>

    <p>
        Nulla nisl erat, fermentum non ornare ornare, sagittis at turpis. Nunc feugiat varius turpis, vitae condimentum nibh vulputate vitae. Praesent posuere leo non eleifend fermentum. Integer eu dui auctor, commodo mauris sed, ultrices ipsum. Quisque ultricies
        consectetur sapien. Morbi efficitur turpis non ligula faucibus facilisis. Sed tincidunt placerat felis ac vulputate. Phasellus felis orci, tincidunt in laoreet non, aliquet et libero. Etiam luctus enim ut molestie pulvinar. Nam in venenatis est. Maecenas
        mollis vulputate mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet interdum sem, ut fermentum risus. Nunc vulputate semper sodales. Nullam nec neque laoreet, ornare diam in, laoreet mi.
    </p>

    <p>
        Aliquam dignissim semper ipsum sit amet sagittis. Vivamus egestas quam lacus, in porttitor nulla dictum non. Aliquam sagittis efficitur augue sit amet ornare. Sed et enim vitae justo sollicitudin interdum. Pellentesque sagittis, mauris ut maximus auctor,
        lectus ipsum tempor velit, at venenatis nulla quam ut massa. Suspendisse aliquet, justo sit amet elementum feugiat, arcu nunc fringilla magna, vitae lobortis velit lorem vel est. Etiam purus risus, ultrices nec tempor at, auctor a massa. Praesent
        vel fermentum libero.
    </p>

    <p>
        In nec interdum justo, id rhoncus erat. Pellentesque molestie turpis sed nunc aliquam, et malesuada massa luctus. Nam eu pharetra felis. Proin non neque ligula. Suspendisse sit amet arcu mollis, porta odio eget, rutrum lorem. Sed lorem nisl, eleifend
        ac lorem nec, interdum pellentesque nulla. Cras orci mauris, pretium ut ipsum eget, sodales consectetur risus. Nullam eu ultricies urna. Vivamus porta mi in placerat consequat. Fusce tincidunt arcu at urna molestie, in cursus erat sagittis. Donec
        congue lectus at leo malesuada, porta porta mauris laoreet. Suspendisse in neque in quam scelerisque accumsan id sed risus. Maecenas sollicitudin augue neque, et auctor nisi luctus in. Proin ultricies nisl a quam hendrerit finibus.
    </p>

    <p>
        Praesent commodo nibh ac augue tempus, vitae sodales quam interdum. Curabitur accumsan ullamcorper molestie. Donec vel orci vitae ligula cursus consequat nec ut nisl. Ut aliquet neque malesuada sagittis eleifend. Aliquam ex ligula, congue non velit
        et, efficitur dapibus quam. Proin nisl augue, pulvinar in cursus id, ultricies eget ipsum. Mauris consequat mollis est, ut semper lacus pellentesque at. Vestibulum purus elit, elementum nec hendrerit ut, pellentesque sollicitudin purus.
    </p>

    <p>
        Ut lacinia ex vitae tincidunt pretium. Cras euismod ex id elit egestas lobortis. Sed placerat mi purus, maximus laoreet quam tristique nec. Etiam sodales maximus urna sed accumsan. Quisque sed eleifend quam, et luctus ante. Vivamus dolor sem, lacinia
        in vehicula non, consectetur vel dolor. Donec finibus consequat elit et condimentum. Mauris et mauris enim.
    </p>

    <p>
        Cras interdum arcu ac mauris luctus mollis non ac arcu. Sed ut libero ut turpis fringilla consectetur. Nulla facilisi. Morbi ipsum enim, viverra accumsan leo eu, dignissim dictum felis. Nullam pretium eu nunc a dictum. Duis fermentum sem non eros laoreet,
        in dictum elit vehicula. Duis vitae molestie enim, non ultrices purus. Pellentesque in tempor mauris.
    </p>

    <p>
        Donec pharetra elementum commodo. Sed gravida sagittis lobortis. Pellentesque quis orci id nisi sodales molestie ut vel ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu nisi mi. Aenean pulvinar
        diam lobortis, faucibus arcu a, gravida leo. Vestibulum mi urna, malesuada sed cursus eget, dignissim a augue. Praesent sapien justo, vestibulum id dignissim vitae, volutpat nec nunc.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel volutpat ante. Pellentesque maximus ipsum vel tempus scelerisque. Quisque vitae nunc est. Aliquam dictum magna nec quam aliquet accumsan. Suspendisse potenti. Sed dignissim pellentesque
        lacus, vitae vehicula urna dignissim non. Phasellus eget odio efficitur, vehicula quam sit amet, dictum nisl. Vestibulum a sapien arcu. Nunc tristique, risus eu dignissim egestas, sem metus tincidunt odio, sed ullamcorper magna est eu sapien. Pellentesque
        volutpat vestibulum porttitor.
    </p>

    <p>
        Curabitur vel molestie mauris, eget tempus augue. Aliquam commodo mi vitae sapien auctor rhoncus sit amet in nibh. Sed sit amet elit dignissim ligula malesuada pulvinar. Curabitur eget hendrerit erat. Nullam et pellentesque leo. Vestibulum lacinia leo
        vel nunc tincidunt convallis. Duis massa purus, tempus et diam vitae, rhoncus suscipit ex. Proin at risus eu libero viverra mattis nec sed neque. Nullam tristique tristique ante, vel pharetra elit. Fusce eu arcu ante. Maecenas ut orci nisl.
    </p>

    <p>
        Vivamus quis purus accumsan, suscipit ante sit amet, dapibus enim. Donec vestibulum varius risus, sed suscipit nulla commodo suscipit. Sed arcu elit, iaculis at est eget, suscipit porta felis. Donec semper ultricies mi id varius. Etiam condimentum diam
        quis augue tempor aliquam. Sed vel tellus mauris. Sed semper lectus tincidunt placerat bibendum.
    </p>

    <p>
        Nulla nisl erat, fermentum non ornare ornare, sagittis at turpis. Nunc feugiat varius turpis, vitae condimentum nibh vulputate vitae. Praesent posuere leo non eleifend fermentum. Integer eu dui auctor, commodo mauris sed, ultrices ipsum. Quisque ultricies
        consectetur sapien. Morbi efficitur turpis non ligula faucibus facilisis. Sed tincidunt placerat felis ac vulputate. Phasellus felis orci, tincidunt in laoreet non, aliquet et libero. Etiam luctus enim ut molestie pulvinar. Nam in venenatis est. Maecenas
        mollis vulputate mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet interdum sem, ut fermentum risus. Nunc vulputate semper sodales. Nullam nec neque laoreet, ornare diam in, laoreet mi.
    </p>

    <p>
        Aliquam dignissim semper ipsum sit amet sagittis. Vivamus egestas quam lacus, in porttitor nulla dictum non. Aliquam sagittis efficitur augue sit amet ornare. Sed et enim vitae justo sollicitudin interdum. Pellentesque sagittis, mauris ut maximus auctor,
        lectus ipsum tempor velit, at venenatis nulla quam ut massa. Suspendisse aliquet, justo sit amet elementum feugiat, arcu nunc fringilla magna, vitae lobortis velit lorem vel est. Etiam purus risus, ultrices nec tempor at, auctor a massa. Praesent
        vel fermentum libero.
    </p>

    <p>
        In nec interdum justo, id rhoncus erat. Pellentesque molestie turpis sed nunc aliquam, et malesuada massa luctus. Nam eu pharetra felis. Proin non neque ligula. Suspendisse sit amet arcu mollis, porta odio eget, rutrum lorem. Sed lorem nisl, eleifend
        ac lorem nec, interdum pellentesque nulla. Cras orci mauris, pretium ut ipsum eget, sodales consectetur risus. Nullam eu ultricies urna. Vivamus porta mi in placerat consequat. Fusce tincidunt arcu at urna molestie, in cursus erat sagittis. Donec
        congue lectus at leo malesuada, porta porta mauris laoreet. Suspendisse in neque in quam scelerisque accumsan id sed risus. Maecenas sollicitudin augue neque, et auctor nisi luctus in. Proin ultricies nisl a quam hendrerit finibus.
    </p>

    <p>
        Praesent commodo nibh ac augue tempus, vitae sodales quam interdum. Curabitur accumsan ullamcorper molestie. Donec vel orci vitae ligula cursus consequat nec ut nisl. Ut aliquet neque malesuada sagittis eleifend. Aliquam ex ligula, congue non velit
        et, efficitur dapibus quam. Proin nisl augue, pulvinar in cursus id, ultricies eget ipsum. Mauris consequat mollis est, ut semper lacus pellentesque at. Vestibulum purus elit, elementum nec hendrerit ut, pellentesque sollicitudin purus.
    </p>

    <p>
        Ut lacinia ex vitae tincidunt pretium. Cras euismod ex id elit egestas lobortis. Sed placerat mi purus, maximus laoreet quam tristique nec. Etiam sodales maximus urna sed accumsan. Quisque sed eleifend quam, et luctus ante. Vivamus dolor sem, lacinia
        in vehicula non, consectetur vel dolor. Donec finibus consequat elit et condimentum. Mauris et mauris enim.
    </p>

    <p>
        Cras interdum arcu ac mauris luctus mollis non ac arcu. Sed ut libero ut turpis fringilla consectetur. Nulla facilisi. Morbi ipsum enim, viverra accumsan leo eu, dignissim dictum felis. Nullam pretium eu nunc a dictum. Duis fermentum sem non eros laoreet,
        in dictum elit vehicula. Duis vitae molestie enim, non ultrices purus. Pellentesque in tempor mauris.
    </p>

    <p>
        Donec pharetra elementum commodo. Sed gravida sagittis lobortis. Pellentesque quis orci id nisi sodales molestie ut vel ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eu nisi mi. Aenean pulvinar
        diam lobortis, faucibus arcu a, gravida leo. Vestibulum mi urna, malesuada sed cursus eget, dignissim a augue. Praesent sapien justo, vestibulum id dignissim vitae, volutpat nec nunc.
    </p>

    <button class="print">Print</button>

    <h6 id="number" class="first"></h6>
    <h6 id="cod" class="secound"></h6>
    <div class="insert"></div>

</body>

<script>

    var bottom = 0;
    $(document).ready(function () {
        $("p:nth-child(10n)").each(function () {
            bottom -= 100;
            botString = bottom.toString();
            var $counter = $('h6.first').clone().removeClass('first');
            $counter.css("bottom", botString + "vh");
            ($counter).insertBefore('.insert');

            var $name = $('h6.secound').clone().removeClass('secound');
            $name.css("bottom", botString + "vh");
            ($name).insertBefore('.insert');
        });
    });

    $('.print').on('click', function () {
        window.print();
        return false;
    });


</script>


