<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

      <add key="UrlSgqService" value="http://192.168.25.200/SGQ_1_0_9" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
