<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    
    <!--HML-->
    <!--<add name="SgqDbDev" connectionString="data source=10.255.0.41;initial catalog=dbGQualidadeTeste;persist security info=True;user id=UserGQualidade;password=grJsoluco3s;" providerName="System.Data.SqlClient" />-->
    
    <!--PROD-->
    <!--<add name="SgqDbDev" connectionString="data source=10.255.0.16;initial catalog=dbGQualidade;persist security info=True;user id=UserGQualidade;password=grJsoluco3s;" providerName="System.Data.SqlClient" />-->

    <!--CONNEXOES SERVIDORES BRASIL-->
    <add name="SgqDbDev" connectionString="data source=SERVERGRT\MSSQLSERVER2014;initial catalog=SgqDbDev;persist security info=True;user id=sa;password=1qazmko0;" providerName="System.Data.SqlClient" />
    <add name="PlanoDeAcao" connectionString="data source=SERVERGRT\MSSQLSERVER2014;initial catalog=PlanoDeAcao;persist security info=True;user id=sa;password=1qazmko0;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
</configuration>