a.custom-button {
    width: 47px;
}
.dataTables_scrollBody {
    height: 410px;
}
.table_GRT tbody > tr {
    white-space: nowrap !important;
    font-size: 10px !important;
}
.dataTable thead > tr > th {
    white-space: nowrap !important;
    font-size: 7.9pt !important;
}
.table_GRT tbody > tr > td {
    font-size: 7.9pt !important;
    line-height: 1.6 !important;
}

.modal-content {
    margin-top: 70px;
}
button.btn.btn-link.custom-button {
    font-size: 6.7pt !important;
    padding: 0px !important;
}
td.dt-center {
    padding: 0px 30px !important;
}
a.dt-button {
    font-size: 12pt;
    padding: 2px;
    padding-left: 13px;
    color: #fff;
    padding-right: 13px;
    border-radius: 0px !important;
    border: none;
    background: #337ab7 !important;
}
    a.dt-button:hover {
        border: none;
    }
#resultsApontamentos_wrapper select {
    padding: 5px;
    font-size: 7.9pt;
    border-radius: 0px !important;
}
div#resultsApontamentos_filter {
    font-size: 7.9pt;
        padding-left: 6px;
}
div#resultsApontamentos_length {
    font-size: 7.9pt;
    padding-left: 6px;
}
.dt-button-collection {
    width: 240px !important;
}
div.dt-button-collection span {
    font-size: 7.9pt;
}
div#resultsApontamentos_info {
    font-size: 7.9pt;
}
div#resultsApontamentos_paginate {
    font-size: 7.9pt;
}

#dataTable_wrapper select {
    padding: 5px;
    font-size: 7.9pt;
    border-radius: 0px !important;
}

div#dataTable_filter {
    font-size: 7.9pt;
    padding-left: 6px;
}

div#dataTable_length {
    font-size: 7.9pt;
    padding-left: 6px;
}

.dt-button-collection {
    width: 240px !important;
}

div.dt-button-collection span {
    font-size: 7.9pt;
}

div#dataTable_info {
    font-size: 7.9pt;
}

div#dataTable_paginate {
    font-size: 7.9pt;
}
a.paginate_button.current {
    border-radius: 0px !important;
    border: none !important;
    background: #337ab7 !important;
}
input[type="search"] {
    border-radius: 0px;
    font-size: 7.9pt;
    padding: 4px;
    border: 1px solid #6666667a;
}
button#btnSend {
    font-size: 7.9pt;
    border-radius: 0px !important;
}
a.paginate_button:hover {
    background: #337ab7 !important;
    border: 0px !important;
}
.RLR_Table tbody > tr > td p{
    margin: 0px 0;
}