
@{
    ViewBag.Title = "FAQ";

}
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>FAQ</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h4> <strong><label>FAQ</label></strong></h4>
                </div>
                <div class="col-md-3 col-xs-3 form-group">
                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#IntUsuarios">Integração de usuários</a></strong>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#Parametrizacao">Parametrização</a></strong>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#Volumes">Volumes</a></strong>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#Familias">Familias</a></strong>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#Coleta">Coleta</a></strong>
                        </li>
                    </ul>

                    <ul>
                        <li>
                            <strong><a class="scrollPerguntas" data-href="#Relatorio">Relatórios</a></strong>
                        </li>
                    </ul>
                </div>

                <div class="panel-group col-md-9  col-xs-9 pull-right" id="faqAccordion">
                    <div id="integracao" class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="IntUsuarios" class="ing">Integração de usuários</a>
                        </h2>
                    </div>

                    <div id="pt1" class="panel panel-default ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#pergunta1">
                            <h4 class="panel-title">
                                <a id="" class="ing">Não tenho acesso ao ERP e gostaria de acessar o SGQ. Como faço?</a>
                            </h4>
                        </div>
                        <div id="pergunta1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Por favor, peça a Camila Prata para que ela crie seu usuário no ERP</p>
                            </div>
                        </div>
                    </div>

                    <div id="pt2" class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#pergunta2">
                            <h4 class="panel-title">
                                <a class="ing">Como consigo logar pela primeira vez no SGQ com meu usuário?</a>
                            </h4>
                        </div>
                        <div id="pergunta2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Se já houver cadastro no ERP, basta logar no SGQ com seu usuário com a senha: 123</p>
                            </div>
                        </div>
                    </div>

                    <div id="pt3" class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#pergunta3">
                            <h4 class="panel-title">
                                <a class="ing">Troquei de unidade, e gostaria de acessar o SGQ com o usuário da minha unidade atual?</a>
                            </h4>
                        </div>
                        <div id="pergunta3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Basta acessar o SGQ com seu novo usuário, entrar em “Perfil de Usuário” e no campo “Empresa”, trocar para a atual.</p>
                            </div>
                        </div>
                    </div>

                    </br>

                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="Parametrizacao" class="ing">Parametrização</a>
                        </h2>
                    </div>

                    <div id="ptParam1" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaParam1">
                            <h4 class="panel-title">
                                <a class="ing">Não consigo fazer nenhuma alteração na parametrização, pois está desabilitado, como prosseguir?</a>
                            </h4>
                        </div>
                        <div id="perguntaParam1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Se o seu usuário não possui acesso a tela de parametrização, deve-se contatar a Camila Prata, pois ela é a responsável por todas as alterações na Parametrização.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptParam2" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaParam2">
                            <h4 class="panel-title">
                                <a class="ing">Fiz uma alteração no indicador/monitoramento/tarefa, porém não surtiu efeito na coleta, o que devo fazer?</a>
                            </h4>
                        </div>
                        <div id="perguntaParam2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Após feita alteração em qualquer nível (indicador, monitoramento ou tarefa), deve-se ser salva-las, e em seguida “Atualizar a parametrização” da sua unidade.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptParam3" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaParam3">
                            <h4 class="panel-title">
                                <a class="ing">Quando altero processo de uma unidade, os indicadores e pontos retroativos também estão sendo alterados?</a>
                            </h4>
                        </div>
                        <div id="perguntaParam3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Sim, ao alterar o processo, imediatamente os indicadores vinculados ao processo, serão alterados.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptParam4" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaParam4">
                            <h4 class="panel-title">
                                <a class="ing">O que é um alerta?</a>
                            </h4>
                        </div>
                        <div id="perguntaParam4" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Alerta irá ser disparado sempre quando o indicador exceder a meta ou a quantidade de Não Conformidades.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptParam5" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaParam5">
                            <h4 class="panel-title">
                                <a class="ing">Foi realizado lançamento de CEP Vácuo GRD e uma determinada tarefa contabilizou sem Vácuo GRD e Vácuo Refile, porém era para contabilizar somente para uma?</a>
                            </h4>
                        </div>
                        <div id="perguntaParam5" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Verificar se na parametrização essa tarefa está vinculada nos dois monitoramentos, caso esteja cantatar a Camila Prata, para realizar a alteração necessária.</p>
                            </div>
                        </div>
                    </div>

                    </br>

                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="Volumes" class="ing">Volumes</a>
                        </h2>
                    </div>

                    <div id="ptvol1" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaVol1">
                            <h4 class="panel-title">
                                <a class="ing">Indicador PCC 1b não está sendo exibido na coleta, como prosseguir?</a>
                            </h4>
                        </div>

                        <div id="perguntaVol1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Para os indicadores por volume serem visualizados na coleta, devem ter sido cadastrados na tela de cadastro de volumes, assim como PCC 1B, deve-se ser lançado todos os dias, após isso, não esquecer de atualizar a parametrização da unidade.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptvol2" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaVol2">
                            <h4 class="panel-title">
                                <a class="ing">Como cadastrar o volume para PCC 1B após a 00h?</a>
                            </h4>
                        </div>

                        <div id="perguntaVol2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Após a 00:00h, se cadastrado um novo volume para PCC 1B só se aplicará as 03:00 da manhã, antes das 03:00 da manhã, pegará o volume do dia anterior.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptvol3" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaVol3">
                            <h4 class="panel-title">
                                <a class="ing">Lancei todas as amostras e está permitindo lançar novamente, o que houve?</a>
                            </h4>
                        </div>

                        <div id="perguntaVol3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Este é um problema de cache, limpe o cache do seu navegador e sincronize o tablet.</p>
                            </div>
                        </div>
                    </div>

                    </br>

                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="Familias" class="ing">Familias</a>
                        </h2>
                    </div>

                    <div id="ptFam1" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaFam1">
                            <h4 class="panel-title">
                                <a class="ing">Cadastrei um monitoramento no cadastro de família, e não está exibindo na coleta, o que devo fazer?</a>
                            </h4>
                        </div>

                        <div id="perguntaFam1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Há três pontos, certifique-se que o monitoramento está ativo, em seguida veja se cadastrou o novo monitoramento para a data atual, e em seguida não esqueça de atualizar a parametrização da sua unidade.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptFam2" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaFam2">
                            <h4 class="panel-title">
                                <a class="ing">Não estou conseguindo remover um monitoramento do cadastro de família, por que?</a>
                            </h4>
                        </div>

                        <div id="perguntaFam2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Se o monitoramento pertencer ao grupo de monitoramentos da empresa, somente a Camila Prata pode fazer essa alteração/remoção.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptFam3" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaFam3">
                            <h4 class="panel-title">
                                <a class="ing">Não estou conseguindo carregar os monitoramentos no cadastro de família, como funciona?</a>
                            </h4>
                        </div>

                        <div id="perguntaFam3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Deve-se incluir a data e em seguida sua empresa, só assim conseguirá prosseguir e incluir/alterar os monitoramentos.</p>
                            </div>
                        </div>
                    </div>

                    </br>

                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="Coleta" class="ing">Coleta</a>
                        </h2>
                    </div>

                    <div id="ptCol1" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol1">
                            <h4 class="panel-title">
                                <a class="ing">Não está trazendo na coleta o Indicador Vácuo Refile, por que isso ocorre?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>O indicador Vácuo Refile é coletado através do indicador Vácuo GRD, pois Vácuo Refile é filho do Indicador Vácuo GRD, sendo assim ele não exibirá na coleta, apenas GRD.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol2" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol2">
                            <h4 class="panel-title">
                                <a class="ing">Alguns indicadores não estão travando após o lançamento. O mesmo deveria estar ficando cinza e travando o acesso para evitar outros lançamentos durante a semana, por que isso ocorre?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Caso a frequência dos indicadores for diária, ficará habilitado para coleta todos os dias, se for semanal, por exemplo, após feita a coleta irá bloquear e deixar a linha cinza.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol3" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol3">
                            <h4 class="panel-title">
                                <a class="ing">Estou fazendo os lançamentos, porém os mesmos não estão contabilizando, o que aconteceu?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Há dois pontos, verificar se a internet da sua unidade está estável, certifique-se que o tablet foi sincronizado antes e depois de terminar as coletas. Se mesmo assim continuar ocorrendo, deve-se fazer a limpeza de cache do navegador.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol4" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol4">
                            <h4 class="panel-title">
                                <a class="ing">A internet da minha unidade está muito lenda e demora para sincronizar, como proceder?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol4" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>No canto direito da tela, existe uma opção de sincronizar resultados, ou seja, ao ir coletando se clicar nesse botão, ele irá enviar os dados, sendo assim não acumulará os dados.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol5" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol5">
                            <h4 class="panel-title">
                                <a class="ing">Na unidade do Tablet está exibindo uma unidade diferente da minha unidade, geralmente exibe Lins, o que houve?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol5" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Ocorre devido a lentidão da internet, nesse caso sempre verificar no canto inferior da tela, ao lado do nome do usuário logado, a unidade conectada, o sistema valida a unidade por esse campo.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol6" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol6">
                            <h4 class="panel-title">
                                <a class="ing">Meu tablet está com a data de ontem e não atualiza para os lançamentos.</a>
                            </h4>
                        </div>

                        <div id="perguntaCol6" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Faça o procedimento de limpeza de cache do seu navegador, após feito, faça a sincronização do tablet.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol7" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol7">
                            <h4 class="panel-title">
                                <a class="ing">Fiz uns lançamentos incorretos e gostaria de exclui-los, como proceder?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol7" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Em apontamentos diários, é possível editar uma coleta, para conforme e não conforme, e também colocar como Não avaliado, quando selecionado a opção de Não Avaliado, não contabilizará essa coleta.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol8" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol8">
                            <h4 class="panel-title">
                                <a class="ing">A monitora realizou todos os lançamentos e foram sincronizados só que hoje pela manhã quando fomos verificar o scorecard do dia anterior as informações sumiram, o que pode ter ocorrido?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol8" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Certifique-se que ao finalizar as coletas, os tablets sejam sincronizados, para garantir, ao finalizar clique no botão direito da tela “Sincronizar Resultados”.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol9" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol9">
                            <h4 cla class="ing">
                                Modifiquei um indicador incluindo outras tarefas, e não está sendo exibidas na coleta essa alteração, o que pode ter ocorrido?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol9" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Se a coleta já foi iniciada, não se aplicará a alteração, após finalizada, sincronizada a coleta, passará a exibir com as alterações.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol10" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol10">
                            <h4 class="panel-title">
                                <a class="ing">Está aparecendo que já foi finalizado o lançamento de um indicador diário, como posso verificar?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol10" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Entre no relatório de apontamentos diários, e verifique a data da coleta, o monitor pode ter confundido e lançado com datas divergentes. </p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol11" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol11">
                            <h4 class="panel-title">
                                <a class="ing">Na coleta ao clicar no indicador exibe a mensagem “O número de avaliações desse indicador foi completado” e não consigo fazer os lançamentos, como proceder?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol11" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Essa mensagem é lançada quando todas avaliações já foram feitas para determinado indicador, para visualizar as avaliações, é só visualizar os relatórios disponíveis no SGQ, como por exemplo Apontamentos diários.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptCol12" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaCol12">
                            <h4 class="panel-title">
                                <a class="ing">Para um indicador foi emitido o primeiro alerta e o segundo normalmente, quando foi pra estourar o terceiro alerta o mesmo voltou para o primeiro alerta, o que pode ter acontecido?</a>
                            </h4>
                        </div>

                        <div id="perguntaCol12" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Esse tipo de ocasião ocorre quando há troca de tablet durante a coleta sem a sincronização dos resultados, com isso, volta a disparar o primeiro alerta.</p>
                            </div>
                        </div>
                    </div>

                    </br>

                    <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion">

                        <h2 class="panel-title">
                            <a id="Relatorio" class="ing">Relatórios</a>
                        </h2>
                    </div>

                    <div id="ptRel1" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaRel1">
                            <h4 class="panel-title">
                                <a class="ing">Meus lançamentos não estão sendo exibidos no relatório diário, o que houve?</a>
                            </h4>
                        </div>

                        <div id="perguntaRel1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>O relatório diário só exibe os indicadores que passaram da meta determinada, caso contrário não exibirá, para melhor visualização dos lançamentos acesse o relatório de apontamentos diários.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptRel2" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaRel2">
                            <h4 class="panel-title">
                                <a class="ing">O indicador está aparecendo no relatório diário como lançado sendo que, os monitores não lançaram e quando eu entro na coleta de dados está como ZERADO. O que realmente está acontecendo?</a>
                            </h4>
                        </div>

                        <div id="perguntaRel2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Verifique se a coleta que está exibindo como lançado foi feita para o turno correto, para visualizar o turno correto, e maios detalhes, acesso o relatório de apontamentos diários.</p>
                            </div>
                        </div>
                    </div>

                    <div id="ptRel3" class="panel panel-default">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#perguntaRel3">
                            <h4 class="panel-title">
                                <a class="ing">Relatórios com resultados divergentes, no relatório de Não conformidades aparecem 2 NC e no relatório de Apontamentos Diários aparecem 4, por que?</a>
                            </h4>
                        </div>

                        <div id="perguntaRel3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Resposta</span></h5>
                                <p>Verifique se o tipo de consolidação é por soma de peças, se sim, no relatório de não conformidades trará as não conformidades somadas no determinado monitoramento e no apontamento diário, trás as não conformidades por tarefas.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(".scrollPerguntas").click(function (e) {

            debugger
            if ($(this).attr('data-href') !== "") {

                e.preventDefault();

                var hash = $(this).attr('data-href');
                window.location.hash = "";
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 80
                }, 500, function () {

                   // window.location.hash = hash;
                });
            }
        });
    </script>


