<div class="row col-lg-12 col-md-12" id="cardsAcompanhamento">

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Nº Auditorias</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="lblTotalAuditoriasAcompanhamento">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Nº Auditores</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="lblTotalAuditoresAcompanhamento">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Realizado</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="lblTotalRealizadoAcompanhamento">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Seguro</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="lblTotalConformeAcompanhamento">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Inseguro</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="lblTotalNaoConformeAcompanhamento">0</p>
            </div>
        </div>
    </div>
</div>

<table id="tblAcompanhamento" class="table" width="100%">
  
</table>
