<div class="row col-lg-12 col-md-12" id="cardsAcompanhamento">

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Nº Auditorias</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelMediaNotas5S">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Nº Auditores</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelMediaNotas5S">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Realizado</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelMediaNotas5S">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Seguro</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelMediaNotas5S">0</p>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
            <div class="panel-body bg-white">
                <p class="panel-title" style="font-size: 15px;">Inseguro</p>
                <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelMediaNotas5S">0</p>
            </div>
        </div>
    </div>
</div>

<table id="tblAcompanhamento" class="table" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Name
            </th>
            <th class="th-sm">
                Position
            </th>
            <th class="th-sm">
                Office
            </th>
            <th class="th-sm">
                Age
            </th>
            <th class="th-sm">
                Start date
            </th>
            <th class="th-sm">
                Salary
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Quinn Flynn</td>
            <td>Support Lead</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2013/03/03</td>
            <td>$342,000</td>
        </tr>
    </tbody>
</table>
