@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
@using DTO
@{
    Layout = "~\\Views\\RelatoriosSgq\\_FilterReports.cshtml";
    ViewBag.Title = Resources.Resource.general_view_of_the_area; ;

    var urlGet = Url.Action("GetApontamentosDiariosRH", "api/ApontamentosDiarios");

    ViewBag.ShowCurrentDate = false;
    ViewBag.ShowRangeDate = true;
    ViewBag.ShowParStructure = true;
    ViewBag.ShowParCompany = true;
    ViewBag.ShowShift = true;
    ViewBag.ShowParDepartment = true;
    ViewBag.ShowParSecao = true;
    ViewBag.ShowParCargo = true;
    ViewBag.ShowParCriticalLevel = true;
    ViewBag.ShowParLevel1 = false;
    ViewBag.ShowParLevel2 = false;
    ViewBag.ShowParLevel3 = false;
    ViewBag.ShowParCluster = true;
    ViewBag.ShowParClusterGroup = true;
    ViewBag.ShowParStructureGroup = true;
}

@section Content {

    <div class="page-content-wrapper">
        <div class="page-content">
            <div id="formBodyContent">
                <div class="panel-body">
                    <div id="divPresidente">
                        <h1>Presidente</h1>
                        <div class="row" style="background-color:#fcfcfc;">
                            <div class="col-sm-6">

                                <div class="col-sm-6">
                                    <div id="consequencia-grafico1" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico2" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico3" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico7" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico4" style="height: 100px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="" style="height: 50px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico5" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico6" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 100px; margin: 0 auto;"></div>
                                </div>
                                
                                <div class="col-sm-12">
                                    <div id="consequencia-bolhas1" style="height: 250px; margin: 0 auto"></div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDconsequencia1">
                                        <img src="~/Imagens/matrizvga.png" width="100%" />
                                    </div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDconsequencia2">
                                        <img src="~/Imagens/matrizvga.png" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="col-sm-6">
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                    <div id="causa-grafico3" style="height: 200px; margin: 0 auto;"></div>
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                </div>

                                <div class="col-sm-6">
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                    <div id="causa-grafico1" style="height: 175px; margin: 0 auto;"></div>
                                    <div id="" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="causa-grafico2" style="height: 175px; margin: 0 auto;"></div>
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="causa-bolhas1" style="height: 250px; margin: 0 auto"></div>

                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDcausa1">
                                        <img src="~/Imagens/matrizvga.png" width="100%">
                                    </div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDcausa2">
                                        <img src="~/Imagens/matrizvga.png" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"   style="background-color:#fcfcfc;">
                            <div col-sm-12>
                                <div col-sm-12>
                                    <div id="causa-pareto1" style="height: 200px; margin: 0 auto"></div>
                                    <div id="causa-pareto2" style="height: 200px; margin: 0 auto"></div>
                                    <div id="causa-pareto3" style="height: 200px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divDiretores" style="top: 20px;">

                        <h1>Diretores</h1>

                        <div class="row"  style="background-color:#fcfcfc;">
                            <div class="col-sm-6">

                                <div class="col-sm-4">
                                    <div id="consequencia-grafico11" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico21" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico31" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico41" style="height: 100px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-4">
                                    <div id="" style="height: 50px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico51" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico61" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 50px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-4">
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                    <div id="consequencia-grafico71" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="consequencia-bolhas11" style="height: 250px; margin: 0 auto"></div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDconsequencia11">
                                        <img src="~/Imagens/matrizvga.png" width="100%" />
                                    </div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDconsequencia21">
                                        <img src="~/Imagens/matrizvga.png" width="100%" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="col-sm-6">
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                    <div id="causa-grafico41" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 150px; margin: 0 auto;"></div>
                                </div>

                                <div class="col-sm-6">
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                    <div id="causa-grafico11" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                    <div id="causa-grafico21" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                    <div id="causa-grafico31" style="height: 100px; margin: 0 auto;"></div>
                                    <div id="" style="height: 25px; margin: 0 auto;"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="causa-bolhas11" style="height: 250px; margin: 0 auto"></div>

                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDcausa11">
                                        <img src="~/Imagens/matrizvga.png" width="100%">
                                    </div>
                                    <div style="height: 300px; margin: 0 auto; display: none;" id="matrizIDcausa21">
                                        <img src="~/Imagens/matrizvga.png" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"  style="background-color:#fcfcfc;">
                            <div col-sm-12>
                                <div col-sm-12>
                                    <div id="causa-pareto11" style="height: 200px; margin: 0 auto"></div>
                                    <div id="causa-pareto21" style="height: 200px; margin: 0 auto"></div>
                                    <div id="causa-pareto31" style="height: 200px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>


}


@section Scripts {

    <script type="text/javascript">


        var urlGet = '@Html.Raw(@urlGet)';

        function enviarFiltro() {
            openLoader('Aguarde...');
            $('#resultsApontamentos').empty();
            $('#divApontamentosDiarios').empty();

            $('#divTable').hide();

            $.ajax({
                url: urlGet,
                type: 'post',
                data: JSON.stringify(objFiltro),
                dataType: "JSON",
                contentType: "APPLICATION/JSON; CHARSET=UTF-8",
                beforeSend: function () {
                }
            })
            .done(function (data) {

                GerarGraficoBolha(data, 'consequencia-bolhas1', 'Consequência - Gravidade x Frequência', 'Negócio Friboi - 1º semestre 2019', 'Frequência', 'Gravidade', 'Número de Acidentes');
                GerarGraficoEvolutivo(data, 'consequencia-grafico1', 'Taxa de Frequência com Afastamento');
                GerarGraficoEvolutivo(data, 'consequencia-grafico2', 'Taxa de Frequêcnia sem Afastamento');
                GerarGraficoEvolutivo(data, 'consequencia-grafico3', 'Gravidade Incapacidade');
                GerarGraficoEvolutivo(data, 'consequencia-grafico7', 'Gravidade Lesão Permanente');
                GerarGraficoEvolutivo(data, 'consequencia-grafico4', 'Gravidade Lesão Temporária');
                GerarGraficoEvolutivo(data, 'consequencia-grafico5', 'Taxa de Frequência');
                GerarGraficoEvolutivo(data, 'consequencia-grafico6', 'Taxa de Gravidade');
             

                GerarGraficoBolha(data, 'causa-bolhas1', 'Causa - Probabilidade/Vulnerabilidade e Impacto', 'Negócio Friboi - 1º semestre 2019', 'Probablilidade/Vulnerabilidade', 'Impacto', 'Risco' );
                GerarGraficoEvolutivo(data, 'causa-grafico1', 'Impacto');
                GerarGraficoEvolutivo(data, 'causa-grafico2', 'Probabilidade/Vulnerabilidade');
                GerarGraficoEvolutivo(data, 'causa-grafico3', 'Risco Total');

                GerarGraficoPareto(data, 'causa-pareto1', 'Título Evolutivo');
                GerarGraficoPareto(data, 'causa-pareto2', 'Título Monitoramento');
                GerarGraficoPareto(data, 'causa-pareto3', 'Título Tarefa');


                GerarGraficoBolha(data, 'consequencia-bolhas11', 'Consequência - Gravidade x Frequência', 'Negócio Friboi - 1º semestre 2019', 'Frequência', 'Gravidade', 'Número de Acidentes');
                GerarGraficoEvolutivo(data, 'consequencia-grafico11', 'Título 01');
                GerarGraficoEvolutivo(data, 'consequencia-grafico21', 'Título 02');
                GerarGraficoEvolutivo(data, 'consequencia-grafico31', 'Título 03');
                GerarGraficoEvolutivo(data, 'consequencia-grafico41', 'Título 04');
                GerarGraficoEvolutivo(data, 'consequencia-grafico51', 'Título 05');
                GerarGraficoEvolutivo(data, 'consequencia-grafico61', 'Título 06');
                GerarGraficoEvolutivo(data, 'consequencia-grafico71', 'Título 07');

                GerarGraficoBolha(data, 'causa-bolhas11', 'Causa - Probabilidade/Vulnerabilidade e Impacto', 'Negócio Friboi - 1º semestre 2019', 'Probablilidade/Vulnerabilidade', 'Impacto', 'Risco');
                GerarGraficoEvolutivo(data, 'causa-grafico11', 'Título 01');
                GerarGraficoEvolutivo(data, 'causa-grafico21', 'Título 02');
                GerarGraficoEvolutivo(data, 'causa-grafico31', 'Título 03');
                GerarGraficoEvolutivo(data, 'causa-grafico41', 'Título 04');

                GerarGraficoPareto(data, 'causa-pareto11', 'Título Evolutivo');
                GerarGraficoPareto(data, 'causa-pareto21', 'Título Monitoramento');
                GerarGraficoPareto(data, 'causa-pareto31', 'Título Tarefa');


                $('#matrizIDcausa1').show();
                $('#matrizIDconsequencia1').show();
                $('#matrizIDcausa2').show();
                $('#matrizIDconsequencia2').show();

                $('#matrizIDcausa11').show();
                $('#matrizIDconsequencia11').show();
                $('#matrizIDcausa21').show();
                $('#matrizIDconsequencia21').show();

                closeLoader();
            })
            .fail(function (jqXHR, textStatus, msg) {
                console.log(msg);
                preencheRetornoGrafico("Ocorreu um erro ao buscar os dados. Erro: " + msg);
                closeLoader();
            });
        }

        function GerarGraficoBolha(data, div, titulo, subtitulo, eixoX, eixoY, eixoZ) {

            Highcharts.chart(div, {

                chart: {
                    type: 'bubble',
                    plotBorderWidth: 1,
                    zoomType: 'xy',
                    backgroundColor: 'none'

                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false,
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    }
                },

                title: {
                    text: titulo
                },

                subtitle: {
                    text: subtitulo
                },

                xAxis: {
                    gridLineWidth: 1,
                    title: {
                        text: eixoY
                    },
                    labels: {
                        format: '{value}'
                    }

                },

                yAxis: {
                    startOnTick: false,
                    endOnTick: false,
                    title: {
                        text: eixoX
                    },
                    labels: {
                        format: '{value}'
                    },
                    maxPadding: 0.2

                },

                tooltip: {
                    useHTML: true,
                    headerFormat: '<table>',
                    pointFormat: '<tr><th colspan="2"><h3>{point.country}</h3></th></tr>' +
                        '<tr><th>' + eixoY + ':</th><td>{point.y}</td></tr>' +
                        '<tr><th>' + eixoX + ':</th><td>{point.x}</td></tr>' +
                        '<tr><th>' + eixoZ + '</th><td>{point.z}</td></tr>',
                    footerFormat: '</table>',
                    followPointer: true
                },

                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}'
                        }
                    }
                },

                series: [

                    { name: 'JUI', data: [{ x: 71, y: 93.2, z: 24.7, name: 'JUI', country: 'Juína' }] },
                    { name: 'PEL', data: [{ x: 69.2, y: 57.6, z: 10.4, name: 'PEL', country: 'Pontes e Lacerda' }] },
                    { name: 'TCM', data: [{ x: 68.6, y: 20, z: 16, name: 'TCM', country: 'Tucumâ' }] },
                    { name: 'RED', data: [{ x: 65.5, y: 126.4, z: 35.3, name: 'RED', country: 'Redenção' }] },
                    { name: 'BTS', data: [{ x: 65.4, y: 50.8, z: 28.5, name: 'BTS', country: 'Barretos' }] },
                    { name: 'PIB', data: [{ x: 63.4, y: 51.8, z: 15.4, name: 'PIB', country: 'Pimenta Bueno' }] },
                    { name: 'CFS', data: [{ x: 64, y: 82.9, z: 31.3, name: 'CFS', country: 'Confresa' }] },
                    { name: 'ATO', data: [{ x: 95, y: 95, z: 13.8, name: 'ATO', country: 'Anastácio' }] },
                    { name: 'PVH', data: [{ x: 86.5, y: 102.9, z: 14.7, name: 'PVH', country: 'Porto Velho' }] },
                    { name: 'BAR', data: [{ x: 80.8, y: 91.5, z: 15.8, name: 'BAR', country: 'Barra do Garça' }] },
                    { name: 'LIN', data: [{ x: 80.4, y: 102.5, z: 12, name: 'LIN', country: 'Lins' }] },
                    { name: 'JUA', data: [{ x: 80.3, y: 86.1, z: 11.8, name: 'JUA', country: 'Juara' }] },
                    { name: 'RED', data: [{ x: 78.4, y: 70.1, z: 16.6, name: 'RED', country: 'Redenção' }] },
                    { name: 'DMT', data: [{ x: 74.2, y: 68.5, z: 14.5, name: 'DMT', country: 'Diamantino' }] },
                    { name: 'NVR', data: [{ x: 73.5, y: 83.1, z: 10, name: 'NVR', country: 'Naviraí' }] }
                ]

            });
        }

        function GerarGraficoEvolutivo(data, div, titulo) {

            Highcharts.chart(div, {
                chart: {
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    },
                    backgroundColor: 'none'
                },
                title: {
                    text: titulo,
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    }
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez'],
                    "gridLineWidth": 0,
                    labels: {
                        style: {
                            fontFamily: 'sans-serif',
                            fontSize: '6'
                        },
                    }
                },
                yAxis: {
                    visible: false,
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    },
                    title: {
                        enabled: false
                    },
                    "gridLineWidth": 0,
                    tickInterval: 1,
                    max: 11

                },
                legend: {
                    enabled: false
                },
                series: [ {
                        type: 'line',
                        name: 'Taxa',
                        data: [10, 1.67, 0, 9.33, 8.33, 9, 10, 7, 1, 5, 5, 10],
                        marker: {
                            lineWidth: 0,
                            lineColor: Highcharts.getOptions().colors[3],
                            fillColor: 'white'
                        }, style: {
                            fontFamily: 'sans-serif',
                            fontSize: '10'
                        }
                    },{
                        type: 'line',
                        name: 'Meta',
                        data: [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
                        marker: {
                            lineWidth: 0,
                            lineColor: Highcharts.getOptions().colors[1],
                            fillColor: 'white'
                        }, style: {
                            fontFamily: 'sans-serif',
                            fontSize: '10'
                        }
                     }]
            });

        }

        function GerarGraficoPareto(data, div, titulo) {

            Highcharts.chart(div, {
                chart: {
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    },
                    backgroundColor: 'none'
                },
                title: {
                    text: titulo,
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '15'
                    }
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    categories: ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez'],
                    "gridLineWidth": 0,
                    labels: {
                        style: {
                            fontFamily: 'sans-serif',
                            fontSize: '10'
                        },
                    }
                },
                yAxis: {
                    visible: false,
                    style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    },
                    title: {
                        enabled: false
                    },
                    "gridLineWidth": 0,
                    tickInterval: 1,
                    max: 11

                },
                legend: {
                    enabled: false
                },
                series: [{
                    type: 'column',
                    name: 'Taxa',
                    data: [10, 1.67, 0, 9.33, 8.33, 9, 10, 7, 1, 5, 5, 10],
                    marker: {
                        lineWidth: 0,
                        lineColor: Highcharts.getOptions().colors[3],
                        fillColor: 'white'
                    }, style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    }
                }, {
                    type: 'line',
                    name: 'Meta',
                    data: [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
                    marker: {
                        lineWidth: 0,
                        lineColor: Highcharts.getOptions().colors[1],
                        fillColor: 'white'
                    }, style: {
                        fontFamily: 'sans-serif',
                        fontSize: '10'
                    }
                }]
            });

        }
    </script>

}
