<h3 class="titulo2">Campos de Cabeçalho</h3>

<form id="ParDCCabecalho">

    <br />
    <div class="row" data-form>

        <div class="col-sm-3">

            <input type="hidden" name="ParHeaderField_Id" />
            <input type="hidden" name="ParDepartment_Id" data-id />
            <input type="hidden" name="Id" />
            <input type="hidden" name="IsActive" value="true" data-notnull />

            @*<div class="form-group">
                <label for="ParCluster_Id">Nível do campo:</label>
                <select id="selectL1ParLevelDefiniton" class="input input-lg col-sm-12 required" name="ParLevelDefinition_Id"></select>
            </div>*@

            @*</div>

            <div class="col-sm-3">*@

            <div class="form-group">
                <label for="ParCriticalLevel_Id">Tipo:</label>
                <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Tipo de dado de entrada" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i>
                <select id="selectL1ParFieldTypeDepartment" class="input input-lg col-sm-12 required" name="ParFieldType_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="EffectiveDate">Nome do campo:</label>
                <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Nome que será exibido no cabeçalho selecionado" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i>
                <input type="text" class="form-control required" id="Name" name="Name" autocomplete="off">
            </div>

        </div>


        <div class="col-sm-4">
            <label for="IsAgendamento">Permite Clonagem?</label>
            <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Possibilita habilitar a clonagem de um campo de cabeçalho" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i>
            <div class="form-group">

                <label class="switch">
                    <input id="Duplicate" type="checkbox" name="Duplicate" value=""><span class="slider round"></span>
                </label>
            </div>

        </div>

        <div id="allObjCamposCabecalho" class="col-sm-12">

            <div id="objMultiplaEscolhaDepartmentxHeader" style="display:none;" class="margin-top">
                <table id="tblOpcaoMultiplaEscolhaDepartmentxHeader">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp " colspan="0" style="">
                                <label for="Op__o">Opção</label>
                                <div>
                                    <input class="form-control input-sm text-box single-line required" id="objMultiplaEscolhaNameDepartmentxHeader" name="objMultiplaEscolhaName" style="max-width: 200px;" type="text" value="">
                                </div>
                                <span id="multiplaEscolhaNameCabecalho" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Opção deve ser preenchido para o Cabeçalho.</span>
                                </span>
                            </td>
                            <td class="td-erp " style="">
                                @*<label for="Valor_da_puni__o">Valor da punição</label>
                                <div class="input-group">
                                    <input class="form-control input-sm notAllowNegative text-box single-line required" id="objMultiplaEscolhaPunishmentValueDepartmentxHeader" min="0" name="objMultiplaEscolhaPunishmentValue" style="max-width: 200px;" type="number" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="includeTableToSave" onclick="parDCCabecalho.prepareToInsert(1);">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <span id="multiplaEscolhaPunishmentValueCabecalho" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabeçalho.</span>
                                </span>*@
                                <div class="input-group" style="margin-top: 27px;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="includeTableToSave" onclick="parDCCabecalho.prepareToInsert(1);">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objBinarioDepartmentxHeader" style="display:none;">
                <table id="tblBinarioDepartmentxHeader">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp"></td>
                            <td class="td-erp"><label for="Valor">Valor</label> </td>
                            @*<td class="td-erp"><label for="Valor_da_puni__o">Valor da punição</label>  <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Define o valor de punição e/ou premiação atribuído às opções conforme o cadastro anterior" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i></td>*@
                        </tr>
                        <tr class="row" id="positivo">
                            <td class="td-erp"><label for="Positivo">Positivo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName1DepartmentxHeader" class="form-control input-sm required">
                                <span id="punishmentNameCabecalho1" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            @*<td>
                                <input type="number" id="objBinarioPunishmentValue1DepartmentxHeader" class="form-control input-sm required" value="0">
                                <span id="punishmentValueCabecalho1" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>*@
                        </tr>
                        <tr class="row" id="negativo">
                            <td class="td-erp"><label for="Negativo">Negativo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName2DepartmentxHeader" class="form-control input-sm required">
                                <span id="punishmentNameCabecalho2" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            @*<td>
                                <input type="number" id="objBinarioPunishmentValue2DepartmentxHeader" class="form-control input-sm required" value="0">
                                <span id="punishmentValueCabecalho2" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>*@
                            <td>
                                <button class="btn btn-primary btn-sm margin-button" type="button" onclick="parDCCabecalho.prepareToInsert(3);"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objWithDescriptionDepartmentxHeader" style="display:none;">

                <label for="Description">Valor</label>:
                <input type="text" name="Description" class="required">

            </div>

            <div id="divCamposCabecalhoIncluidosDepartmentxHeader" style="display:none">
                <table id="camposCabecalhoIncluidosDepartmentxHeader" class="table" role="grid">
                    <thead>
                        <tr role="row">
                            <th>Opções</th>
                            @*<th>Valor de Punição</th>*@
                            <th>Valor Padrão</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="row">
                <div class="td-erp">
                    <div id="divBtnSalvar" class="col-sm-6">
                        <button class="form-control btn btn-primary" data-add>Salvar</button>
                    </div>

                    <div id="divBtnCancelar" class="col-sm-6" style="display:none">
                        <button class="form-control btn btn-default" data-add-cancel>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tableParDCCabecalho" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">
                            Nome
                        </th>
                        <th class="col-sm-2">
                            Tipo
                        </th>
                        <th class="col-sm-2">
                            Permite Clonagem
                        </th>
                        <th class="col-sm-2">
                            Visualização
                        </th>
                        <th class="col-sm-1">
                            Obrigatório
                        </th>
                        <th class="col-sm-1">
                            padrão
                        </th>
                        <th class="col-sm-2">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>

<script>

    var parDCCabecalho = {

        //paramtros
        id: 'ParDCCabecalho',
        urlSave: '@Url.Action("PostParDepartmentxHeaderField", "api/ParDepartmentXHeaderFieldApi")',

        load: function (ParHeaderFieldsGeral) {
            let id = this.id;
            
            apagaCampos(id);
            parDCCabecalho.reloadTable();

            $('table#table' + id + ' tbody').html('');
            $('#selectL1ParFieldTypeDepartment').prop("disabled", false);
            $('#tableParDCCabecalho [data-table-edit]').prop('disabled', false);
            $('#tableParDCCabecalho [data-table-delete]').prop('disabled', false);
            $('#tableParDCCabecalho select,#tableParDCCabecalho input,#tableParDCCabecalho button').prop('disabled', false);
            $('#' + id + ' #divBtnCancelar').hide();

            $(ParHeaderFieldsGeral).each(function (i, o) {

                let previewHeaderField = getPreviewDepartmentHeaderField(o);
                let defaultSelected = "";

                if (o.ParFieldType_Id == 1)
                    defaultSelected = getDefaultSelectedHeaderField();

                let isChecked = o.IsRequired ? "checked" : "";

                let duplicate = o.Duplicate ? "checked" : "";

                var html = '<tr>';
                html += '<td>' + o.Name + '</td>';
                html += '<td>' + o.ParFieldType.Name + '</td>';
                html += '<td><div class=""><label class="switch"><input type="checkbox" name="Duplicate"' + duplicate + ' ><span class="slider round"></span> </label></div></td>';
                html += '<td>' + previewHeaderField + '</td>';
                html += '<td><div class=""><label class="switch"><input type="checkbox" name="IsRequired"' + isChecked + ' ><span class="slider round"></span> </label></div></td>';
                html += '<td>' + defaultSelected + '</input></td>';
                html += '<td><button class="btn btn-sm btn-success" data-table-edit><i class="fa fa-pencil" alt="Editar"></i></button><button class="btn btn-sm btn-danger" data-table-delete alt="Excluir"><i class="fa fa-trash-o"></i></button></td>';
                html += '</tr>';

                $('table#table' + id + ' tbody').append(html);
                $('table#table' + id + ' tbody tr:last').data('sgq', o);

            });

            this.showTableParMultipleValues();
        },

        prepareParHeaderField: function (obj) {
            let formdata = $('#' + this.id + ' [data-form]').serializeFormToObjetc();

            if (typeof (obj) == 'undefined')
                obj = {};

            obj['Name'] = formdata.Name;
            obj['Duplicate'] = formdata.Duplicate;
            obj['Description'] = formdata.Description;
            obj['ParLevelDefinition_Id'] = formdata.ParLevelDefinition_Id;
            obj['ParFieldType_Id'] = formdata.ParFieldType_Id;
            
            obj['Generic_Id'] = $('[name="ParDepartment_Id"][data-id]').val();

            return obj;
        },

        prepareToInsert: function (parFieldType_Id) {

            if (!formIsValid(this.id)) {
                return false;
            }

            let $TblParMultipeValues;

            var obj = $('#' + this.id + ' [data-form]').data('sgq');

            if (typeof (obj) == 'undefined')
                obj = {};

            if (typeof (obj) == 'undefined')
                obj = {};

            if (typeof (obj['ParMultipleValuesGeral']) == 'undefined')
                obj['ParMultipleValuesGeral'] = [];

            switch (parFieldType_Id) {

                case 1: // Multipla Escolha

                    $TblParMultipeValues = $('#tblOpcaoMultiplaEscolhaDepartmentxHeader');

                    obj['ParMultipleValuesGeral'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParDCCabecalho #Name').val(),
                        Id: 0,
                        Name: $TblParMultipeValues.find('#objMultiplaEscolhaNameDepartmentxHeader').val(),
                        Description: '',
                        PunishmentValue: 0, //$TblParMultipeValues.find('#objMultiplaEscolhaPunishmentValueDepartmentxHeader').val(),
                        Conformity: 0,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    $TblParMultipeValues.find('#objMultiplaEscolhaNameDepartmentxHeader').val('');

                    break;

                case 3:	// Binario

                    if ($.grep(obj['ParMultipleValuesGeral'], function (o, i) {
                        return o.IsActive == true;
                    }).length > 0) {

                        openMessageModal("Alerta", "Já existem opções inseridas para este campo de cabeçalho")
                        return false;
                    }

                    $TblParMultipeValues = $('#tblBinarioDepartmentxHeader');

                    obj['ParMultipleValuesGeral'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParDCCabecalho #Name').val(),
                        Id: 0,
                        Name: $TblParMultipeValues.find('#objBinarioPunishmentName1DepartmentxHeader').val(),
                        Description: '',
                        PunishmentValue: 0, //$TblParMultipeValues.find('#objBinarioPunishmentValue1DepartmentxHeader').val(),
                        Conformity: 1,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    obj['ParMultipleValuesGeral'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParDCCabecalho #Name').val(),
                        Name: $TblParMultipeValues.find('#objBinarioPunishmentName2DepartmentxHeader').val(),
                        Id: 0,
                        Description: '',
                        PunishmentValue: 0, //$TblParMultipeValues.find('#objBinarioPunishmentValue2DepartmentxHeader').val(),
                        Conformity: 0,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    break;

                default:
            }

            $('#' + this.id + ' [data-form]').data('sgq', obj);

            this.insertTable(obj);

        },

        insertTable: function (obj) {
            
            //pega os dados do form e transforma em obj
            obj = parDCCabecalho.prepareParHeaderField(obj);

            $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();

            let multipleValues = obj['ParMultipleValuesGeral'];
            let blockParFieldType = false;

            multipleValues.forEach((o, i) => {

                if (o.IsActive) {
                    let table = `<tr>
                            <td>${o.Name}</td>        
                            <td>${o.IsDefaultOption == true ? Resources("yes") : Resources("no")}</td>
                            <td><button type="button" class ="btn btn-danger btn-xs" name="" onclick="parDCCabecalho.excludeTable(${i})"><i class ="fa fa-times"></i></button></td>
                          </tr>`;

                    $('#camposCabecalhoIncluidosDepartmentxHeader tbody').append(table);

                    blockParFieldType = true;
                }
            });

            if (blockParFieldType)
                $('#selectL1ParFieldTypeDepartment').prop("disabled", true);
            else
                $('#selectL1ParFieldTypeDepartment').prop("disabled", false);

            this.showTableParMultipleValues();
        },

        showTableParMultipleValues: function () {

            if ($('#camposCabecalhoIncluidosDepartmentxHeader tbody tr').length) {
                $('#divCamposCabecalhoIncluidosDepartmentxHeader').show();
            } else {
                $('#divCamposCabecalhoIncluidosDepartmentxHeader').hide();
            }

        },

        reloadTable: function () {
            $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();
        },

        excludeTable: function (i) {
            var obj = $('#' + this.id + ' [data-form]').data('sgq');
            $("#modalExclusao").show();

            $("#excluirItem").off().on('click', function () {
                if (obj) {
                    if (obj.ParFieldType_Id == 3) //Se for binário, exclui todos os ParMultipleValues
                        obj.ParMultipleValuesGeral.forEach((o, i, a) => {
                            a[i].IsActive = false;
                        });
                    else
                        obj['ParMultipleValuesGeral'][i].IsActive = false;

                    parDCCabecalho.insertTable(obj);

                } else {
                    $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();
                    $('#divCamposCabecalhoIncluidosDepartmentxHeader').hide();
                }
                $("#modalExclusao").hide();
                item = "";
            });
        },

        Save: function (obj) {

            openLoader(Resources("please_wait"));
            $.ajax({
                url: parDCCabecalho.urlSave,
                type: 'POST',
                dataType: "json",
                data: JSON.stringify(obj),
                contentType: "application/json",
                success: function (data) {
                    closeLoader();
                    openMessageModal("Feito", "Dados Salvos");
                    $('#selectDCDepartment').trigger('change');

                },
                error: function (request, error) {
                    openMessageModal("Ocorreu um erro", JSON.stringify(request));
                    console.log(error)
                }

            }).done(function () {
                closeLoader();
                $('#tableParDCCabecalho select,#tableParDCCabecalho input,#tableParDCCabecalho button').prop('disabled', true);
                $('#' + parDCCabecalho.id + ' #divBtnCancelar').hide();
            });

        }

    };

    $('#' + parDCCabecalho.id).off('click');

    //Adicionar os dados no data-form
    $('#' + parDCCabecalho.id).on('click', '[data-table-edit]', function (e) {
        scrollToForm();
        var obj = $(this).parents('tr').data('sgq');

        apagaCampos(parDCCabecalho.id);
        parDCCabecalho.reloadTable();
        preencheCampos(parDCCabecalho.id + ' [data-form]', '', obj);

        $('#' + parDCCabecalho.id + ' [data-form] select[name="ParLevelDefinition_Id"]').val(obj.ParLevelDefinition_Id);
        $('#' + parDCCabecalho.id + ' [data-form] select[name="ParLevelDefinition_Id"]').trigger('change')

        $('#' + parDCCabecalho.id + ' [data-form] select[name="ParFieldType_Id"]').val(obj.ParFieldType_Id);
        $('#' + parDCCabecalho.id + ' [data-form] select[name="ParFieldType_Id"]').trigger('change')

        $('#' + parDCCabecalho.id + ' [data-form] input[name="Name"]').val(obj.Name);
        $('#' + parDCCabecalho.id + ' [data-form] input[name="Description"]').val(obj.Description);

        $('#' + parDCCabecalho.id + ' [data-form]').data('sgq', obj);
        $('#' + parDCCabecalho.id + ' [data-form]').addClass('alert alert-success');
        $('#' + parDCCabecalho.id + ' [data-form] [data-action] [data-add]').addClass('hide');
        $('#' + parDCCabecalho.id + ' #divBtnCancelar').show();

        parDCCabecalho.insertTable(obj);

        $('#' + parDCCabecalho.id + ' [data-form] [data-action]').append('<button class="form-control btn btn-success" data-edit>Editar</button>');
        $('#' + parDCCabecalho.id + ' [data-form] [data-action]').append('<button class="form-control btn btn-danger" data-cancel>x</button>');

        $('#tableParDCCabecalho select,#tableParDCCabecalho input,#tableParDCCabecalho button').prop('disabled', true);

    });

    //Adicionar os dados no data-form
    $('#' + parDCCabecalho.id).on('click', '[data-table-delete]', function (e) {
        e.preventDefault();
        var obj = $(this).parents('tr').data('sgq');
        $("#modalExclusao").show();

        $("#excluirItem").off().on('click', function () {
            obj.IsActive = false;
            parDCCabecalho.Save(obj);
            $("#modalExclusao").hide();
            obj = "";
        });
    });

    $(".fecharModal").on('click', function () {
        $("#modalExclusao").hide();
        obj = "";
    });


    $('#' + parDCCabecalho.id).on('click', '[data-cancel]', function (e) {
        apagaCampos(parDCCabecalho.id);
        parDCCabecalho.reloadTable();
    });

    //Salvar o campo editado ou cria um novo
    $('#' + parDCCabecalho.id).on('click', '[data-edit],[data-add]', function (e) {

        $('#objMultiplaEscolhaDepartmentxHeader').hide();
        $('#objBinarioDepartmentxHeader').hide();

        var obj = $('#' + parDCCabecalho.id + ' [data-form]').data('sgq');
        var formdata = $('#' + parDCCabecalho.id + ' [data-form]').serializeFormToObjetc();

        if (!(typeof (obj) == 'undefined')) {
            obj = atualizaValoresDoObjeto(obj, formdata);
            obj.ParLevel1_Id = $('#l1 [data-id]').val();
        } else {
            obj = null;
            obj = atualizaValoresDoObjeto(obj, formdata);
        }

        obj = parDCCabecalho.prepareParHeaderField(obj);

        if (optionIsValid(obj, parDCCabecalho.id)) {
            obj.ParDepartment_Id = $("#selectDCDepartment :selected").val();
            openLoader(Resources("please_wait"));
            parDCCabecalho.Save(obj);

        } else {
            $('#selectL1ParFieldTypeDepartment').trigger('change');
        }

    });

    $('#' + parDCCabecalho.id).on('change', '[name="IsRequired"]', function () {

        openLoader("Salvando...");

        //$('#' + parL1Cabecalho.id + ' input').prop('disabled', true);

        var obj = $(this).parents('tr').data('sgq');

        obj.IsRequired = !!$(this).prop('checked');

        parDCCabecalho.Save(obj);
    });

    $('#' + parDCCabecalho.id).on('click', '.defaultSelected', function () {

        var obj = $(this).parents('tr').data('sgq');

        let parMultipleValues_Id = parseInt($(this).parents('tr').find('select :selected').val());

        parMultipleValues_Id = parMultipleValues_Id ? parMultipleValues_Id : null;

        obj.ParMultipleValuesGeral.forEach((o, i, a) => {
            a[i].IsDefaultOption = 0;

            if (o.Id == parMultipleValues_Id) {
                a[i].IsDefaultOption = 1;
            }
        });

        parDCCabecalho.Save(obj);
    });

    $('#' + parDCCabecalho.id).on('click', ' [data-add-cancel] ', function () {
        $('#selectDCDepartment').trigger('change');
        $(this).parent().hide();
    });

    let getPreviewDepartmentHeaderField = function (headerField) {

        let input = "";

        switch (headerField.ParFieldType_Id) {

            case 1: // Multipla Escolha
            case 3:	// Binario

                let options = '<option>Selecione...</option>';

                headerField.ParMultipleValuesGeral.forEach((o) => {
                    options += `<option value="${o.Id}" ${(o.IsDefaultOption ? "selected" : "")}>${o.Name}</option>`;
                });

                input = '<select class="form-control">' + options + '</select>';

                break;

            case 2:	// Integrações
                input = "";
                break;

            case 4:	// Texto
            case 9:	// Parâmetro
                input = '<input type="text" class="form-control">';
                break;

            case 5:	// Numerico
                input = '<input type="number" class="form-control">';
                break;

            case 6:	// Data
                input = '<input type="date" class="form-control">';
                break;

            case 7:	// Hora
                input = '<input type="time" class="form-control" />';
                break;

            case 8:	// Informações
                input = `<input type="text" value='${headerField.Description}' class="form-control" disabled />`;
                break;

            case 10: //Dinâmico
                input = '<input type="text" class="form-control" disabled />';
                break;

            default:
        }

        return input;
    }

    let getDefaultSelectedHeaderField = function () {

        return `<button type="button" onclick="" class="btn btn-default btn-sm defaultSelected"><i class="fa fa-check" aria-hidden="true"></i></button>`;

    }

    $('#selectL1ParFieldTypeDepartment').on("change", function () {
        
        hideAllOptionsDepartment();

        //limpar arr ParMultipleValues?

        let parFieldType_Id = parseInt($(this).val());

        switch (parFieldType_Id) {

            case 1: // Multipla Escolha
                $('#objMultiplaEscolhaDepartmentxHeader').show();
                break;

            case 3:	// Binario
                $('#objBinarioDepartmentxHeader').show();
                break;

            case 8:	// Informações
                $('#objWithDescriptionDepartmentxHeader').show();
                //Inserir direto
                break;

            case 9:	// Parâmetro
                $('#objWithDescriptionDepartmentxHeader').show();
                //Inserir direto
                break;

            case 10: //Dinâmico
                $('#objWithDescriptionDepartmentxHeader').show();
                //Inserir direto
                break;

            default:
        }

    });

    var hideAllOptionsDepartment = function () {

        $('#objMultiplaEscolhaDepartmentxHeader').hide();
        $('#objBinarioDepartmentxHeader').hide();
        $('#objInformacoes').hide();
        $('#objWithDescriptionDepartmentxHeader').hide();

    }

</script>
