<h4>Campos de Cabeçalho</h4>

<form id="ParL1Cabecalho">

    <br />
    <div class="row" data-form>

        <div class="col-sm-3">

            <input type="hidden" name="ParLevel1_Id" data-id />
            <input type="hidden" name="Id" />
            <input type="hidden" name="IsActive" value="true" data-notnull />

            <div class="form-group">
                <label for="ParCluster_Id">Nível do campo:</label>
                <select id="selectL1ParLevelDefiniton" class="input input-lg col-sm-12" name="ParLevelDefinition_Id"></select>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="form-group">
                <label for="ParCriticalLevel_Id">Tipo:</label>
                <select id="selectL1ParFieldType" class="input input-lg col-sm-12" name="ParFieldType_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="EffectiveDate">Nome do campo:</label>
                <input type="text" class="form-control" id="Name" name="Name" autocomplete="off">
            </div>

        </div>

        @*<div class="col-sm-1">

                <div class="form-group" data-action>
                    <label></label>
                    <button class="form-control btn btn-primary" data-add>+</button>
                </div>

            </div>*@

        <div id="allObjCamposCabecalho" class="col-sm-12">

            <div id="objMultiplaEscolha" style="display:none;" class="margin-top">
                <table id="tblOpcaoMultiplaEscolha">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp " colspan="0" style="">
                                <label for="Op__o">Opção</label>
                                <div>
                                    <input class="form-control input-sm text-box single-line" id="objMultiplaEscolhaName" name="objMultiplaEscolhaName" style="max-width: 200px;" type="text" value="">
                                </div>
                                <span id="multiplaEscolhaNameCabecalho" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Opção deve ser preenchido para o Cabeçalho.</span>
                                </span>
                            </td>
                            <td class="td-erp " style="">
                                <label for="Valor_da_puni__o">Valor da punição</label>
                                <div class="input-group">
                                    <input class="form-control input-sm notAllowNegative text-box single-line" id="objMultiplaEscolhaPunishmentValue" min="0" name="objMultiplaEscolhaPunishmentValue" style="max-width: 200px;" type="number" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="includeTableToSave" onclick="parL1Cabecalho.prepareToInsert(1);">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <span id="multiplaEscolhaPunishmentValueCabecalho" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabeçalho.</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objBinario" style="display:none;">
                <table id="tblBinario">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp"></td>
                            <td class="td-erp"><label for="Valor">Valor</label> </td>
                            <td class="td-erp"><label for="Valor_da_puni__o">Valor da punição</label>  <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Define o valor de punição e/ou premiação atribuído às opções conforme o cadastro anterior" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i></td>
                        </tr>
                        <tr class="row" id="positivo">
                            <td class="td-erp"><label for="Positivo">Positivo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName1" class="form-control input-sm">
                                <span id="punishmentNameCabecalho1" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <input type="number" id="objBinarioPunishmentValue1" class="form-control input-sm" value="0">
                                <span id="punishmentValueCabecalho1" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>
                        </tr>
                        <tr class="row" id="negativo">
                            <td class="td-erp"><label for="Negativo">Negativo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName2" class="form-control input-sm">
                                <span id="punishmentNameCabecalho2" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <input type="number" id="objBinarioPunishmentValue2" class="form-control input-sm" value="0">
                                <span id="punishmentValueCabecalho2" style="Display:none" class="text - danger field - validation - error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm margin-button" type="button" id="" onclick=""><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objTexto" style="display:none;">
                <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Texto" id="btnIncluirTexto" onclick="" style="display: none;">
                <button class="form-control btn btn-primary" data-add>Salvar</button>
            </div>


            <div id="objNumerico" style="display:none;">
                <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Numerico" id="btnIncluirNumerico" onclick="" style="display: none;">
                <button class="form-control btn btn-primary" data-add>Salvar</button>
            </div>


            <div id="objData" style="display:none;">
                <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Data" id="btnIncluirData" onclick="" style="display: none;">
                <button class="form-control btn btn-primary" data-add>Salvar</button>
            </div>


            <div id="objHora" style="display:none;">
                <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Hora" id="btnIncluirHora" onclick="" style="display: none;">
                <button class="form-control btn btn-primary" data-add>Salvar</button>
            </div>


            <div id="objIntegracoes" style="display:none;">
                <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Integrações" id="btn ntegracoes" onclick="">
            </div>


            <div id="objParametro" style="display:none;" class="margin-top">
                <table id="tblParametro">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp " style="">
                                <label for="ID">ID</label>
                                <div class="input-group">
                                    <input class="form-control input-sm text-box single-line" id="objParametroName" name="objParametroName" style="max-width: 200px;" type="text" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="btnIncluirParametro" onclick="">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objDinamico" style="display:none;" class="margin-top">
                <table id="tblDinamico">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp " style="">
                                <label for="ID">ID</label>
                                <div class="input-group">
                                    <input class="form-control input-sm text-box single-line" id="objDinamicoName" name="objDinamicoName" style="max-width: 200px;" type="text" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="btnIncluirDinamico" onclick="">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div id="objInformacoes" style="display:none;">

                <label for="Valor_do_Texto">Valor do Texto</label>:
                <input type="text" id="objInformacoesTextValue">
                <button class="form-control btn btn-primary" data-add>Salvar</button>

            </div>

            <div id="divCamposCabecalhoIncluidos" style="display:none">
                <table id="camposCabecalhoIncluidos" class="table" role="grid">
                    <thead>
                        <tr role="row">
                            <th>Nível do campo</th>
                            <th>Nome</th>
                            @*<th>Vinculado</th>*@
                            <th>Tipo</th>
                            <th>Opções</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button class="form-control btn btn-primary" data-add>Salvar</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tableParL1Cabecalho" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">
                            Nível do campo
                        </th>
                        <th class="col-sm-2">
                            Nome
                        </th>
                        <th class="col-sm-2">
                            Tipo
                        </th>
                        <th class="col-sm-2">
                            Vizualização
                        </th>
                        <th class="col-sm-1">
                            Obrigatório
                        </th>
                        <th class="col-sm-1">
                            padrão
                        </th>
                        <th class="col-sm-2">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>

<script>

    var parL1Cabecalho = {

        //paramtros
        id: 'ParL1Cabecalho',
        urlSave: '@Url.Action("PostParHeaderField", "api/ParLevel1Api")',

        load: function (ParLevel1XHeaderFields) {

            let id = this.id;
            let urlSave = this.urlSave;

            apagaCampos(id);

            $('table#table' + id + ' tbody').html('');           

            $(ParLevel1XHeaderFields).each(function (i, o) {
             
                let previewHeaderField = getPreviewHeaderField(o.ParHeaderField);
                let defaultSelected = "";

                if (o.ParHeaderField.ParFieldType_Id == 1)
                    defaultSelected = getDefaultSelected();

                let isChecked = o.IsRequired ? "checked" : "";

                var html = '<tr>';
                html += '<td>' + o.ParHeaderField.ParLevelDefiniton.Name + '</td>';
                html += '<td>' + o.ParHeaderField.Name + '</td>';
                html += '<td>' + o.ParHeaderField.ParFieldType.Name + '</td>';
                html += '<td>' + previewHeaderField + '</td>';
                html += '<td><div class=""><label class="switch"><input type="checkbox" name="HasTakePhoto"' + isChecked + ' ><span class="slider round"></span> </label></div></td>';
                html += '<td>' + defaultSelected + '</input></td>';
                html += '<td><button class="btn btn-sm btn-success" data-table-edit><i class="fa fa-pencil" alt="Editar"></i></button><button class="btn btn-sm btn-danger" data-table-delete alt="Excluir"><i class="fa fa-trash-o"></i></button></td>';
                html += '</tr>';

                $('table#table' + id + ' tbody').append(html);
                $('table#table' + id + ' tbody tr:last').data('sgq', o);

            });

            function Save(obj) {

                $.ajax({
                    url: urlSave,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {
                        openMessageModal("Feito", "Dados Salvos");
                        $('#selectL1').trigger('change');
                        closeLoader();

                    },
                    error: function (request, error) {
                        closeLoader();
                        openMessageModal("Ocorreu um erro", JSON.stringify(request));
                        console.log(error)
                    }
                });
            }

            $('#' + id).off('click');

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-edit]', function (e) {

                var obj = $(this).parents('tr').data('sgq');

                apagaCampos(id);
                preencheCampos(id + ' [data-form]', '', obj);

                $('#' + id + ' [data-form]').data('sgq', obj);
                $('#' + id + ' [data-form]').addClass('alert alert-success');
                $('#' + id + ' [data-form] [data-action] [data-add]').addClass('hide');

                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-success" data-edit>Editar</button>');
                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-danger" data-cancel>x</button>');

            });

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-delete]', function (e) {
                var obj = $(this).parents('tr').data('sgq');
                obj.IsActive = false;
                Save(obj);
            });

            $('#' + id).on('click', '[data-cancel]', function (e) {
                apagaCampos(id);
            });

            //Salvar o campo editado ou cria um novo
            $('#' + id).on('click', '[data-edit],[data-add]', function (e) {
                openLoader();
                var obj = $('#' + id + ' [data-form]').data('sgq');
                var formdata = $('#' + id + ' [data-form]').serializeFormToObjetc();

                if (!(typeof (obj) == 'undefined'))
                    atualizaValoresDoObjeto(obj, formdata);
                else
                    obj = formdata;

                obj['ParMultipleValues'] = [];

                if ($('#camposCabecalhoIncluidos tbody tr').length > 0)
                    $('#camposCabecalhoIncluidos tbody tr').each(function (i, o) {
                        obj['ParMultipleValues'].push($(o).data('sgq'))
                    });

                Save({ ParLevel1_Id: $('#Id').val(), ParHeaderField: obj });
            });

            this.showTableParMultipleValues();
        },

        prepareToInsert: function (parFieldType_Id) {

            let arrToInsert = [];
            let $Renan;

            switch (parFieldType_Id) {

                case 1: // Multipla Escolha

                    $Renan = $('#tblOpcaoMultiplaEscolha');

                    arrToInsert.push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Id: 0,
                        Name: $Renan.find('#objMultiplaEscolhaName').val(),
                        Description: '',
                        PunishmentValue: $Renan.find('#objMultiplaEscolhaPunishmentValue').val(),
                        Conformity: 0,
                        IsDefaultOption: 0
                    });

                    break;

                case 3:	// Binario

                    $Renan = $('#tblOpcaoMultiplaEscolha');

                    arrToInsert.push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Id: 0,
                        Name: $Renan.find('#objBinarioPunishmentName1').val(),
                        Description: '',
                        PunishmentValue: $Renan.find('#objBinarioPunishmentValue1').val(),
                        Conformity: 1,
                        IsDefaultOption: 0
                    });

                    arrToInsert.push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Name: $Renan.find('#objBinarioPunishmentName2').val(),
                        Id: 0,
                        Description: '',
                        PunishmentValue: $Renan.find('#objBinarioPunishmentValue2').val(),
                        Conformity: 0,
                        IsDefaultOption: 0
                    });

                    break;

                default:
            }

            this.insertTable(arrToInsert);

        },

        insertTable: function (arrToInsert) {

            let table = "";

            arrToInsert.forEach((o) => {

                table += `<tr>
                            <td>${o.ParLevelDefiniton}</td>
                            <td>${o.ParHeaderField}</td>
                            <td>${o.PunishmentValue}</td>
                            <td>${o.Name}</td>
                            <td>${o.IsDefaultOption}</td>
                            <td><button type="button" class="btn btn-danger btn-xs" name="" onclick="parL1Cabecalho.excludeTable()"><i class="fa fa-times"></i></button></td>
                          </tr>`;

                $('#camposCabecalhoIncluidos tbody').append(table);
                $('#camposCabecalhoIncluidos tbody tr:last').data('sgq', o);
            });

            this.showTableParMultipleValues();
        },

        showTableParMultipleValues: function () {

            if ($('#camposCabecalhoIncluidos tbody tr').length) {
                $('#divCamposCabecalhoIncluidos').show();
            } else {
                $('#divCamposCabecalhoIncluidos').hide();
            }

        },

        excludeTable: function () {
            var obj = $(this).parents('tr').data('sgq');
            obj.IsActive = false;
        }

    };

    let getPreviewHeaderField = function (headerField) {

        let input = "";

        switch (headerField.ParFieldType_Id) {

            case 1: // Multipla Escolha
            case 3:	// Binario

                let options = '<option>Selecione...</option>';

                headerField.ParMultipleValues.forEach((o) => {
                    options += `<option value="${ o.Id }" ${(o.IsDefaultOption ? "selected" : "")}>${o.Name}</option>`;
                });

                input = '<select class="form-control">' + options + '</select>';

                break;

            case 2:	// Integrações
                input = "";
                break;

            case 4:	// Texto
            case 9:	// Parâmetro
                input = '<input type="text" class="form-control">';
                break;

            case 5:	// Numerico
                input = '<input type="number" class="form-control">';
                break;

            case 6:	// Data
                input = '<input type="date" class="form-control">';
                break;

            case 7:	// Hora
                input = '<input type="time" class="form-control" />';
                break;

            case 8:	// Informações
                break;

            case 10: //Dinâmico
                input = '<input type="text" class="form-control" disabled />';
                break;

            default:
        }

        return input;
    }

    let getDefaultSelected = function () {

        return `<button type="button" onclick="" class="btn btn-default btn-sm"><i class="fa fa-check" aria-hidden="true"></i></button>`;

    }

    $('#selectL1ParFieldType').on("change", function () {

        hideAllOptions();

        //limpar arr ParMultipleValues?

        let parFieldType_Id = parseInt($(this).val());

        switch (parFieldType_Id) {

            case 1: // Multipla Escolha
                $('#objMultiplaEscolha').show();
                break;

            case 2:	// Integrações
                $('#objIntegracoes').show();
                break;

            case 3:	// Binario
                $('#objBinario').show();
                break;

            case 4:	// Texto
                $('#objTexto').show();
                //Inserir direto
                break;

            case 5:	// Numerico
                $('#objNumerico').show();
                //Inserir direto
                break;

            case 6:	// Data
                $('#objData').show();
                //Inserir direto
                break;

            case 7:	// Hora
                $('#objHora').show();
                //Inserir direto
                break;

            case 8:	// Informações
                $('#objInformacoes').show();
                //Inserir direto
                break;

            case 9:	// Parâmetro
                $('#objParametro').show();
                //Inserir direto
                break;

            case 10: //Dinâmico
                $('#objDinamico').show();
                //Inserir direto
                break;

            default:
        }

    });

    let hideAllOptions = function(){

        $('#objMultiplaEscolha').hide();
        $('#objBinario').hide();
        $('#objTexto').hide();
        $('#objNumerico').hide();
        $('#objData').hide();
        $('#objHora').hide();
        $('#objIntegracoes').hide();
        $('#objParametro').hide();
        $('#objDinamico').hide();
        $('#objInformacoes').hide();

    }

</script>