<h4>Itens Avançados</h4>

<form>

    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Limitar o número de avaliações
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Permitir tirar foto nas tarefas
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Está ativo
                </label>
            </div>
        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block">Salvar</button>

        </div>
    </div>

</form>