<h4>Informações Gerais</h4>

<form id="ParL1Geral">

    <br />
    <div class="row">

        <div class="col-sm-6">

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" id="Id" name="Id" style="display:none">
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Tipo de consolidação:</label>
                <select class="form-control" id="selectParConsolidation" name="ParConsolidationType_Id"></select>
            </div>
        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Frequencia:</label>
                <select class="form-control" id="selectParFrequency" name="ParFrequency_Id"></select>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Tipo scorecard:</label>
                <select class="form-control" id="selectParScoreType" name="ParScoreType_Id"></select>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Está ativo:</label>
                <br />
                <label class="switch">
                    <input type="checkbox" name="IsActive">
                    <span class="slider round"></span>
                </label>
            </div>

        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block" onclick="save(1);">Salvar</button>

        </div>
    </div>

</form>

<script>
    @*$("body").on("submit", "form#ParL1Geral", function (event) {
        var form = [];
        $($(this).find('input')).each(function (i, o) {
            form.push(
                {
                    "Identificador": $(o).attr('name'),
                    "MEPropriedadeXGadget_Id": $(o).attr('data-prop-gadget'),
                    "MEParametroXCubo_Id": $(o).attr('data-param-cubo'),
                    "Valore": $(o).val(),
                }
            );
        });

        $.ajax({
            url: '@Url.Action("PostValues", "api/MESketchXGadgets")',
            type: 'Post',
            dataType: "json",
            data: JSON.stringify(form),
            contentType: "application/json",
            success: function (data) {
                alert('cadastro realizado com sucesso');
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
        event.preventDefault();
    });*@
</script>