<h4>Informações Gerais</h4>

<form id="ParL1Geral">

    <br />
    <div class="row">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="Name">Nome:</label>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="Description">Descrição:</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div>

        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block">Salvar</button>

        </div>
    </div>

</form>