<h4>Informações Gerais</h4>

<form id="ParL3Geral">

    <br />
    <div class="row" data-form>
        <div class="col-sm-6">

            <div class="form-group">
                <label for="Name">Nome:</label>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="Description">Descrição:</label>
                <input type="text" class="form-control" id="Description" name="Description">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label>Está ativo:</label>
                <br />
                <label class="switch">
                    <input type="checkbox" name="IsActive">
                    <span class="slider round"></span>
                </label>
            </div>

        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block" data-add>Salvar</button>

        </div>
    </div>

</form>

<script>
    var ParL3Geral = {

        //paramtros
        id: 'ParL3Geral',
        urlSave: '@Url.Action("PostParLevel3", "api/ParLevel3Api")',

        set: function (obj) {
            $('#' + this.id + ' [data-form]').data('sgq', obj);
        },

        load: function () {

            let id = this.id;
            let urlSave = this.urlSave;

            function Save(obj) {

                $.ajax({
                    url: urlSave,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {
                        openMessageModal("Feito", "Dados Salvos");
                        $('#selectL3').trigger('change');
                        closeLoader();

                    },
                    error: function (request, error) {
                        closeLoader();
                        openMessageModal("Ocorreu um erro", JSON.stringify(request));
                        console.log(error)
                    }
                });
            }

            //Salvar o campo editado ou cria um novo
            $('#' + id).on('click', '[data-add]', function (e) {
                openLoader();
                var obj = $('#' + id + ' [data-form]').data('sgq');
                var formdata = $('#' + id + ' [data-form]').serializeFormToObjetc();

                if (!(typeof (obj) == 'undefined')) {
                    obj = atualizaValoresDoObjeto(obj, formdata);
                } else {
                    obj = null;
                    obj = atualizaValoresDoObjeto(obj, formdata);
                }

                Save(obj);
            });
        },
    };
    ParL3Geral.load();
</script>