<h3 class="titulo2">Grupo de Qualificação</h3>

<form id="ParL3Qualification">

    <br />
    <div class="row" data-form>

        <div class="col-sm-12">

            <input type="hidden" name="ParLevel3Value_Id" id="ParLevel3Value_Id" data-notnull />
            <input type="hidden" name="IsActive" value="true" data-notnull />

        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label for="PargroupQualification_Id">Grupo de Qualificação:</label>
                <select id="select3Qualification" class="input input-lg col-sm-12 required" name="PargroupQualification_Id"></select>
            </div>
        </div>

        <div class="col-sm-5">

            <div class="form-group">
                <label>Valor Padrão</label>
                <select id="selectL3QualificationValue" class="input input-sm col-sm-12" name="Value">
                    <option value="1">Valor Positivo</option>
                    <option value="0">Valor Negativo</option>
                </select>
            </div>

        </div>

        <div class="col-sm-12">

            <div class="form-group" data-action>
                <div id="divBtnSalvar" class="col-sm-5">
                    <button class="form-control btn btn-primary" data-add>Salvar</button>
                </div>

                <div id="divBtnCancelar" class="col-sm-6" style="display:none">
                    <button class="form-control btn btn-default" data-add-cancel>Cancelar</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <table id="tableParL3Qualification" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-3">
                            Grupo de Qualificação
                        </th>
                        <th class="col-sm-3">
                            Valor
                        </th>
                        <th class="col-sm-3">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>

<script>

    function closeModalQualification() {

        $("#modalQualification").hide();
    }

    var ParL3Qualification = {

        //paramtros
        id: 'ParL3Qualification',
        urlSave: '@Url.Action("PostPargroupQualificationXParLevel3Value", "api/ParLevel3Api")',

        load: function (list) {
            let id = this.id;
            
            apagaCampos(id);

            $('table#table' + id + ' tbody').html('');

            $(list).each(function (i, o) {
                var html = '<tr>';
                html += '<td>' + valorDoSelect('#ParL3Qualification select[name="PargroupQualification_Id"]', o.PargroupQualification_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Qualification select[name="Value"]', o.Value, 'Todos') + '</td>';
                html += '<td><button class="btn btn-sm btn-success" data-table-edit><i class="fa fa-pencil" alt="Editar"></i></button><button class="btn btn-sm btn-danger" data-table-delete alt="Excluir"><i class="fa fa-trash-o"></i></button></td>';
                html += '</tr>';

                $('table#table' + id + ' tbody').append(html);
                $('table#table' + id + ' tbody tr:last').data('sgq', o);
            });

            $('#' + id + ' #divBtnCancelar').hide();
        },

        prepareParHeaderField: function (obj) {
            let formdata = $('#' + this.id + ' [data-form]').serializeFormToObjetc();

            if (typeof (obj) == 'undefined')
                obj = {};

            return obj;
        },

        prepareToInsert: function (parFieldType_Id) {

            if (!formIsValid(this.id)) {
                return false;
            }

            var obj = $('#' + this.id + ' [data-form]').data('sgq');

            if (typeof (obj) == 'undefined')
                obj = {};

            $('#' + this.id + ' [data-form]').data('sgq', obj);

            this.insertTable(obj);

        },

        insertTable: function (obj) {

            //pega os dados do form e transforma em obj
            obj = ParL3Qualification.prepareParHeaderField(obj);

            $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();

            let blockParFieldType = false;

            if (blockParFieldType)
                $('#selectL1ParFieldTypeDepartment').prop("disabled", true);
            else
                $('#selectL1ParFieldTypeDepartment').prop("disabled", false);

            this.showTableParMultipleValues();
        },

        reloadTable: function () {
            $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();
        },

        excludeTable: function (i) {
            var obj = $('#' + this.id + ' [data-form]').data('sgq');
            $("#modalExclusao").show();

            $("#excluirItem").off().on('click', function () {
                if (obj) {
                    if (obj.ParFieldTypeId == 3) //Se for binário, exclui todos os ParMultipleValues
                        obj.ParMultipleValuesGeral.forEach((o, i, a) => {
                            a[i].IsActive = false;
                        });
                    else
                        obj['ParMultipleValuesGeral'][i].IsActive = false;

                    ParL3Qualification.insertTable(obj);

                } else {
                    $('#camposCabecalhoIncluidosDepartmentxHeader tbody').empty();
                    $('#divCamposCabecalhoIncluidosDepartmentxHeader').hide();
                }
                $("#modalExclusao").hide();
                item = "";
            });
        },

        Save: function (form) {

            openLoader(Resources("please_wait"));
            $.ajax({
                url: ParL3Qualification.urlSave,
                type: 'POST',
                dataType: "json",
                data: JSON.stringify(form),
                contentType: "application/json",
                success: function (mensagem) {
                    if (mensagem != undefined && mensagem != null) {
                        openMessageModal("Alerta", "Já existe um vinculo salvo com os dados inseridos.");
                        closeLoader();
                    } else {
                        closeLoader();
                        openMessageModal("Feito", "Dados Salvos");
                        openQualificationModal($("#ParLevel3Value_Id").val());
                    }

                },
                error: function (request, error) {
                    
                    openMessageModal("Ocorreu um erro", JSON.stringify(request));
                    console.log(error)
                }

            }).done(function () {
                closeLoader();
                $('#' + ParL3Qualification.id + ' #divBtnCancelar').hide();
            });

        }

    };

    $('#' + ParL3Qualification.id).off('click');

    //Adicionar os dados no data-form
    $('#' + ParL3Qualification.id).on('click', '[data-table-edit]', function (e) {

        scrollToForm();
        var obj = $(this).parents('tr').data('sgq');

        apagaCampos(ParL3Qualification.id);
        ParL3Qualification.reloadTable();
        preencheCampos(ParL3Qualification.id + ' [data-form]', '', obj);

        $('#' + ParL3Qualification.id + ' [data-form] select[name="PargroupQualification_Id"]').val(obj.PargroupQualification_Id);
        $('#' + ParL3Qualification.id + ' [data-form] select[name="PargroupQualification_Id"]').trigger('change');

        $('#' + ParL3Qualification.id + ' [data-form] select[name="selectL3QualificationValue"]').val(obj.Value);
        $('#' + ParL3Qualification.id + ' [data-form] select[name="selectL3QualificationValue"]').trigger('change');

        $('#' + ParL3Qualification.id + ' [data-form]').data('sgq', obj);
        $('#' + ParL3Qualification.id + ' [data-form]').addClass('alert alert-success');
        $('#' + ParL3Qualification.id + ' #divBtnCancelar').show();

        ParL3Qualification.insertTable(obj);

        $('#tableParL3Qualification select,#tableParL3Qualification input,#tableParL3Qualification button').prop('disabled', true);

    });

    //Adicionar os dados no data-form
    $('#' + ParL3Qualification.id).on('click', '[data-table-delete]', function (e) {
        e.preventDefault();
        var obj = $(this).parents('tr').data('sgq');
        $("#modalExclusao").show();

        $("#excluirItem").off().on('click', function () {
            obj.IsActive = false;
            ParL3Qualification.Save(obj);
            $("#modalExclusao").hide();
            obj = "";
        });
    });

    $(".fecharModal").on('click', function () {
        $("#modalExclusao").hide();
        obj = "";
    });


    $('#' + ParL3Qualification.id).on('click', '[data-cancel]', function (e) {
        apagaCampos(ParL3Qualification.id);
        ParL3Qualification.reloadTable();
    });

    //Salvar o campo editado ou cria um novo
    $('#' + ParL3Qualification.id).on('click', '[data-edit],[data-add]', function (e) {
        var obj = $('#' + ParL3Qualification.id + ' [data-form]').data('sgq');
        var formdata = $('#' + ParL3Qualification.id + ' [data-form]').serializeFormToObjetc();

        if (!(typeof (obj) == 'undefined')) {
            obj = atualizaValoresDoObjeto(obj, formdata);
            obj.ParLevel1_Id = $('#l1 [data-id]').val();
        } else {
            obj = null;
            obj = atualizaValoresDoObjeto(obj, formdata);
        }

        if (optionIsValid(obj, ParL3Qualification.id)) {
            openLoader(Resources("please_wait"));
            ParL3Qualification.Save(obj);

        } else {
            $('#selectL1ParFieldTypeDepartment').trigger('change');
        }

    });

    $('#' + ParL3Qualification.id).on('change', '[name="IsRequired"]', function () {

        openLoader("Salvando...");

        //$('#' + parL1Cabecalho.id + ' input').prop('disabled', true);

        var obj = $(this).parents('tr').data('sgq');

        obj.IsRequired = !!$(this).prop('checked');

        ParL3Qualification.Save(obj);
    });

    $('#' + ParL3Qualification.id).on('click', ' [data-add-cancel] ', function () {
        openQualificationModal($("#ParLevel3Value_Id").val())
        $(this).parent().hide();
    });


    var hideAllOptionsDepartment = function () {

        $('#objMultiplaEscolhaDepartmentxHeader').hide();
        $('#objBinarioDepartmentxHeader').hide();
        $('#objInformacoes').hide();
        $('#objWithDescriptionDepartmentxHeader').hide();

    }

</script>
