<h4>Informações Gerais</h4>

<form id="ParL1Geral">

    <br />
    <div class="row">
        <div class="col-sm-6">

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="description">Descrição:</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="consolidationType_Id">Tipo de consolidação:</label>
                <input type="text" class="form-control" id="consolidationType_Id" name="consolidationType_Id">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="parFrequency_Id">Frequencia:</label>
                <input type="text" class="form-control" id="parFrequency_Id" name="parFrequency_Id">
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="scorecard_id">Tipo scorecard:</label>
                <input type="text" class="form-control" id="tiposcorecard" name="scorecard_id">
            </div>

        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block">Salvar</button>

        </div>
    </div>

</form>

<script>
    @*$("body").on("submit", "form#ParL1Geral", function (event) {
        var form = [];
        $($(this).find('input')).each(function (i, o) {
            form.push(
                {
                    "Identificador": $(o).attr('name'),
                    "MEPropriedadeXGadget_Id": $(o).attr('data-prop-gadget'),
                    "MEParametroXCubo_Id": $(o).attr('data-param-cubo'),
                    "Valore": $(o).val(),
                }
            );
        });

        $.ajax({
            url: '@Url.Action("PostValues", "api/MESketchXGadgets")',
            type: 'Post',
            dataType: "json",
            data: JSON.stringify(form),
            contentType: "application/json",
            success: function (data) {
                alert('cadastro realizado com sucesso');
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
        event.preventDefault();
    });*@
</script>