<h4>Itens Avançados</h4>

<form>

    <br />

    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-1">
                    <div class="">
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" name="IsLimitedEvaluetionNumber">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-11">
                    Limitar o número de avaliações
                </div>
            </div>


            <div class="row">
                <div class="col-sm-1">
                    <div class="">
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" name="HasTakePhoto">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-11">
                    Permitir tirar foto nas tarefas
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                    <div class="">
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" name="IsActive">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-11">
                    Está ativo
                </div>
            </div>
        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block">Salvar</button>

        </div>
    </div>

</form>