<h3 class="titulo2">Vinculo/Peso</h3>

<form id="ParL3Peso">

    <br />
    <div class="row" data-form>

        <div class="col-sm-4">

            <input type="hidden" name="ParLevel3_Id" data-id />
            <input type="hidden" name="IsActive" value="true" data-notnull />

            <div class="form-group">
                <label for="ParCompany_Id">Empresa:</label>
                <select id="selectL3PesoParCompany" class="input input-lg col-sm-12" name="ParCompany_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="ParLevel1_Id">Indicador:</label>
                <select id="selectL3PesoParLevel1" class="input input-lg col-sm-12 required" name="ParLevel1_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="ParLevel2_Id">Monitoramento:</label>
                <select id="selectL3PesoParLevel2" class="input input-lg col-sm-12 required" name="ParLevel2_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="ParDepartment_Id">Departamento:</label>
                <select id="selectL3PesoParDepartment" class="input input-lg col-sm-12" name="ParDepartment_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="ParGroupParLevel1_Id">Função:</label>
                <select id="selectL3PesoParGroupParLevel1" class="input input-lg col-sm-12 required" name="ParGroupParLevel1_Id"></select>
            </div>

        </div>

        @*<div class="col-sm-4">

            <div class="form-group">
                <label for="ParGroupParLevel1_Id">Grupo:</label>
                <select id="" class="input input-lg col-sm-12" name="ParLevel3Group_Id"></select>
            </div>

        </div>*@

        <div class="col-sm-4">

            <div class="form-group">
                <label for="ParCargo_Id">Cargo:</label>
                <select id="selectL3ParCargo" class="input input-lg col-sm-12" name="ParCargo_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="Peso">Peso:</label>
                <input type="text" class="form-control required" id="Peso" name="Peso">
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="Peso">Avaliação:</label>
                <input type="text" class="form-control required" id="Evaluation" name="Evaluation">
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="Peso">Amostra:</label>
                <input type="text" class="form-control required" id="Sample" name="Sample">
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="Frequencia">Frequência:</label>
                <select class="form-control required" id="selectParFrequencyAV" name="ParFrequencyId"></select>
            </div>

        </div>



        <div class="col-sm-2">

            <div class="form-group" data-action>
                <label></label>
                <button class="form-control btn btn-primary" data-add>+</button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tableParL3Peso" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">
                            Empresa
                        </th>
                        <th class="col-sm-2">
                            Indicador
                        </th>
                        <th class="col-sm-2">
                            Monitoramento
                        </th>
                        <th class="col-sm-2">
                            Departamento
                        </th>
                        <th class="col-sm-1">
                            Função
                        </th>
                        <th class="col-sm-1">
                            Cargo
                        </th>
                        <th class="col-sm-1">
                            Avaliação
                        </th>
                        <th class="col-sm-1">
                            Amostra
                        </th>
                        <th class="col-sm-1">
                            Frequência
                        </th>
                        <th class="col-sm-1">
                            Peso
                        </th>
                        <th class="col-sm-2">

                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>

<script>

    var ParL3Peso = {

        //paramtros
        id: 'ParL3Peso',
        urlSave: '@Url.Action("PostParVinculoPeso", "api/ParLevel3Api")',

        load: function (list) {
            debugger
            let id = this.id;
            let urlSave = this.urlSave;

            apagaCampos(id);

            $('table#table' + id + ' tbody').html('');
            $(list).each(function (i, o) {

                var html = '<tr>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParCompany_Id"]', o.ParCompany_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParLevel1_Id"]', o.ParLevel1_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParLevel2_Id"]', o.ParLevel2_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParDepartment_Id"]', o.ParDepartment_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParGroupParLevel1_Id"]', o.ParGroupParLevel1_Id, 'Todos') + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParCargo_Id"]', o.ParCargo_Id, 'Todos') + '</td>';
                html += '<td>' + o.Evaluation + '</td>';
                html += '<td>' + o.Sample + '</td>';
                html += '<td>' + valorDoSelect('#ParL3Peso select[name="ParFrequencyId"]', o.ParFrequencyId, 'Todos') + '</td>';
                html += '<td>' + o.Peso + '</td>';
                html += '<td><button class="btn btn-sm btn-success" data-table-edit><i class="fa fa-pencil" alt="Editar"></i></button><button class="btn btn-sm btn-danger" data-table-delete alt="Excluir"><i class="fa fa-trash-o"></i></button></td>';
                html += '</tr>';

                $('table#table' + id + ' tbody').append(html);
                $('table#table' + id + ' tbody tr:last').data('sgq', o);

            });

            function Save(obj) {

                $.ajax({
                    url: urlSave,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {
                        openMessageModal("Feito", "Dados Salvos");
                        $('#selectL3').trigger('change');
                        closeLoader();

                    },
                    error: function (request, error) {
                        closeLoader();
                        openMessageModal("Ocorreu um erro", JSON.stringify(request));
                        console.log(error)
                    }
                });
            }

            $('#' + id).off('click');

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-edit]', function (e) {

                var obj = $(this).parents('tr').data('sgq');

                apagaCampos(id);
                preencheCampos(id + ' [data-form]', '', obj);

                $('#' + id + ' [data-form]').data('sgq', obj);
                $('#' + id + ' [data-form]').addClass('alert alert-success');
                $('#' + id + ' [data-form] [data-action] [data-add]').addClass('hide');

                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-success" data-edit>Salvar</button>');
                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-danger" data-cancel>Cancelar</button>');

            });

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-delete]', function (e) {

                var r = confirm("Deseja Excluir?");

                if (r == false) {
                    return false;
                }

                var obj = $(this).parents('tr').data('sgq');
                obj.IsActive = false;
                Save(obj);
            });

            $('#' + id).on('click', '[data-cancel]', function (e) {
                apagaCampos(id);
            });

            //Salvar o campo editado ou cria um novo
            $('#' + id).on('click', '[data-edit],[data-add]', function (e) {

                if (!formIsValid(id)) {
                    return false
                }

                openLoader(Resources("please_wait"));
                var obj = $('#' + id + ' [data-form]').data('sgq');
                var formdata = $('#' + id + ' [data-form]').serializeFormToObjetc();

                if (!(typeof (obj) == 'undefined')) {
                    obj = atualizaValoresDoObjeto(obj, formdata);
                } else {
                    obj = null;
                    obj = atualizaValoresDoObjeto(obj, formdata);
                }

                Save(obj);
            });
        },
    };
</script>