<h4>Informações Gerais</h4>

<form id="ParL1Geral">

    <br />
    <div class="row">

        <div class="col-sm-6">

            <div class="form-group">
                <label for="selectL1Cluster">Cluster:</label>
                <select id="selectL1Cluster" class="input input-lg col-sm-12"></select>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

        </div>

        <div class="col-sm-12">

            <button class="btn btn-primary pull-right btn-lg btn-block">Salvar</button>

        </div>
    </div>

</form>