<h4>Campos de Cabeçalho</h4>

<form id="ParL1Cabecalho">

    <br />
    <div class="row" data-form>

        <div class="col-sm-3">

            <input type="hidden" name="ParHeaderField_Id" />
            <input type="hidden" name="ParLevel1_Id" data-id />
            <input type="hidden" name="Id" />
            <input type="hidden" name="IsActive" value="true" data-notnull />

            <div class="form-group">
                <label for="ParCluster_Id">Nível do campo:</label>
                <select id="selectL1ParLevelDefiniton" class="input input-lg col-sm-12 required" name="ParLevelDefinition_Id"></select>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="form-group">
                <label for="ParCriticalLevel_Id">Tipo:</label>
                <select id="selectL1ParFieldType" class="input input-lg col-sm-12 required" name="ParFieldType_Id"></select>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <label for="EffectiveDate">Nome do campo:</label>
                <input type="text" class="form-control required" id="Name" name="Name" autocomplete="off">
            </div>

        </div>

        <div id="allObjCamposCabecalho" class="col-sm-12">

            <div id="objMultiplaEscolha" style="display:none;" class="margin-top">
                <table id="tblOpcaoMultiplaEscolha">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp " colspan="0" style="">
                                <label for="Op__o">Opção</label>
                                <div>
                                    <input class="form-control input-sm text-box single-line required" id="objMultiplaEscolhaName" name="objMultiplaEscolhaName" style="max-width: 200px;" type="text" value="">
                                </div>
                                <span id="multiplaEscolhaNameCabecalho" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Opção deve ser preenchido para o Cabeçalho.</span>
                                </span>
                            </td>
                            <td class="td-erp " style="">
                                <label for="Valor_da_puni__o">Valor da punição</label>
                                <div class="input-group">
                                    <input class="form-control input-sm notAllowNegative text-box single-line required" id="objMultiplaEscolhaPunishmentValue" min="0" name="objMultiplaEscolhaPunishmentValue" style="max-width: 200px;" type="number" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary btn-sm" type="button" id="includeTableToSave" onclick="parL1Cabecalho.prepareToInsert(1);">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <span id="multiplaEscolhaPunishmentValueCabecalho" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true">
                                    <span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabeçalho.</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objBinario" style="display:none;">
                <table id="tblBinario">
                    <tbody>
                        <tr class="row">
                            <td class="td-erp"></td>
                            <td class="td-erp"><label for="Valor">Valor</label> </td>
                            <td class="td-erp"><label for="Valor_da_puni__o">Valor da punição</label>  <i class="fa fa-info-circle fa-lg text-primary popovers" data-container="body" data-trigger="hover" data-placement="bottom" data-content="Define o valor de punição e/ou premiação atribuído às opções conforme o cadastro anterior" aria-hidden="true" data-toggle="popover" data-original-title="" title=""></i></td>
                        </tr>
                        <tr class="row" id="positivo">
                            <td class="td-erp"><label for="Positivo">Positivo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName1" class="form-control input-sm required">
                                <span id="punishmentNameCabecalho1" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <input type="number" id="objBinarioPunishmentValue1" class="form-control input-sm required" value="0">
                                <span id="punishmentValueCabecalho1" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>
                        </tr>
                        <tr class="row" id="negativo">
                            <td class="td-erp"><label for="Negativo">Negativo</label> </td>
                            <td>
                                <input type="text" id="objBinarioPunishmentName2" class="form-control input-sm required">
                                <span id="punishmentNameCabecalho2" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Nome deve ser preechido para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <input type="number" id="objBinarioPunishmentValue2" class="form-control input-sm required" value="0">
                                <span id="punishmentValueCabecalho2" style="Display:none" class="text-danger field-validation-error" data-valmsg-for="" data-valmsg-replace="true"><span for="" class="">O campo Punição/Premiação deve ser selecionado para o Cabecalho.</span></span>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm margin-button" type="button" onclick="parL1Cabecalho.prepareToInsert(3);"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="objWithDescription" style="display:none;">

                <label for="Description">Valor</label>:
                <input type="text" name="Description" class="required">

            </div>

            <div id="divCamposCabecalhoIncluidos" style="display:none">
                <table id="camposCabecalhoIncluidos" class="table" role="grid">
                    <thead>
                        <tr role="row">
                            <th>Nível do campo</th>
                            <th>Nome</th>
                            @*<th>Vinculado</th>*@
                            <th>Tipo</th>
                            <th>Opções</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="row">
                <div class="td-erp">
                    <div id="divBtnSalvar" class="col-sm-6">
                        <button class="form-control btn btn-primary" data-add>Salvar</button>
                    </div>

                    <div id="divBtnCancelar" class="col-sm-6" style="display:none">
                        <button class="form-control btn btn-default" data-add-cancel>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tableParL1Cabecalho" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">
                            Nível do campo
                        </th>
                        <th class="col-sm-2">
                            Nome
                        </th>
                        <th class="col-sm-2">
                            Tipo
                        </th>
                        <th class="col-sm-2">
                            Visualização
                        </th>
                        <th class="col-sm-1">
                            Obrigatório
                        </th>
                        <th class="col-sm-1">
                            padrão
                        </th>
                        <th class="col-sm-2">
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>

<script>

    var parL1Cabecalho = {

        //paramtros
        id: 'ParL1Cabecalho',
        urlSave: '@Url.Action("PostParHeaderField", "api/ParLevel1Api")',

        load: function (ParLevel1XHeaderFields) {

            let id = this.id;
            let urlSave = this.urlSave;

            apagaCampos(id);
            parL1Cabecalho.reloadTable();

            $('table#table' + id + ' tbody').html('');
            $('#selectL1ParFieldType').prop("disabled", false);

            $(ParLevel1XHeaderFields).each(function (i, o) {


                let previewHeaderField = getPreviewHeaderField(o.ParHeaderField);
                let defaultSelected = "";

                if (o.ParHeaderField.ParFieldType_Id == 1)
                    defaultSelected = getDefaultSelected();

                let isChecked = o.IsRequired ? "checked" : "";

                var html = '<tr>';
                html += '<td>' + o.ParHeaderField.ParLevelDefiniton.Name + '</td>';
                html += '<td>' + o.ParHeaderField.Name + '</td>';
                html += '<td>' + o.ParHeaderField.ParFieldType.Name + '</td>';
                html += '<td>' + previewHeaderField + '</td>';
                html += '<td><div class=""><label class="switch"><input type="checkbox" name="HasTakePhoto"' + isChecked + ' ><span class="slider round"></span> </label></div></td>';
                html += '<td>' + defaultSelected + '</input></td>';
                html += '<td><button class="btn btn-sm btn-success" data-table-edit><i class="fa fa-pencil" alt="Editar"></i></button><button class="btn btn-sm btn-danger" data-table-delete alt="Excluir"><i class="fa fa-trash-o"></i></button></td>';
                html += '</tr>';

                $('table#table' + id + ' tbody').append(html);
                $('table#table' + id + ' tbody tr:last').data('sgq', o);

            });

            function Save(obj) {

                $.ajax({
                    url: urlSave,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(obj),
                    contentType: "application/json",
                    success: function (data) {
                        openMessageModal("Feito", "Dados Salvos");
                        $('#selectL1').trigger('change');
                        closeLoader();

                    },
                    error: function (request, error) {
                        closeLoader();
                        openMessageModal("Ocorreu um erro", JSON.stringify(request));
                        console.log(error)
                    }
                });
            }

            $('#' + id).off('click');

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-edit]', function (e) {

                var obj = $(this).parents('tr').data('sgq');

                apagaCampos(id);
                parL1Cabecalho.reloadTable();
                preencheCampos(id + ' [data-form]', '', obj);

                $('#' + id + ' [data-form] select[name="ParLevelDefinition_Id"]').val(obj.ParHeaderField.ParLevelDefinition_Id);
                $('#' + id + ' [data-form] select[name="ParLevelDefinition_Id"]').trigger('change')

                $('#' + id + ' [data-form] select[name="ParFieldType_Id"]').val(obj.ParHeaderField.ParFieldType_Id);
                $('#' + id + ' [data-form] select[name="ParFieldType_Id"]').trigger('change')

                $('#' + id + ' [data-form] input[name="Name"]').val(obj.ParHeaderField.Name);
                $('#' + id + ' [data-form] input[name="Description"]').val(obj.ParHeaderField.Description);

                $('#' + id + ' [data-form]').data('sgq', obj);
                $('#' + id + ' [data-form]').addClass('alert alert-success');
                $('#' + id + ' [data-form] [data-action] [data-add]').addClass('hide');
                $('#' + id + ' #divBtnCancelar').show();

                parL1Cabecalho.insertTable(obj);

                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-success" data-edit>Editar</button>');
                $('#' + id + ' [data-form] [data-action]').append('<button class="form-control btn btn-danger" data-cancel>x</button>');

            });

            //Adicionar os dados no data-form
            $('#' + id).on('click', '[data-table-delete]', function (e) {
                var obj = $(this).parents('tr').data('sgq');
                obj.IsActive = false;
                Save(obj);
            });

            $('#' + id).on('click', '[data-cancel]', function (e) {
                apagaCampos(id);
                parL1Cabecalho.reloadTable();
            });

            //Salvar o campo editado ou cria um novo
            $('#' + id).on('click', '[data-edit],[data-add]', function (e) {

                var obj = $('#' + id + ' [data-form]').data('sgq');
                var formdata = $('#' + id + ' [data-form]').serializeFormToObjetc();

                if (!(typeof (obj) == 'undefined')) {
                    obj = atualizaValoresDoObjeto(obj, formdata);
                } else {
                    obj = null;
                    obj = atualizaValoresDoObjeto(obj, formdata);
                }

                obj = parL1Cabecalho.prepareParHeaderField(obj);

                if (optionIsValid(obj, id)) {

                    openLoader();
                    Save(obj);

                }

            });

            $('#' + id).on('change', '[name="HasTakePhoto"]', function () {

                var obj = $(this).parents('tr').data('sgq');

                obj.IsRequired = !!$(this).prop('checked');

                Save(obj);
            });

            $('#' + id).on('click', '.defaultSelected', function () {

                var obj = $(this).parents('tr').data('sgq');

                let parMultipleValues_Id = parseInt($(this).parents('tr').find('select :selected').val());

                parMultipleValues_Id = parMultipleValues_Id ? parMultipleValues_Id : null;

                obj.ParHeaderField.ParMultipleValues.forEach((o, i, a) => {
                    a[i].IsDefaultOption = 0;

                    if (o.Id == parMultipleValues_Id) {
                        a[i].IsDefaultOption = 1;
                    }
                });

                Save(obj);
            });

            $('#' + id).on('click', ' [data-add-cancel] ', function () {
                $('#selectL1').trigger('change');
                $(this).parent().hide();
            });

            this.showTableParMultipleValues();
        },

        prepareParHeaderField: function (obj) {
            var formdata = $('#' + this.id + ' [data-form]').serializeFormToObjetc();
            if (typeof (obj['ParHeaderField']) == 'undefined')
                obj['ParHeaderField'] = {};
            obj['ParHeaderField']['Name'] = formdata.Name;
            obj['ParHeaderField']['Description'] = formdata.Description;
            obj['ParHeaderField']['ParLevelDefinition_Id'] = formdata.ParLevelDefinition_Id;
            obj['ParHeaderField']['ParFieldType_Id'] = formdata.ParFieldType_Id;
            return obj;
        },

        prepareToInsert: function (parFieldType_Id) {

            debugger

            if (!formIsValid(this.id)) {
                return false;
            }

            let $Renan;

            var obj = $('#' + this.id + ' [data-form]').data('sgq');

            if (typeof (obj) == 'undefined')
                obj = {};

            if (typeof (obj['ParHeaderField']) == 'undefined')
                obj['ParHeaderField'] = {};

            if (typeof (obj['ParHeaderField']['ParMultipleValues']) == 'undefined')
                obj['ParHeaderField']['ParMultipleValues'] = [];


            switch (parFieldType_Id) {

                case 1: // Multipla Escolha

                    $Renan = $('#tblOpcaoMultiplaEscolha');

                    obj['ParHeaderField']['ParMultipleValues'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Id: 0,
                        Name: $Renan.find('#objMultiplaEscolhaName').val(),
                        Description: '',
                        PunishmentValue: $Renan.find('#objMultiplaEscolhaPunishmentValue').val(),
                        Conformity: 0,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    break;

                case 3:	// Binario

                    obj['ParHeaderField']['ParMultipleValues'].forEach((o, i) => {
                        o.IsActive = false;
                    });

                    $Renan = $('#tblBinario');

                    obj['ParHeaderField']['ParMultipleValues'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Id: 0,
                        Name: $Renan.find('#objBinarioPunishmentName1').val(),
                        Description: '',
                        PunishmentValue: $Renan.find('#objBinarioPunishmentValue1').val(),
                        Conformity: 1,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    obj['ParHeaderField']['ParMultipleValues'].push({
                        ParLevelDefiniton: $('#selectL1ParLevelDefiniton :selected').text(),
                        ParHeaderField: $('#ParL1Cabecalho #Name').val(),
                        Name: $Renan.find('#objBinarioPunishmentName2').val(),
                        Id: 0,
                        Description: '',
                        PunishmentValue: $Renan.find('#objBinarioPunishmentValue2').val(),
                        Conformity: 0,
                        IsDefaultOption: 0,
                        IsActive: true
                    });

                    break;

                default:
            }

            $('#' + this.id + ' [data-form]').data('sgq', obj);

            this.insertTable(obj);

        },

        insertTable: function (obj) {

            //pega os dados do form e transforma em obj
            obj = parL1Cabecalho.prepareParHeaderField(obj);

            $('#camposCabecalhoIncluidos tbody').empty();

            let parHeaderField = "";
            let parLevelDefiniton = "";

            try{

                parHeaderField = obj.ParHeaderField.Name;
                parLevelDefiniton = obj.ParHeaderField.ParLevelDefiniton.Name;

            } catch (e) {

                parHeaderField = obj['ParHeaderField']['ParMultipleValues'][0].ParHeaderField;
                parLevelDefiniton = obj['ParHeaderField']['ParMultipleValues'][0].ParLevelDefiniton;

            }

            let multipleValues = obj['ParHeaderField']['ParMultipleValues'];
            let blockParFieldType = false;

            multipleValues.forEach((o, i) => {
                if (o.IsActive) {
                    let table = `<tr>
                            <td>${parLevelDefiniton}</td>
                            <td>${parHeaderField}</td>
                            <td>${o.PunishmentValue}</td>
                            <td>${o.Name}</td>
                            <td>${o.IsDefaultOption}</td>
                            <td><button type="button" class ="btn btn-danger btn-xs" name="" onclick="parL1Cabecalho.excludeTable(${i})"><i class ="fa fa-times"></i></button></td>
                          </tr>`;

                    $('#camposCabecalhoIncluidos tbody').append(table);

                    blockParFieldType = true;
                }
            });

            if (blockParFieldType)
                $('#selectL1ParFieldType').prop("disabled", true);

            this.showTableParMultipleValues();
        },

        showTableParMultipleValues: function () {

            if ($('#camposCabecalhoIncluidos tbody tr').length) {
                $('#divCamposCabecalhoIncluidos').show();
            } else {
                $('#divCamposCabecalhoIncluidos').hide();
            }

        },

        reloadTable: function () {
            $('#camposCabecalhoIncluidos tbody').empty();
        },

        excludeTable: function (i) {
            var obj = $('#' + this.id + ' [data-form]').data('sgq');

            if (obj) {
                if (obj.ParHeaderField.ParFieldType.Id == 3) //Se for binário, exclui todos os ParMultipleValues
                    obj.ParHeaderField.ParMultipleValues.forEach((o, i, a) => {
                        a[i].IsActive = false;
                    });
                else
                    obj['ParHeaderField']['ParMultipleValues'][i].IsActive = false;

                this.insertTable(obj);

            } else {
                $('#camposCabecalhoIncluidos tbody').empty();
                $('#divCamposCabecalhoIncluidos').hide();
            }
        }

    };

    let getPreviewHeaderField = function (headerField) {

        let input = "";

        switch (headerField.ParFieldType_Id) {

            case 1: // Multipla Escolha
            case 3:	// Binario

                let options = '<option>Selecione...</option>';

                headerField.ParMultipleValues.forEach((o) => {
                    options += `<option value="${o.Id}" ${(o.IsDefaultOption ? "selected" : "")}>${o.Name}</option>`;
                });

                input = '<select class="form-control">' + options + '</select>';

                break;

            case 2:	// Integrações
                input = "";
                break;

            case 4:	// Texto
            case 9:	// Parâmetro
                input = '<input type="text" class="form-control">';
                break;

            case 5:	// Numerico
                input = '<input type="number" class="form-control">';
                break;

            case 6:	// Data
                input = '<input type="date" class="form-control">';
                break;

            case 7:	// Hora
                input = '<input type="time" class="form-control" />';
                break;

            case 8:	// Informações
                break;

            case 10: //Dinâmico
                input = '<input type="text" class="form-control" disabled />';
                break;

            default:
        }

        return input;
    }

    let getDefaultSelected = function () {

        return `<button type="button" onclick="" class="btn btn-default btn-sm defaultSelected"><i class="fa fa-check" aria-hidden="true"></i></button>`;

    }

    $('#selectL1ParFieldType').on("change", function () {

        hideAllOptions();

        //limpar arr ParMultipleValues?

        let parFieldType_Id = parseInt($(this).val());

        switch (parFieldType_Id) {

            case 1: // Multipla Escolha
                $('#objMultiplaEscolha').show();
                break;

            case 3:	// Binario
                $('#objBinario').show();
                break;

            case 8:	// Informações
                $('#objWithDescription').show();
                //Inserir direto
                break;

            case 9:	// Parâmetro
                $('#objWithDescription').show();
                //Inserir direto
                break;

            case 10: //Dinâmico
                $('#objWithDescription').show();
                //Inserir direto
                break;

            default:
        }

    });

    let hideAllOptions = function () {

        $('#objMultiplaEscolha').hide();
        $('#objBinario').hide();
        $('#objInformacoes').hide();
        $('#objWithDescription').hide();

    }

</script>