<table st-table="bodies" st-safe-src="bodies" class="table table-striped" ng-app="sgqSystem" ng-controller="MainCtrl">
    <thead>
        <tr>
            <th ng-repeat="x in header">{{x}}</th>
        </tr>
        <tr>
            <th colspan="50"><input st-search="" class="form-control" placeholder="Buscar Tudo ..." type="text" /></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th ng-repeat="x in header">{{x}}</th>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="body in bodies">
            <td ng-repeat="x in body">{{x}}</td>
        </tr>
    </tbody>
</table>