<div class="modal fade bd-example-modal-lg printable" id="modalLogTrackHistory" role="dialog">

    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content" style="width:895px!important">


            <div class="modal-header modal-header-gray" style="font-size:14px;font-weight:bold">
                Log Track
            </div>

            <div class="modal-body">
                <table class="table table-stripped">
                    <thead>

                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="botaoFecharModal" class="btn btn-default non-printable" data-dismiss="modal">@Resources.Resource.close</button>
            </div>
        </div>
    </div>
</div>