<div class="modal fade bd-example-modal-lg" id="modalProduto" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:895px!important">
            <div class="modal-header modal-header-gray" style="font-size:14px;font-weight:bold">
                <div class="unitCode"><span id="estName"></span></div>
            </div>
            <div class="modal-body">
                <div id="divMensagemVazio" style="display: none" class="alert alert-info" role="alert">
                    <span id="mensagemVazio" class="icon-info-sign"></span>
                </div>
                <div id="correctiveActionModal" class="modal-padrao" style="margin-left:10px;margin-right:10px;margin-top:15px;">
                    <span id="Level3Name" class="levelName" name="" style=""></span>
                    <div class="container-fluid">
                        <form id="divEdit" class="row"></form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                @Html.Partial("~/Views/RelatoriosSgq/_SelectTextAreaEditReason.cshtml")

                <button type="button" data-dismiss="modal" class="btn btn-default non-printable">@Resources.Resource.close</button>
                <button type="button" onclick="SaveProduto()" class="btn btn-default non-printable">@Resources.Resource.save</button>
            </div>
        </div>
    </div>
</div>