@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel

@{
    ViewBag.Title = "Relatorio Diario";
    var url = Url.Action("Index", "Home");
}

<style>
    .panel-info {
        border-color: #999;
    }

        .panel-info > .panel-heading {
            background-color: #ccc;
            border-color: #999;
            color: #333;
        }

    .chart-inner {
        position: absolute;
        width: 100%;
        height: 100%;
    }
</style>

<script>

    function migr(unidade, ip, banco, ipProd, bancoProd ){


        $.ajax({
            type: 'GET'
            , url: 'http://10.190.2.34/migracaoHyrumHML/api/Scorecard/Migracao/' + unidade + '/' + ip + '/' + banco + '/' + ipProd + '/' + bancoProd
            , contentType: 'application/json; charset=utf-8'
            , dataType: 'json'
            , data: '{ unidade: unidade; ip: ip; banco:banco; ipProd: ipProd; bancoProd: bancoProd  }'
            , async: false //blocks window close
        , success: function (data, status) {

            console.log(data);

        },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("erro");
            }
        })
    }

</script>


<div class="page-content">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")
    <div id="formBodyContent">
        <button onclick="migr('Cactus', '10.164.67.22', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Cactus
        </button>
        <br /><br />
        <button onclick="migr('GrandIsland', '10.164.3.22',

'QA_GRJ', '10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Grand

            Island
        </button>
        <br /><br />
        <button onclick="migr('GreenBay', '10.161.3.2', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Green Bay
        </button>
        <br /><br />
        <button onclick="migr('Hyrum', '10.160.227.40', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Hyrum
        </button>
        <br /><br />
        <button onclick="migr('Omaha', '10.166.241.86', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Omaha
        </button>
        <br /><br />
        <button onclick="migr('Plainwell', '10.161.131.53', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Plainwell
        </button>
        <br /><br />
        <button onclick="migr('Souderton', 'uspaso01dbs11i', 'QA_GRJ',

'10.190.24.44', 'SGQUSAHML');">
            Migrar Banco Souderton
        </button>

    </div>
</div>

@section Scripts {


    <script type="text/javascript">

        var meses = new Array("Janeiro", "Fevereiro", "Março", "Abril", "Maio",

"Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro");
        var $btn = $('#btnSend');
        $('#simpleCallendar').hide().attr('disabled', true);

        $('button').button({ loadingText: '@Resources.Resource.loading...' });

        $(document).ready(function () {

            $("#btnSend").click(function (e) {
                Send();
            });

            formControl.showFullCallendar();
            formControl.showUnit();
        });

        function Send() {

            $btn.button('loading');
            $('#results').empty();

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            $('#menu-toggle').click();

            //AJAX
            $.post("", enviar, function (r) {

                try {



                } catch (e) {
                    console.log(e);
                } finally {
                    $btn.button('reset');
                }

            }).fail(function (e, h, x) {
                $btn.button('reset');
                if (e.status == 0) {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.statusText);
                } else {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.responseJSON.Message);
                }
            });

        };

        function ValidaDadosParaEnvio() {
            GuardJs.resetForValidation();
            GuardJs.CheckRangeDateTime(enviar.endDate, enviar.startDate,

"Initial date", "End date");

            /*Validação Específica*/

            /*FIM Validação Específica*/

            if (!GuardJs.isValid)
                return !GuardJs.isValid;
            GuardJs.esconderMensagem();

            return true;
        }

    </script>

}
