@model SgqService.ViewModels.FormularioParaRelatorioViewModel
@using DTO
@{
    Layout = "~\\Views\\Relatorios\\GQ\\Laboratorio\\_FilterReportsLaboratorio.cshtml";
    ViewBag.Title = "Laboratorio";

    var url = Url.Action("Index", "Home");

}

@section Content {

    <style>
        .panel-info {
            border-color: #999;
        }

            .panel-info > .panel-heading {
                background-color: #ccc;
                border-color: #999;
                color: #333;
            }

        .chart-inner {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #CustomPopover {
            z-index: 1040;
            border-width: 2px;
            padding: 8px;
            border-radius: 2px !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: absolute;
            background: white;
        }

            #CustomPopover .btn {
                margin-left: 1px;
                margin-right: 1px;
            }

        .geral-note {
            padding: 2px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #ebe9e8;
            text-align: center;
            width: 60%;
            margin: auto;
            margin-bottom: 10px;
        }

        #tituloDesdobramento {
            text-align: center;
            font-size: 20px;
        }
    </style>

    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="loader" hidden></div>

            @*Grafico*@
            <div id="container"></div>

            @* Matriz *@
            <div id="placeholder"></div>

            @*Alerta de fim de desdobramento*@
            <div class="alert alert-info" role="alert" id="divAlertFim" hidden></div>

        </div>
    </div>

}


@section Scripts {

    @Scripts.Render("~/Scripts/heatmap.js")

    <script type="text/javascript">

    let urlBuscaDados = '@Html.Raw(Url.Action("Get", "api/Laboratorio"))';

    let arrObjDados = [];
    let arrTitulo = [];

    function buscarDados() {

        arrObjDados = [];
        arrTitulo = [];

        $('#container').html("");
        $('#placeholder').html("");

        hideMessage();
        exibirLoader();

        window.scrollTo(0, 0);

        if (!$("#divFilterReports").is(":hidden"))
            toggleDivFilterReports();

        $.ajax({
            data: JSON.stringify(objFiltro),
            url:  urlBuscaDados,
            type: 'POST',
            dataType: "JSON",
            success: retornoAjax,
            timeout: 600000,
            contentType: "APPLICATION/JSON; CHARSET=UTF-8",
            error: function (a, b, c) {
                console.log(a);
                console.log(b);
                console.log(c);
                esconderLoader();
            }
        });

    }

    function retornoAjax(data) {

        let linha = "cNmVeiculos";
        let coluna = "cNmRegional";

        esconderLoader();

        if (!data.length) {
            showMessage("Sem dados.");
        } else {
            gerarGrafico(data);
            gerarMapaCalor(data, 0, linha, coluna);
        }
    }

    //Gráfico
    function gerarGrafico(data) {

        const categories = getCategories(data, "dColetaAmostra");
        const series = getSeriesByCategories(data, categories);

        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: '% DE NC ANÁLISES MICROBIOLÓGICAS POR TIPO DE VEÍCULO'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: '% NC'
                },
                labels: {
                    formatter: function () {
                        return this.value + '%'
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        format: '{y} %'
                    },
                    enableMouseTracking: true
                }
            },
            series: series
        });
    }

    //Matriz de calor
    function gerarMapaCalor(data, numeroDesdobramento, linha, coluna) {

        let tituloDesdobramento = "Mapa de Calor " + linha + " por " + coluna + "</br>" + arrTitulo.join(" | ");

        removeDivs(numeroDesdobramento);
        appendDiv(numeroDesdobramento, Object.keys(data[0]), tituloDesdobramento);
        appendDataArr(data, numeroDesdobramento);

        let w = $('#container').innerWidth();
        let idMatriz = "#placeholder_" + numeroDesdobramento;

        let config = {
            maxWidth: w * .98,
            widthColumn1: (w * .1) + "px",
            widthColumn2: (w * .65) + "px",
            widthColumn3: (w * .2) + "px",
            colorMin: "00e600",
            colorMid: "fef104",
            colorMax: "ff0000",
            isGradient: true,
            colorMain: "dddddd",
            colorEmptyTd: "f9f9f9",
            jsonName: "Data",
            valorVazio: "-",
        };

        config.tituloDesdobramento = "";
        config.Cabecalho = `<a class="cabecalho" data-key="${coluna}" data-titulo="{${coluna}}" data-tituloDesdobramento="${config.tituloDesdobramento}">{${ coluna }}</a>`;
        config.Indicador = `<a class="indicador" data-key="${linha}" data-titulo="{${linha}}" data-tituloDesdobramento="${config.tituloDesdobramento}">{${ linha }}</a>`;
        config.tituloIndicador = linha;
        config.tituloColuna = coluna;
        config.json = aplicarDistinctNaLista(data, [linha, coluna], ["NC", "AV"]);
        config.idPlaceholder = idMatriz;
        config.cellWidth = "150";
        config.heatmapType = "line";
        config.Valores = [
            { "title": "% NC", "render": function () { return '<span>{NC}</span>'; }, "heatmap": true, "groupFunction": "AVG" }
        ];

        HeatMap.Inicializar(config);

        if (numeroDesdobramento > 0)
            goScroll(idMatriz);

        //Clique no cabeçalho da Linha
        $(idMatriz).off("click", ".horizontal th .cabecalho").on("click", ".horizontal th .cabecalho", function () {
            debugger
            let numeroDesdobramento = parseInt($(this).parents(".matriz").attr("data-numer-div"));

            let linha = $('#select1_' + numeroDesdobramento + ' :selected').val();
            let coluna = $('#select2_' + numeroDesdobramento + ' :selected').val();

            let property = $(this).attr('data-key');
            let value = $(this).attr('data-titulo');

            let newData = arrObjDados[numeroDesdobramento].filter(x => x[property] == value);

            setTituloArr(property + ": " + value, numeroDesdobramento);

            numeroDesdobramento = numeroDesdobramento + 1;
            desdobraMatriz(newData, numeroDesdobramento, linha, coluna);

        });

        //Clique no lista da Linha
        $(idMatriz).off("click", "th.esquerda .indicador").on("click", "th.esquerda .indicador", function () {

            let numeroDesdobramento = parseInt($(this).parents(".matriz").attr("data-numer-div"));

            let linha = $('#select1_' + numeroDesdobramento + ' :selected').val();
            let coluna = $('#select2_' + numeroDesdobramento + ' :selected').val();

            let property = $(this).attr('data-key');
            let value = $(this).attr('data-titulo');

            let newData = arrObjDados[numeroDesdobramento].filter(x => x[property] == value);

            setTituloArr(property + ": " + value, numeroDesdobramento);

            numeroDesdobramento = numeroDesdobramento + 1;
            desdobraMatriz(newData, numeroDesdobramento, linha, coluna);

        });

        //Clique no meio da matriz
        $(idMatriz).off("click", "#listaValores td").on("click", "#listaValores td", function () {

            let indicadorNumero = parseInt($(this).attr("data-indicador")) + 1;
            let cabecalhoNumero = parseInt($(this).attr("data-cabecalho")) + 1;

            let numeroDesdobramento = parseInt($(this).parents(".matriz").attr("data-numer-div"));

            let linha = $('#select1_' + numeroDesdobramento + ' :selected').val();
            let coluna = $('#select2_' + numeroDesdobramento + ' :selected').val();

            let propertyLinha = $("#placeholder_" + numeroDesdobramento + " #listaInidicador > tr:nth-child(" + indicadorNumero + ") > th > a").attr('data-key');
            let valueLinha = $("#placeholder_" + numeroDesdobramento + " #listaInidicador > tr:nth-child(" + indicadorNumero + ") > th > a").attr('data-titulo');
            let propertyColuna = $("#placeholder_" + numeroDesdobramento + " #listaCabecalho > th:nth-child(" + cabecalhoNumero + ") > a").attr('data-key');
            let valueColuna = $("#placeholder_" + numeroDesdobramento + " #listaCabecalho > th:nth-child(" + cabecalhoNumero + ") > a").attr('data-titulo');

            let newData = arrObjDados[numeroDesdobramento].filter(x => x[propertyLinha] == valueLinha && x[propertyColuna] == valueColuna);

            setTituloArr(propertyLinha + ": " + valueLinha + " | " + propertyColuna + ": " + valueColuna, numeroDesdobramento);

            numeroDesdobramento = numeroDesdobramento + 1;
            desdobraMatriz(newData, numeroDesdobramento, linha, coluna);

        });
    }

    //Ultis
    function exibirLoader() {
        $('.loader').show();
    }

    function esconderLoader() {
        $('.loader').hide();
    }

    function getPorcentagem(amostragem, quantidade) {

        amostragem = parseFloat(amostragem);
        quantidade = parseFloat(quantidade);

        let porcentagemNC = (quantidade * 100) / amostragem;

        porcentagemNC = parseFloat((porcentagemNC).toFixed(2));

        return porcentagemNC

    }

    function getCategories(data, categoriesColumDataName) {

        if (!data)
            return [];

        //retornar mes e ano
        const categoriesArr = [... new Set(data.map(x => convertDateToYearMouth(x[categoriesColumDataName])))]

        categoriesArr.sort();

        return categoriesArr;
    }

    function getSeriesByCategories(data, categories) {

        const series = [];

        seriesName = [... new Set(data.map(x => x["cNmTpColeta"]))];

        seriesName.forEach((serieName) => { //seriesName

            const obj = {};
            obj.name = serieName;
            obj.data = [];

            categories.forEach((o) => { //datas

                let arrFiltrado = data.filter(x => convertDateToYearMouth(x['dColetaAmostra']) == o && x["cNmTpColeta"] == serieName);

                if (arrFiltrado.length == 0) {

                    obj.data.push(null);

                } else {

                    let arrAv = arrFiltrado.map(x => x.AV);
                    let amostragem = arrAv.reduce((accumulator, currentValue) => accumulator + currentValue);
                    let arrNc = arrFiltrado.map(x => x.NC);
                    let qtdNC = arrNc.reduce((accumulator, currentValue) => accumulator + currentValue)

                    obj.data.push(getPorcentagem(amostragem, qtdNC));
                }

            });

            series.push(obj);

        });

        return series;

    }

    function convertDateToYearMouth(date) {

        let mes = (parseInt(new Date(date).getMonth().toString()) + 1).toString();
        let ano = parseInt(new Date(date).getFullYear().toString());

        if (mes.length == 1)
            mes = "0" + mes;

        return ano + "-" + mes;

    }

    function appendDiv(numeroDesdobramento, keys, titulo = "") {

        let options = keys.reduce((accumulator, currentValue) => accumulator += `<option value="${currentValue}">${currentValue}</option>`)

        let htmlDiv = `
        <div class="panel panel-primary" id-desdobramento="${numeroDesdobramento}">
            <div class="panel-heading">${titulo}</div>
            <div class="panel-body">
                <div class="row" select-filter>
                    <div class="col-sm-12">
                        <form class="form-inline">
                          <strong>A próxima matriz exibirá: </strong>
                          <div class="form-group">
                            <label for="coluna">Linha</label>
                            <select class="form-control" id="select1_${numeroDesdobramento}">
                            ${options}
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="coluna">Coluna</label>
                            <select class="form-control" id="select2_${numeroDesdobramento}">
                            ${options}
                            </select>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="matriz" id="placeholder_${numeroDesdobramento}" data-numer-div="${numeroDesdobramento }"></div>
            </div>
        </div>`;

        $('#placeholder').append(htmlDiv);
    }

    function removeDivs(numeroDesdobramento) {

        $('#placeholder').find('.matriz').each(function (index) {

            let numeroDiv = parseInt($(this).attr('data-numer-div'));

            if (numeroDiv >= numeroDesdobramento) {
                $(this).remove();
                $("[id-desdobramento=" + numeroDiv + "]").remove();
            }

        });
    }

    function appendDataArr(data, numeroDesdobramento) {

        arrObjDados.splice(numeroDesdobramento, arrObjDados.length);

        arrObjDados[numeroDesdobramento] = data;

    }

    function desdobraMatriz(newData, numeroDesdobramento, linha, coluna) {
        
        let matrizAnterior = JSON.stringify(arrObjDados[numeroDesdobramento - 1]);
        let matrizAtual = JSON.stringify(newData);

        hideMessage();

        if (matrizAnterior === matrizAtual || newData.length === 0) {
            showMessage("Fim do desdobramento.");
            removeDivs(numeroDesdobramento);
            return;
        }

        gerarMapaCalor(newData, numeroDesdobramento, linha, coluna);

    }

    function showMessage(mensagem) {
        $("#divAlertFim").html(mensagem);
        $("#divAlertFim").show()
    }

    function hideMessage() {
        $("#divAlertFim").hide();
    }

    function goScroll(elemId) {

        document.querySelector(elemId).scrollIntoView({ behavior: 'smooth' });
    }

    function enviarFiltro() {
        buscarDados();
    }

    function setTituloArr(titulo, numeroDesdobramento) {

        arrTitulo.splice(numeroDesdobramento, arrTitulo.length);

        arrTitulo.push(titulo);

    }

    function aplicarDistinctNaLista(lista, listaDePropriedades, listaDeValores) {

        //debugger

        //var listaDistinct = []

        //for (var i = 0; i < lista.length; i++) {

        //    var obj = lista[i];
        //    var match = false;

        //    for (var j = 0; j < listaDistinct.length; j++) {

        //        match = true;

        //        var objDistinct = listaDistinct[j];

        //        for (var z = 0; z < listaDePropriedades.length; z++) {
        //            if (obj[listaDePropriedades[z]] != objDistinct[listaDePropriedades[z]]) {
        //                match = false;
        //            }
        //        }

        //        if (match == true) {
        //            for (var z = 0; z < listaDeValores.length; z++) {
        //                objDistinct[listaDeValores[z]] = parseFloat(obj[listaDeValores[z]]) + parseFloat(objDistinct[listaDeValores[z]]);
        //            }
        //            break;
        //        }
        //    }

        //    if (match == false) {
        //        listaDistinct.push(obj);
        //    }
        //}

        //for (var i = 0; i < listaDistinct.length; i++) {
        //    var obj = listaDistinct[i];
        //    obj["NC"] = parseFloat(((obj["NC"] / obj["AV"]) * 100).toFixed(2));
        //}

        let listaDistinct = [];

        let arrColuna = [... new Set(lista.map(x => x[listaDePropriedades[1]]))];
        let arrLinha = [... new Set(lista.map(x => x[listaDePropriedades[0]]))];

        arrColuna.sort();
        arrLinha.sort();

        arrColuna.forEach((coluna) => {

            arrLinha.forEach((linha) => {

                let arrFiltrados = lista.filter(x => x[listaDePropriedades[1]] == coluna && x[listaDePropriedades[0]] == linha);

                let NC = null;
                let AV = null;
                let percNC = null

                if (arrFiltrados.length > 0) {
                    NC = arrFiltrados.map(x => x.NC).reduce((accumulator, currentValue) => accumulator += currentValue);
                    AV = arrFiltrados.map(x => x.AV).reduce((accumulator, currentValue) => accumulator += currentValue);
                    percNC = parseFloat(((NC / AV) * 100).toFixed(2));
                }

                listaDistinct.push({ [listaDePropriedades[0]]: linha, [listaDePropriedades[1]]: coluna, NC: percNC });

            });

        });

        return listaDistinct;
    }

    </script>

}
