
@{
    ViewBag.Title = "Relatorio do BI";
    //var urlGet = Url.Action("GetRelatorio", "RelatorioGenericoApi");
    var urlGet = Url.Action("getTabela", "api/RelatorioGenerico");
}
<style>
    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }
</style>

<div class="page-content" style="min-height: 600px;">

    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

        <div ng-controller="MainCtrl">
            <table st-table="displayedCollection" st-safe-src="bodies" class="table table-striped" ng-app="sgqSystem">
                <thead>
                    <tr>
                        <th st-sort="{{x}}" ng-repeat="x in header">{{x}}</th>
                    </tr>
                    <tr>
                        <th colspan="50"><input st-search="" class="form-control" placeholder="Buscar Tudo ..." type="text" /></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th ng-repeat="x in header">{{x}}</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="body in displayedCollection">
                        <td ng-repeat="x in body">{{x}}</td>
                    </tr>
                </tbody>
            </table>

            {{header}}
            {{bodies}}

        </div>

    </div>
</div>


<script type="text/javascript">

    var $btn = $('#btnSend');
    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");

    //Angular
    var i = 0;

    app.filter('myFilter', function () {
        return function (body) {
            var result = [];
            angular.forEach(body, function (value, key) {
                var item = [];
                angular.forEach(value, function (value2, key2) {
                    if (value2 != null) {
                        item.push(value2);
                    }
                })
                result.push(Object.assign({}, item));
            });

            return result;
        }
    });

    app.controller('MainCtrl', ['$scope', '$http', '$filter' , '$compile', function ($scope, $http, $filter,$compile) {

        $('#btnSend').replaceWith($('#btnSend'));
        $('#btnSend').attr('ng-click','getReport()');
        $compile($('#btnSend'))($scope);

        $scope.getReport = function() {

            //fazer ajax
            $http({
                method: 'POST',
                data: enviar,
                url: @Html.Raw(Json.Encode(urlGet)),
            }).then(function (retorno) {

                $scope.header = retorno.data.header;

                var myFilter = $filter('myFilter');
                $scope.bodies = myFilter(retorno.data.body);

            }, function (error) {
                console.log(error);
            });

        };

    }]);

    $(document).ready(function () {
        formControl.showFullCallendar();
        closeLeftSidebar();

    });

</script>
