@model SgqService.ViewModels.FormularioParaRelatorioViewModel
@using DTO
@{
    Layout = "~\\Views\\RelatoriosSgq\\_FilterReports.cshtml";
    ViewBag.Title = Resources.Resource.consistency_call; //"Consistency Call"

    var url = Url.Action("Index", "Home");
    var urlGetTabelaConsistencyCall = Url.Action("GetlistaTabelaConsistencyCall", "api/RelatorioConsistencyCallMSP");

    ViewBag.ShowCurrentDate = true;
    ViewBag.ShowRangeDate = false;
    ViewBag.ShowParModule = false;
    ViewBag.ShowParCompany = false;
    ViewBag.ShowShift = false;
}

@section Content {

    <style>
        .panel-info {
            border-color: #999;
        }

            .panel-info > .panel-heading {
                background-color: #ccc;
                border-color: #999;
                color: #333;
            }

        .table {
            border: 1px solid lightgrey;
        }

        #divFlavor #TabelaConsistencyCall {
            font-family: 'Copperplate Gothic';
        }

        .firstCol {
            width: 60%;
        }

        .good {
            color: limegreen;
            font-weight: bold;
        }

        .bad {
            color: red;
            font-weight: bolder;
        }

        .target {
            color: blue;
        }
    </style>

    <div class="page-content-wrapper">
        <div class="page-content">

            <div id="formBodyContent">
                @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

                <div class="text-center" id="divFlavor" hidden>
                    <p style="margin-bottom: 0;">Flavor</p>
                    <div class="bg-info text-center">
                        <div id="flavor" style="font-weight: bold; font-size: 30px; padding-bottom: 15px; padding-top: 15px;"></div>
                    </div>
                </div>


                <div id="TabelaConsistencyCall" style="padding-top: 30px;" hidden>
                    <button class="btnConsistencyCall col-lg-6" id="btnRawSide" type="button" onclick="ShowRawSide()">Raw Side</button>
                    <button class="btnConsistencyCall col-lg-6" id="btnCooking" type="button" onclick="ShowCooking()">Cooking</button>
                    <div id="rawSide" hidden>

                    </div>
                    <div id="cooking" hidden>

                    </div>
                </div>

                <div id="loading"></div>
            </div>
        </div>
    </div>

}


@section Scripts {

    <script type="text/javascript">

        $('button').button({ loadingText: '@Resources.Resource.loading...' });

        var urlGetTabelaConsistencyCall = '@Html.Raw(urlGetTabelaConsistencyCall)';
        var $btn = $('#btnSend');

        $(document).ready(function () {
            closeLeftSidebar();
            $(".sidebar-toggler").removeClass("hide");
            $(".page-sidebar-wrapper").removeClass("hide");

            $("#btnSend").click(function (e) {
                Send(true);
            });

            $('.levels').hide();

            $('.sidebar-nav select').select2();
            });

        function enviarFiltro() {
            openLoader('Aguarde...');
            $btn.button('loading');
            $('#results').empty();

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            $.ajax({
                url: urlGetTabelaConsistencyCall,
                type: 'post',
                data: JSON.stringify(objFiltro),
                dataType: "JSON",
                contentType: "APPLICATION/JSON; CHARSET=UTF-8",
                beforeSend: function () {
                }
            })
            .done(function (data) {
                MontaTabelaConsistencyCall(data);
                $btn.button('reset');
                closeLoader();
            })
            .fail(function (jqXHR, textStatus, msg) {
                console.log(msg);
                $btn.button('reset');
                preencheRetornoGrafico("Ocorreu um erro ao buscar os dados. Erro: " + msg);
                closeLoader();
            });
        };

    function checkData(item) {
        if (item != null) {
            if (typeof item == "number") {
                if (item % 1 != 0) {
                    return item.toFixed(2);
                }
            }
            return item
        } else {
            return "-"
        }
    }

    function montaLinha2Cols(coluna1, coluna2, classe, type) {
        var linha = '<tr><td scope="row" class="firstCol"> ' + checkData(coluna1) + ' </td><td colspan="2" align="center" class="' + classe + '">' + checkData(coluna2) + ' ' +type+ '</td></tr>'
        return linha;
    }

    function montaLinha3Cols(coluna1, coluna2, coluna3, classe, classe2, type1, type2) {
        var linha = '<tr><td scope="row" class="firstCol"> ' + checkData(coluna1) + ' </td><td align="center" class="' + classe + '">' + checkData(coluna2) + ' ' +type1+ '</td><td align="center" class="' + classe2 + '">' + checkData(coluna3) + ' ' +type2+ '</td></tr>'
        return linha;
    }


    function ValidaDadosParaEnvio() {
        GuardJs.resetForValidation(objFiltro);
        GuardJs.CheckRangeDateTime(objFiltro.endDate, objFiltro.startDate, "Initial date", "End date");

        if (!GuardJs.isValid)
            return !GuardJs.isValid;
        GuardJs.esconderMensagem();

        return true;
        };

        function MontaTabelaConsistencyCall(retornoArray) {
            if(retornoArray.length == 0){
                GuardJs.exibirMensagemAlerta(@Html.Raw(Json.Encode(Resources.Resource.no_appointments_in_this_period)))
            }

            else {
                $("#flavor").html(retornoArray.Product + " - " + retornoArray.Flavor);
                $("#divFlavor").show();
                $("#TabelaConsistencyCall").show();

                var tableRawSide = "<table class='table table-hover table-striped'><tbody>" +
                    montaLinha2Cols("<b> Raw side </b>", "<b>" + retornoArray.Raw_side + "</b>", "", "") +
                    montaLinha3Cols("Batch", retornoArray.Batch1 , retornoArray.Batch2 , "", "", "", "") +
                    montaLinha3Cols("Water % <b>(According to the marination time and flavor)</b>", retornoArray.PorcWater1, retornoArray.PorcWater2, "good", "good", "%", "%") +
                    montaLinha2Cols("Meat Age - Target (max)", retornoArray.Meat_age_target, "target", "") +
                    montaLinha2Cols("Meat Age (average in days)", retornoArray.Meat_age_avg , retornoArray.Meat_age_avg <= retornoArray.Meat_age_target ? "good" : "bad", "") +
                    montaLinha3Cols("Meat Age (minimum and maximum)", retornoArray.Meat_age_min_max1, retornoArray.Meat_age_min_max2, "good", "bad", "", "") +
                    montaLinha2Cols("Flats", retornoArray.Flats, "good", "%") +
                    montaLinha2Cols("Insides", retornoArray.Insides, "good", "%") +
                    montaLinha2Cols("Eyes", retornoArray.Eyes, "good", "%") +
                    montaLinha2Cols("Tumbler batch size <b>(kg of meat according to the product)</b>", retornoArray.Tumbler_batch_size, "good", "Kg") +
                    montaLinha2Cols("Product appearance", retornoArray.Product_appearance, "good", "") +
                    montaLinha2Cols("Seasoning distribuition", retornoArray.Seasoning_distribuition, "good", "") +
                montaLinha3Cols("Meat temperature (target Max)", retornoArray.Meat_temperature_max1, retornoArray.Meat_temperature_max2, "target", "target", "°C", "°F") +
                    montaLinha3Cols("Meat temperature (target Min)", retornoArray.Meat_temperature_min1, retornoArray.Meat_temperature_min2, "target", "target", "°C", "°F") +
                    montaLinha3Cols("Meat temperature actual", retornoArray.Meat_temperature_actual1, retornoArray.Meat_temperature_actual2,
                        retornoArray.Meat_temperature_actual1 >= retornoArray.Meat_temperature_min1 && retornoArray.Meat_temperature_actual1 <= retornoArray.Meat_temperature_max1 ? "good" : "bad",
                        retornoArray.Meat_temperature_actual2 >= retornoArray.Meat_temperature_min2 && retornoArray.Meat_temperature_actual2 <= retornoArray.Meat_temperature_max2 ? "good" : "bad", "°C", "°F") +
                "</tbody ></table > ";

                var tableCMeCD = "<h4><b> COXÃO DURO + COXÃO MOLE </b></h4>" +
                "<table class='table table-hover table-striped'><tbody>" +
                montaLinha2Cols("Thickness average (mm) - Target max", retornoArray.Thickness_avg_max_CDCM, "target", "mm") +
                montaLinha2Cols("Thickness average (mm) - Target min", retornoArray.Thickness_avg_min_CDCM, "target", "mm") +
                montaLinha3Cols("Thickness average (7mm - flats, 6.1mm - wedges/eyes)", retornoArray.Thickness_avg1_CDCM, retornoArray.Thickness_avg2_CDCM,
                        retornoArray.Thickness_avg1_CDCM >= retornoArray.Thickness_avg_min_CDCM && retornoArray.Thickness_avg1_CDCM < retornoArray.Thickness_avg_max_CDCM ? "good" : "bad",
                        retornoArray.Thickness_avg2_CDCM >= retornoArray.Thickness_avg_min_CDCM && retornoArray.Thickness_avg2_CDCM < retornoArray.Thickness_avg_max_CDCM ? "good" : "bad", "mm", "mm") +
                montaLinha3Cols("Thickness sample size", retornoArray.Thickness_sample_size1_CDCM, retornoArray.Thickness_sample_size2_CDCM, "good", "good", "", "") +
                montaLinha2Cols("Out of Spec target", retornoArray.Out_spec_target_CDCM, "target", "%") +
                montaLinha3Cols("% out of spec (April/12th on +/- 1.2mm)", retornoArray.Porc_out_spec1_CDCM, retornoArray.Porc_out_spec2_CDCM,
                        retornoArray.Porc_out_spec1_CDCM <= retornoArray.Out_spec_target_CDCM ? "good" : "bad",
                        retornoArray.Porc_out_spec2_CDCM <= retornoArray.Out_spec_target_CDCM ? "good" : "bad","%", "%") +
                montaLinha3Cols('%&ltLSL', retornoArray.Porc_LSL1_CDCM, retornoArray.Porc_LSL2_CDCM, "good", "good", "%", "%") +
                montaLinha3Cols("%>USL", retornoArray.Porc_USL1_CDCM, retornoArray.Porc_USL2_CDCM, "good", "good", "%", "%") +
                "</tbody></table>";

                var tableBeL = "<h4><b> BORBOLETA + LAGARTO </b></h4>" +
                "<table class='table table-hover table-striped'><tbody>" +
                montaLinha2Cols("Thickness average (mm) - Target max", retornoArray.Thickness_avg_max_BL, "target", "mm") +
                montaLinha2Cols("Thickness average (mm) - Target min", retornoArray.Thickness_avg_min_BL, "target", "mm") +
                montaLinha3Cols("Thickness average (7mm - flats, 6.1mm - wedges/eyes)", retornoArray.Thickness_avg1_BL, retornoArray.Thickness_avg2_BL,
                    retornoArray.Thickness_avg1_BL >= retornoArray.Thickness_avg_min_BL && retornoArray.Thickness_avg1_BL < retornoArray.Thickness_avg_max_BL ? "good" : "bad",
                        retornoArray.Thickness_avg2_BL >= retornoArray.Thickness_avg_min_BL && retornoArray.Thickness_avg2_BL < retornoArray.Thickness_avg_max_BL ? "good" : "bad", "mm", "mm") +
                montaLinha3Cols("Thickness sample size", retornoArray.Thickness_sample_size1_BL, retornoArray.Thickness_sample_size2_BL, "good", "good", "", "") +
                montaLinha2Cols("Out of Spec target", retornoArray.Out_spec_target_BL, "target", "%") +
                montaLinha3Cols("% out of spec (April/12th on +/- 1.2mm)", retornoArray.Porc_out_spec1_BL, retornoArray.Porc_out_spec2_BL,
                    retornoArray.Porc_out_spec1_BL <= retornoArray.Out_spec_target_BL ? "good" : "bad",
                        retornoArray.Porc_out_spec2_BL <= retornoArray.Out_spec_target_BL ? "good" : "bad", "%", "%") +
                montaLinha3Cols("%&ltLSL", retornoArray.Porc_LSL1_BL, retornoArray.Porc_LSL2_BL, "good", "good", "%", "%") +
                montaLinha3Cols("%>USL", retornoArray.Porc_USL1_BL, retornoArray.Porc_USL2_BL, "good", "good", "%", "%") +
                "</tbody></table>";

                var tableFinalRawSide = "<table class='table table-hover table-striped'><tbody>" +
                montaLinha2Cols("Meat Weight inside smokehouse (lb/process (raw) Target", retornoArray.Meat_weight_inside_smokehouse_target, "target", "") +
                montaLinha2Cols("Meat Weight inside smokehouse (lb/process (raw)", retornoArray.Meat_weight_inside_smokehouse, "good", "") +
                montaLinha2Cols("Purge % Target", retornoArray.Porc_purge_target, "target", "%") +
                montaLinha2Cols("Purge %", retornoArray.Porc_purge, "good", "%") +
                "</tbody></table>";

                var tableCooking = "<table class='table table-hover table-striped'><tbody>" +
                montaLinha2Cols("<b> Cooking </b>",  retornoArray.Cooking == null ? "-" : "<b>" + retornoArray.Cooking + "</b>", "", "") +
                montaLinha3Cols("Meet Canadian Requirements: 71°C 60 min (YES/NO/NA)", retornoArray.Meet_requirements1, retornoArray.Meet_requirements2, "good", "good", "%", "%") +
                montaLinha2Cols("Marination time (hours max)", retornoArray.Marination_time_max, "target", "h") +
                montaLinha2Cols("Marination time (hours min)", retornoArray.Marination_time_min, "target", "h") +
                montaLinha2Cols("Marination time (hours)", retornoArray.Marination_time, retornoArray.Marination_time >= retornoArray.Marination_time_min && retornoArray.Marination_time <= retornoArray.Marination_time_max ? "good" : "bad", "h", "h") +
                montaLinha3Cols("Wait time average <b>(180 min)</b>", retornoArray.Wait_time_avg1, retornoArray.Wait_time_avg2,
                     retornoArray.Wait_time_avg1 <= 180 ? "good" : "bad", retornoArray.Wait_time_avg2 <= 180 ? "good" : "bad", "min", "min") +
                montaLinha3Cols("Wait time max", retornoArray.Max_time1, retornoArray.Max_time2, "good", "good", "", "") +
                "</tbody></table>";

                var classPackingWaterActivity = retornoArray.Packing_water_activity <= retornoArray.Packing_water_activity_max ? "good" : "bad";
                var tableCooking2 = "<table class='table table-hover table-striped'><tbody>" +
                montaLinha3Cols("Foss used for pull moisture","Foss 1", retornoArray.Foss_used_for_pull, "", "", "", "%") +
                montaLinha3Cols("Foss used for packing moisture", "Foss 2", retornoArray.Foss_used_for_packing, "", "", "", "%") +
                montaLinha2Cols("Cooking time Target", retornoArray.Cooking_time_target, "target", "") +
                montaLinha2Cols("Cooking time average (hours:min)", retornoArray.Cooking_time_avg, "good", "") +
                montaLinha2Cols("Standard pull moisture (max)", retornoArray.Standard_pull_moisture_max, "target", "%") +
                montaLinha2Cols("Standard pull moisture (min)", retornoArray.Standard_pull_moisture_min, "target", "%") +
                montaLinha2Cols("Pull moisture average", retornoArray.Pull_moisture_avg,
                        retornoArray.Pull_moisture_avg >= retornoArray.Standard_pull_moisture_min && retornoArray.Pull_moisture_avg <= retornoArray.Standard_pull_moisture_max ? "good" : "bad", "%") +
                montaLinha3Cols("Staging room temperature (F) <b>Target 48F</b>", retornoArray.Staging_room_temperature1, retornoArray.Staging_room_temperature2,
                        retornoArray.Staging_room_temperature1 <= 48 ? "good" : "bad",
                    retornoArray.Staging_room_temperature2 <= 48 ? "good" : "bad", "°C", "°F") +
                    "<tr><td scope='row' class='firstCol'> Packing Water Activity Target (max) </td><td colspan='2' align='center' class='target'>" + retornoArray.Packing_water_activity_max.toFixed(3) + "</td></tr>" +
                    "<tr><td scope='row' class='firstCol'> Packing Water Activity </td><td colspan='2' align='center' class='"+ classPackingWaterActivity +"'>" + retornoArray.Packing_water_activity.toFixed(3) + "</td></tr>" +
                montaLinha2Cols("Packing moisture average (min)", retornoArray.Packing_moisture_avg_min, "target", "%") +
                montaLinha2Cols("Packing moisture average (max)", retornoArray.Packing_moisture_avg_max, "target", "%") +
                    montaLinha2Cols("Packing moisture average", retornoArray.Packing_moisture_avg,
                        retornoArray.Packing_moisture_avg >= retornoArray.Packing_moisture_avg_min && retornoArray.Packing_moisture_avg <= retornoArray.Packing_moisture_avg_max ? "good" : "bad", "%") +
                    montaLinha2Cols("Reanalysis (Foss 1 Posse) - bulk moisture <b>(28% to 30%)</b>", retornoArray.Reanalysis_foss_1, retornoArray.Reanalysis_foss_1 >= 28 && retornoArray.Reanalysis_foss_1 <= 30 ? "good" : "bad", "%") +
                montaLinha2Cols("Reanalysis (Foss 2 Posse) - bulk moisture <b>(28% to 30%)</b>", retornoArray.Reanalysis_foss_2, retornoArray.Reanalysis_foss_2 >= 28 && retornoArray.Reanalysis_foss_2 <= 30 ? "good" : "bad", "%") +
                montaLinha2Cols("Alpena's moisture", retornoArray.Alpenas_moisture, "good", "") +
                montaLinha3Cols("Packing room temperature (Target 60F) MÁX", retornoArray.Packing_room_temperature_max1, retornoArray.Packing_room_temperature_max2, "target", "target", "°C", "°F") +
                    montaLinha3Cols("Packing room temperature <b>(Target 60F) </b> AVERAGE ", retornoArray.Packing_room_temperature1, retornoArray.Packing_room_temperature2,
                        retornoArray.Packing_room_temperature1 <= retornoArray.Packing_room_temperature_max1 ? "good" : "bad",
                        retornoArray.Packing_room_temperature2 <= retornoArray.Packing_room_temperature_max2 ? "good" : "bad", "°C", "°F") +
                montaLinha2Cols("Yield - Target min", retornoArray.Yield_target_min, "target", "%") +
                montaLinha2Cols("Yield - Target", retornoArray.Yield_target, "target", "%") +
                    montaLinha3Cols("Yield", retornoArray.Yield1, retornoArray.Yield2,
                        retornoArray.Yield1 >= retornoArray.Yield_target_min && retornoArray.Yield1 <= retornoArray.Yield_target ? "good" : "bad",
                        retornoArray.Yield2 >= retornoArray.Yield_target_min && retornoArray.Yield2 <= retornoArray.Yield_target ? "good" : "bad", "%", "%") +
                    montaLinha2Cols("Wood chips Target <b>(7'' +/- 1 inches per cooking)</b>", retornoArray.Wood_chips_target, "target", "''") +
                    montaLinha2Cols("Wood chips (inches per cooking)", retornoArray.Wood_chips, "good", "''") +
                montaLinha2Cols("Espessura do produto final MÁX", retornoArray.Final_product_thickness_max, "target", "") +
                montaLinha2Cols("Espessura do produto final MÍN", retornoArray.Final_product_thickness_min, "target", "") +
                    montaLinha2Cols("Final product Thickness average (5 mm+/-0,79mm)", retornoArray.Final_product_thickness_avg,
                        retornoArray.Final_product_thickness_avg >= retornoArray.Final_product_thickness_min && retornoArray.Final_product_thickness_avg <= retornoArray.Final_product_thickness_max ? "good" : "bad", "") +
                montaLinha2Cols("Thickness sample size", retornoArray.Thickness_sample_size, "good", "") +
                    montaLinha2Cols("Out of spec Target", retornoArray.Out_of_spec_target, "target", "%") +
                    montaLinha2Cols("% Out of spec", retornoArray.Porc_out_spec, retornoArray.Porc_out_spec <= retornoArray.Out_of_spec_target ? "good" : "bad", "%") +
                montaLinha2Cols("%&ltLSL", retornoArray.Porc_lsl, retornoArray.Porc_lsl <= retornoArray.Out_of_spec_target ? "good" : "bad", "%") +
                montaLinha2Cols("%>USL", retornoArray.Porc_usl, retornoArray.Porc_usl <= retornoArray.Out_of_spec_target ? "good" : "bad", "%") +
                montaLinha2Cols("Filters on smokehouses exhaustion", retornoArray.Filters_on_smokehouse_exhaustion, "", "") +
                montaLinha2Cols("Reprocessing target", retornoArray.Reprocessing_target, "target", "%") +
                montaLinha3Cols("Rework", retornoArray.Rework1, retornoArray.Rework2, "bad", "bad", "%", "%") +
                montaLinha2Cols("Flavor", retornoArray.Cooking_flavor, "", "") +
                montaLinha2Cols("Odor", retornoArray.Odor, "", "") +
                montaLinha2Cols("Texture", retornoArray.Texture, "", "") +
                montaLinha2Cols("Appearance", retornoArray.Appearance, "", "") +
                "</tbody></table>";

                $("#rawSide").html(tableRawSide + tableCMeCD + tableBeL + tableFinalRawSide);
                $("#cooking").html(tableCooking + tableCooking2);
            }
        };

        function ShowRawSide() {
            if ($("#rawSide").hide()) {
                $("#rawSide").show();
                $("#btnRawSide").addClass('btn-primary');
                $("#btnCooking").removeClass('btn-primary');
            }
            $("#cooking").hide();
        };

        function ShowCooking() {
            if ($("#cooking").hide()) {
                $("#cooking").show();
                $("#btnCooking").addClass('btn-primary');
                $("#btnRawSide").removeClass('btn-primary');
            }
            $("#rawSide").hide();
        };

    $(document).mousemove(function(e) {
        window.x = e.pageX;
        window.y = e.pageY;
    });

    </script>

}
