
@model SgqService.ViewModels.FormularioParaRelatorioViewModel
@using DTO
@{

    Layout = "~\\Views\\RelatoriosSgq\\_FilterReports.cshtml";

    ViewBag.Title = "Formulario";

    //var url = Url.Action("Index", "Home");

}

@section Content {
    <style>
        .panel-info {
            border-color: #999;
        }

            .panel-info > .panel-heading {
                background-color: #ccc;
                border-color: #999;
                color: #333;
            }

        .chart-inner {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #CustomPopover {
            z-index: 1040;
            border-width: 2px;
            padding: 8px;
            border-radius: 2px !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            position: absolute;
            background: white;
        }

            #CustomPopover .btn {
                margin-left: 1px;
                margin-right: 1px;
            }

        .geral-note {
            padding: 2px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #ebe9e8;
            text-align: center;
            width: 60%;
            margin: auto;
            margin-bottom: 10px;
        }

        #tituloDesdobramento {
            text-align: center;
            font-size: 20px;
        }
    </style>


    <div class="page-content-wrapper">
        <div class="page-content">
            <div id="pivot-table" style="max-width:21cm;">
               
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script>
        var cabecalhos = [
            "AV",
            //"Unidade",
        ];
        var linhas = [
            "Indicador",
            "Monitoramento",
            "Tarefa",
        ];

        var valores = [
            "AVComPeso",
            "NCComPeso",
            "HoraColeta",
            "NC",
            "Monitor",
        ]

        var obj = [];
        var qtdMockColuna = 1;
        var qtdMockLinha = 2;
        for (var i = 0; i <= 200; i++) {
            obj.push(
                {
                    "cotoco": "Cotoco " + Math.round(Math.random() * qtdMockColuna),
                    cabecalho2: "Monitoramento " + Math.round(Math.random() * qtdMockColuna),
                    cabecalho3: "Unidade " + Math.round(Math.random() * qtdMockColuna),
                    cabecalho4: "Turno " + Math.round(Math.random() * qtdMockColuna),
                    cabecalho5: "Av " + Math.round(Math.random() * qtdMockColuna),
                    linha1: "Cluster " + Math.round(Math.random() * qtdMockLinha),
                    linha2: "Função " + Math.round(Math.random() * qtdMockLinha),
                    linha3: "Amostra " + Math.round(Math.random() * qtdMockLinha),
                    linha4: "Cabecalho " + Math.round(Math.random() * qtdMockLinha),
                    'Valor X': Math.round(Math.random() * 50),
                    'Valor Y': Math.round(Math.random() * 50),
                    'Valor Z': Math.round(Math.random() * 50),
                    'Nao Conforme': Math.round(Math.random() * 1) == 0 ? 'C' : 'NC'
                }
            );
        }

        obj = [{ "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Identificação do colaborador ( local, equipamentos, utensílios e tanques coletores)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Limpeza de resíduos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Extravasamento do cérebro (se aplicável)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Secção da medula", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Remoção dos olhos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Remoção do cérebro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas linguais", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Serragem da carcaça", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Remoção dos olhos - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Remoção do cérebro - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Dianteiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Medula e dura máter - Traseiro", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Abate", "Tarefa": "Retirada da amígdala -Tonsílas palatinas", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Corte/Desossa", "Tarefa": "Identificação deficiente dos equipamentos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Corte/Desossa", "Tarefa": "Limpeza de resíduos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "DIF", "Tarefa": "Identificação do colaborador ( local, equipamentos, utensílios e tanques coletores)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Câmaras e Túneis", "Tarefa": "Identificação do colaborador ( local, equipamentos, utensílios e tanques coletores)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Câmaras e Túneis", "Tarefa": "Limpeza de resíduos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Descartes de MER", "Tarefa": "Pesagem e descarte dos MER's", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Descartes de MER", "Tarefa": "Incineração", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Triparia", "Tarefa": "Identificação do colaborador ( local, equipamentos, utensílios e tanques coletores)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Triparia", "Tarefa": "Limpeza de resíduos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Triparia", "Tarefa": "Remoção do íleo distal", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Triparia", "Tarefa": "Remoção do íleo distal - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Miúdos", "Tarefa": "Identificação do colaborador ( local, equipamentos, utensílios e tanques coletores)", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Miúdos", "Tarefa": "Limpeza de resíduos", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Miúdos", "Tarefa": "Retirada da amígdala -Tonsílas linguais", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Miúdos", "Tarefa": "Retirada da amígdala - Iluminação", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "1.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "NC" }
            , { "Monitor": "gabrielnunes-mtz", "HoraColeta": "17:30", "Indicador": "Monitoramento - MER", "Monitoramento": "Miúdos - Estocagem", "Tarefa": "Estocagem dos Produtos - MER", "Meta": "0.00", "AVComPeso": "1.00", "NCComPeso": "0.00", "Unidade": "Mozarlândia", "AV": "Avaliação 1.00", "NC": "C" }]

        var element = document.getElementById('pivot-table');

        var matrizColunas = { lista: [] };
        var matrizLinhas = { lista: [] };
        for (var i = 0; i < obj.length; i++) {
            montarArvoreDeDados(obj[i], matrizColunas, cabecalhos, 0, cabecalhos.length - 1);
            montarArvoreDeDados(obj[i], matrizLinhas, linhas, 0, linhas.length - 1);
        }

        function montarArvoreDeDados(objeto, matriz, lista, indexAtual, indexMaximo) {
            var nomeDoNivel = lista[indexAtual];
            var valorCabecalho = objeto[nomeDoNivel];

            var itemAtual = {};
            itemAtual.nivel = nomeDoNivel;
            itemAtual.titulo = valorCabecalho;
            itemAtual.lista = [];

            if (matriz.lista) {
                itemDaLista = matriz.lista.filter((item) => item.titulo == valorCabecalho)
                if (itemDaLista.length == 0) {
                    matriz.lista.push(itemAtual); //Adicionado como filho
                } else {
                    itemAtual = itemDaLista[0]; //Já existe na lista de filhos
                }
                //}else if(){
                //	matriz[valorCabecalho] = itemAtual; //Vai ser criado
            } else {
                itemAtual = matriz[valorCabecalho]; //Já existe na lista
            }

            if (indexAtual < indexMaximo) {
                var resultado = montarArvoreDeDados(objeto, itemAtual, lista, ++indexAtual, indexMaximo);
            }
            return matriz;
        }

        //console.log(matrizColunas);
        //console.table(matrizColunas);
        //console.log(matrizLinhas);
        //console.table(matrizLinhas);

        function montaQuantidadeDeSpan(itemMatriz) {
            if (!itemMatriz.filhos) {
                itemMatriz.span = itemMatriz.lista.length;
            }

            for (var i = 0; i < itemMatriz.lista.length; i++) {
                var item = itemMatriz.lista[i];
                var span = montaQuantidadeDeSpan(item);
                if (span > 1) {
                    itemMatriz.span += span - 1;
                }
            }

            return itemMatriz.span;

        }

        var colspanTotal = 0;
        for (var i = 0; i < matrizColunas.lista.length; i++) {
            var item = matrizColunas.lista[i];
            montaQuantidadeDeSpan(item);
            if (item.span == 0) {
                item.span = 1;
            }
            colspanTotal += item.span;
        }
        console.log(matrizColunas);
        console.log(colspanTotal);

        var rowspanTotal = 0;
        for (var i = 0; i < matrizLinhas.lista.length; i++) {
            var item = matrizLinhas.lista[i];
            montaQuantidadeDeSpan(item);
            rowspanTotal += item.span;
        }
        console.log(matrizLinhas);
        console.log(rowspanTotal);

        var htmlTable = "";
        htmlTable += "<table class='table table-bordered table-striped'>";

        /***INICIO: MONTA COLUNAS HTML **********************************************/
        var matrizHtmlColunas = [];
        function montaColunas(itemMatriz, indexAtual, indexMaximo, atributos) {
            var html;

            if (!atributos) {
                atributos = "";
            }
            atributos += " " + itemMatriz.nivel + "='" + itemMatriz.titulo + "'";

            if (indexAtual == indexMaximo) {
                html = '<th ' + atributos + ' colspan="' + valores.length + '">';
            } else {
                html = '<th colspan="' + (itemMatriz.span * valores.length) + '">';
            }
            html += itemMatriz.titulo + '</th>';

            if (!matrizHtmlColunas[indexAtual]) {
                matrizHtmlColunas.push(html);
            } else {
                matrizHtmlColunas[indexAtual] += html;
            }

            ++indexAtual;
            for (var i = 0; i < itemMatriz.lista.length; i++) {
                var item = itemMatriz.lista[i];
                montaColunas(item, indexAtual, indexMaximo, atributos);
            }
        }

        for (var i = 0; i < matrizColunas.lista.length; i++) {
            var item = matrizColunas.lista[i];
            montaColunas(item, 0, cabecalhos.length - 1);
        }
        console.log(matrizColunas);

        for (var i = 0; i < matrizHtmlColunas.length; i++) {
            htmlTable += "<tr>";
            if (i == 0) {
                htmlTable += "<th colspan='" + linhas.length + "' rowspan='" + (cabecalhos.length + 1) + "'></th>";
            }
            htmlTable += matrizHtmlColunas[i];
            htmlTable += "</tr>";
        }
        /***FIM: MONTA COLUNAS HTML **********************************************/

        htmlTable += "<tr>";
        for (var i = 0; i < colspanTotal; i++) {
            for (var j = 0; j < valores.length; j++) {
                htmlTable += "<th>" + valores[j] + "</th>";
            }
        }
        htmlTable += "</tr>";

        /***INICIO: MONTA LINHAS HTML **********************************************/
        var matrizHtmlLinhas = [];
        function montaLinhas(itemMatriz, numeroLinha, indexAtual, indexMaximo, atributos) {
            var html;

            if (!atributos) {
                atributos = "";
            }
            atributos += " " + itemMatriz.nivel + "='" + itemMatriz.titulo + "'";

            if (indexAtual == indexMaximo) {
                html = '<th ' + atributos + '>';
            } else if (itemMatriz.span > 1) {
                html = '<th rowspan="' + itemMatriz.span + '">';
            } else {
                html = '<th>';
            }
            html += itemMatriz.titulo + '</th>';

            if (!matrizHtmlLinhas[numeroLinha]) {
                matrizHtmlLinhas.push(html);
            } else {
                matrizHtmlLinhas[numeroLinha] += html;
            }

            if (indexAtual == indexMaximo) {
                numeroLinha++;
            } else {
                ++indexAtual;
                for (var i = 0; i < itemMatriz.lista.length; i++) {
                    var item = itemMatriz.lista[i];
                    numeroLinha = montaLinhas(item, numeroLinha, indexAtual, indexMaximo, atributos);
                }
            }
            return numeroLinha;

        }

        var numeroLinha = 0;
        for (var i = 0; i < matrizLinhas.lista.length; i++) {
            var item = matrizLinhas.lista[i];
            numeroLinha = montaLinhas(item, numeroLinha, 0, linhas.length - 1);
        }

        for (var i = 0; i < matrizHtmlLinhas.length; i++) {
            htmlTable += "<tr>";
            htmlTable += matrizHtmlLinhas[i];
            for (var j = 0; j < colspanTotal; j++) {
                for (var z = 0; z < valores.length; z++) {
                    htmlTable += "<td data-value='" + valores[z] + "'></td>";
                }
            }
            htmlTable += "</tr>";
        }
        /***FIM: MONTA LINHAS HTML **********************************************/

        htmlTable += "</table>";
        document.querySelector('#pivot-table').innerHTML = htmlTable;
        

        /***INICIO: MONTA VALORES HTML **********************************************/
        var listaTds = document.querySelector('#pivot-table > table').getElementsByTagName('td');

        var listaObj = [...obj];
        var ultimoObjeto = undefined;
        for (var i = 0; i < listaTds.length; i++) {
            var td = listaTds[i];
            var cellIndex = td.cellIndex;
            var rowIndex = td.parentNode.rowIndex;

            var numeroObjeto = (cellIndex - td.parentNode.getElementsByTagName('th').length);
            var atributos = {};
            var attrColuna = document.querySelector("#pivot-table > table > tbody > tr:nth-child(" + cabecalhos.length + ") > th:nth-child(" + (1 + Math.floor(numeroObjeto / valores.length)) + ")").attributes;
            for (var j = 0; j < attrColuna.length; j++) {
                atributos[attrColuna[j].name] = attrColuna[j].value;
            }
            var linha = document.querySelector("#pivot-table > table > tbody > tr:nth-child(" + (rowIndex + 1) + ")").getElementsByTagName('th');
            var attrLinha = linha[linha.length - 1].attributes;
            for (var j = 0; j < attrLinha.length; j++) {
                atributos[attrLinha[j].name] = attrLinha[j].value;
            }

            var objAtributos = Object.keys(atributos);
            for (var j = 0; j < listaObj.length; j++) {
                var deuMatch = true;
                if (!ultimoObjeto) {
                    for (var z = 0; z < objAtributos.length; z++) {
                        if (listaObj[j][objAtributos[z]] && atributos[objAtributos[z]] != listaObj[j][objAtributos[z]]) {
                            deuMatch = false;
                            break;
                        }
                    }
                }
                if (deuMatch) {
                    ultimoObjeto = listaObj[j];
                    td.innerHTML = ultimoObjeto[td.getAttribute("data-value")];
                    if (((1 + numeroObjeto) % valores.length) == 0) {
                        ultimoObjeto = undefined;
                        listaObj.splice(j, 1);
                    }
                    break;
                }
            }
        }
                                                /***FIM: MONTA VALORES HTML **********************************************/
    </script>
}
