
@{
    ViewBag.Title = "Relatorio do BI";
    //var urlGet = Url.Action("GetRelatorio", "RelatorioGenericoApi");
    var urlGet = Url.Action("getTabela", "api/RelatorioGenerico");
}
<div class="page-content" style="min-height: 600px;">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")
    <div id="formBodyContent">

        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

        <div id="divTable" style="display:none">
            @Html.Partial("~/Views/RelatoriosSgq/_GenericTable.cshtml")
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(".sidebar-toggler").removeClass("hide");
        $(".page-sidebar-wrapper").removeClass("hide");
        $('#simpleCallendar').hide().attr('disabled', true);

        var urlGet = '@Html.Raw(@urlGet)';
        var $btn = $('#btnSend');

        $(document).ready(function () {
            formControl.showFullCallendar();
            formControl.showUnit();
            closeLeftSidebar();

            $("#btnSend").click(function (e) {
                Send(true);
            });


            //$('#genericTable').DataTable();


        });

        function Send(toggle) {

            $btn.button('loading');

            //$('#results').empty();

            //if (!ValidaDadosParaEnvio()) {
            //    $btn.button('reset');
            //    return;
            //}

            $('#divTable').hide();

            //EasyAjax(urlGet, enviar, GerarTabela, "load", toggle);//AJAX

            GerarTabela();
        };


        function GerarTabela() {


        }

        //Angular
        angular.module("sgqSystem").controller('MainCtrl', ['$scope', '$http', '$compile', function ($scope, $http, $compile) {

            // remover e reinserir o elemento para funcionar no angular
            $('#btnSend').replaceWith($('#btnSend'));

            // inserir ng-click no botao
            $('#btnSend').attr('ng-click', 'getTable()');

            // compilar o elemento
            $compile($('#btnSend'))($scope);

            $scope.header = [];
            $scope.bodies = {};
            $scope.getTable = function () {

                //fazer ajax
                $http({
                    method: 'POST',
                    url: urlGet
                }).then(function (retorno) {

                    $scope.header = retorno.data.header;
                    $scope.bodies = retorno.data.body;

                    $btn.button('reset');
                    $('#divTable').show();

                }, function (error) {
                    console.log(error);
                    $btn.button('reset');

                });

            }

        }]);

    </script>

}

