@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = "Visão Geral da Área";
    var url = Url.Action("Index", "Home");
    var urlTabela1 = Url.Action("VisaoGeralDaAreaTbl1", "RelatoriosSgq");
    var urlGrafico1 = Url.Action("Grafico1", "api/VisaoGeralDaArea");
    var urlGrafico2 = Url.Action("Grafico2", "api/VisaoGeralDaArea");

}

<div class="page-content" style="min-height: 600px;">
    
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        <div id="containerRankingMensalRegional"></div>
        <div id="containerRankingMensalUnidade"></div>
        
        <div id="tabela1div"></div>

        <div id="tabela2"></div>

        <div id="grafico1"></div>

        <div id="grafico2"></div>

        <div id="grafico3"></div>

    </div>

</div>

@section Scripts {


    <script type="text/javascript">


    var urlTabela1 = '@Html.Raw(@urlTabela1)';
    var urlGrafico1 = '@Html.Raw(@urlGrafico1)';
    var urlGrafico2 = '@Html.Raw(@urlGrafico2)';

    var $btn = $('#btnSend');
    $('#simpleCallendar').hide().attr('disabled', true);

    function Send(toggle) {
        $btn.button('loading');
        $('#results').empty();

        if (!ValidaDadosParaEnvio()) {
            $btn.button('reset');
            return;
        }

        //AJAX
        $.post(urlGrafico1, enviar, function (r) {
            try {
                if (toggle == undefined)
                    $('#menu-toggle').click();
                //CriarTbl1(r);
                Grafico1(r);
            } catch (e) {
                console.log(e);
            } finally {
                $btn.button('reset');
            }
        }).fail(function (e, h, x) {
            $btn.button('reset');
            if (e.status == 0) {
                GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.statusText);
            } else {
                GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.responseJSON.Message);
            }
        });

        //AJAX
        $.post(urlTabela1, enviar, function (r) {
            try {
                if (toggle == undefined)
                    $('#menu-toggle').click();
                CriarTbl1(r);
            } catch (e) {
                console.log(e);
            } finally {
                $btn.button('reset');
            }
        }).fail(function (e, h, x) {
            $btn.button('reset');
            if (e.status == 0) {
                GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.statusText);
            } else {
                GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.responseJSON.Message);
            }
        });
    };

    function CriarTbl1(r) {
        $('#tabela1div').append(r);
    }

    function ValidaDadosParaEnvio() {
        GuardJs.resetForValidation();
        GuardJs.CheckRangeDateTime(enviar.endDate, enviar.startDate, "Initial date", "End date");
        /*Especifico*/
        //if (!($('#unitId :selected').val() > 0))
        //{
        //    GuardJs.exibirMensagemAlerta("Por favor selecione uma unidade.");
        //    return false;
        //}
        if (!GuardJs.isValid)
            return !GuardJs.isValid;
        GuardJs.esconderMensagem();

        return true;
    }

    $(document).ready(function () {

        $("#btnSend").click(function (e) {
            Send();
        });

        formControl.showFullCallendar();
        //formControl.showUnit();

    });

    function Grafico1(data) {

        var scorecardJbs = MapeiaValorParaHC(data, "scorecardJbs");
        var scorecardRegional = MapeiaValorParaHC(data, "scorecardJbsReg");
        var NomeRegional = MapeiaValorParaHC(data, "regName");
        //var meta = MapeiaValorParaHC(data, "meta");
        var id = MapeiaValorParaHC(data, "regId");

        $('#containerRankingMensalRegional').empty().highcharts({
            credits: {
                enabled: false
            },
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: [{
                categories: NomeRegional,
                crosshair: true,
                title: {
                    text: 'Regionais',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value} %',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: '% Scorecard',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                plotLines: [{
                    value: 80,
                    width: 2,
                    color: 'black',
                    dashStyle: 'dash',
                    zIndex: 4,
                    label: {
                        text: 'Meta 80%',
                        align: 'right',
                        y: -10,
                        x: 0
                    }
                }]
            }],
            tooltip: {
                shared: true
            },
            series: [
                {
                    name: 'Scorecard',
                    data: scorecardRegional,
                    linkedTo: 'id1',
                    point: {
                        events: {
                            click: function () {
                                //console.log(id[this.x])
                                Grafico2(id[this.x]);

                            }
                        }
                    },
                    type: 'column',
                    yAxis: 0,
                    color: Highcharts.getOptions().colors[0],
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'right',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    },
                    tooltip: {
                        valueSuffix: '%'
                    },
                    zones: [{
                        value: 69,
                        color: 'rgba(189,76,76,1)'
                    }, {
                        value: 80,
                        color: 'rgba(207,206,64,1)'
                    }, {
                        color: 'rgba(81,207,64,1)'
                    }],
                },
                {
                    name: 'Scorecard JBS',
                    data: scorecardJbs,
                    color: 'rgba(170,0,0,1)',
                    tooltip: {
                        valueSuffix: '%'
                    }
                }
            ]
        });
    }

    function Grafico2(idRegional) {

        $.post(urlGrafico2 + "/" + idRegional, function (data) {

            var sigla = MapeiaValorParaHC(data, "companySigla");
            var scorecard = MapeiaValorParaHC(data, "companyScorecard");
            var scorecardJbs = MapeiaValorParaHC(data, "scorecardJbs");
            var scorecardRegional = MapeiaValorParaHC(data, "scorecardJbsReg");

            $('#containerRankingMensalUnidade').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: sigla,
                    crosshair: true,
                    title: {
                        text: 'Unidades',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }],
                yAxis: [{
                    labels: {
                        format: '{value} %',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: '% Scorecard',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    plotLines: [{
                        value: 80,
                        width: 2,
                        color: 'black',
                        dashStyle: 'dash',
                        zIndex: 4,
                        label: {
                            text: 'Meta 80%',
                            align: 'right',
                            y: -10,
                            x: 0
                        }
                    }]
                }],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        linkedTo: 'id1',
                        name: 'Scorecard',
                        type: 'column',
                        yAxis: 0,
                        color: Highcharts.getOptions().colors[0],
                        data: scorecard,
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'right',
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        },
                        tooltip: {
                            valueSuffix: '%'
                        },
                        zones: [{
                            value: 69,
                            color: 'rgba(189,76,76,1)'
                        }, {
                            value: 80,
                            color: 'rgba(207,206,64,1)'
                        }, {
                            color: 'rgba(81,207,64,1)'
                        }],
                    }, {
                        name: 'Scorecard JBS',
                        data: scorecardJbs,
                        color: 'rgba(170,0,0,1)',
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }, {
                        name: 'Scorecard Regional',
                        data: scorecardRegional,
                        color: 'rgba(0,0,139,1)',
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }]
            });

        });

    }


    </script>

}
